[2021-01-13 09:40] #2110 closed

[2021-01-13 13:25] paolodedo opened #2111 "Reactive Neo4j repositories -> No bean named 'reactiveTransactionManager' available error"
Hello, I gave ReactiveNeo4jRepository a try. Though, it doesn't work at all.

- Spring Boot Starter Parent v 2.4.1

I have:

1) **POM**

[code]

2) **ANNOTATION on Application class**

`@EnableReactiveNeo4jRepositories`

3) **REPOSITORY**
[code]

4) **CONTROLLER**

[code]

The "subscription" is so made through the REST service caller.

Result is:

[code]

[2021-01-13 13:28] michael-simons commented on #2111
Spring Boot does not configure a reactive transaction manager for you out of the box. Feel free to raise an issue over there or or provide a bean of your own:

[code]

See here for example: https://github.com/michael-simons/neo4j-from-the-jvm-ecosystem/blob/master/spring-data-reactive/src/main/java/org/neo4j/examples/jvm/spring/data/reactive/Application.java

[2021-01-13 13:28] #2111 closed

[2021-01-13 13:55] paolodedo commented on #2111
Thank you.

This error comes out:

[code]

[2021-01-13 14:24] #2026 closed

[2021-01-13 14:26] christophstrobl opened #2112 "Release 6.0.4 (2020.0.4)"

[2021-01-13 14:54] #2025 closed

[2021-01-13 14:56] christophstrobl opened #2113 "Release 6.1 M3 (2021.0.0)"

[2021-01-13 16:07] meistermeier commented on #2111
The exception comes now from the Spring Data REST project and you should make sure that the identifier of you entity is serializable.
Besides this: I am very sure that the mixture of Spring Data REST, which is using imperative (blocking) webmvc, and the reactive functionality of SDN will not play well together.

[2021-01-13 16:51] paolodedo commented on #2111
@meistermeier

I think you are right.. Spring Data REST context does not get up, since appending its prefix (spring.data.rest.base-path: /test) to the HTTP call (localhost:8080/test) gives me NumberFormatException, instead of being the prefix for my services (all exposed after /test):

`org.springframework.core.convert.ConversionFailedException: Failed to convert from type [java.lang.String] to ty

[2021-01-14 07:07] Jafeyyu opened #2114 "Include all nodes of a path during mapping."
https://github.com/spring-projects/spring-data-neo4j/blob/f18e15a6b899cdcdf719e1bc68e61c4c4a7d7d3d/src/main/java/org/springframework/data/neo4j/core/mapping/DefaultNeo4jEntityConverter.java#L487
The Nodes of Path need to filter should be PATH_START and PATH_END,but there is PATH_START and PATH_START

[2021-01-14 08:46] michael-simons commented on #2114
🤦 Oh dear.

Thank you so much.

[2021-01-14 12:39] mrksph opened #2116 "SDN 6.0.x detects transitive dependencies' usage of Reactor library as own and fails to connect to older versions of Neo4J"
Hi,

EDIT: I created a related issue under Spring Boot Actuator, https://github.com/spring-projects/spring-boot/issues/24838

I've been struggling with this problem for a while.
I'm using Spring Boot v2.4.1 with SDN v6.0.1.
The problem is when I try to connect to a Neo4j instance version 3.5.17 it fails with the following exception:
[code]

After debugging Spring's internals, I've found out where

[2021-01-14 13:51] mrksph commented on #2116
Ok, after some researching I think this is more of a Spring Boot Actuator Autoconfigure problem.

Here's the commit that adds that check.
https://github.com/spring-projects/spring-boot/commit/ae5ae72889926d1eabe1ca492e0d77479d9c659e

So the problem is that if Spring Boot Actuator detects Reactor in the classpath (even as a transitive dependency) it instantiates a ReactiveHealthcheckEndpoint. When

[2021-01-14 14:07] snicoll commented on #2116
I suggest closing this issue to avoid wasted efforts on two separate issue that are describing the same problem.

[2021-01-14 14:10] mrksph commented on #2116
Ok, yes I think its more of an Actuator issue. Thanks

[2021-01-14 14:10] #2116 closed

[2021-01-14 18:00] michael-simons commented on #2114
There are a couple of scenarios where not all nodes or not all relationships of a path have been included in the mapping. First of call we filtered on the wrong path segment as documented by @Jafeyyu in this ticket and in some scenarios the synthesization of values did not include the segments in such a way that everything in the result was actually used in the mapping.

This is fixed by synthesiz

[2021-01-14 18:13] #2114 closed

[2021-01-14 18:21] michael-simons commented on #2099
This is fixed and will be included in the next patch releases in February. Thank you for your contribution, @steffen-harbich-cognitum

[2021-01-14 18:21] #2099 closed

[2021-01-14 21:52] michael-simons opened #2117 "Exclude relationships from projections when not projected."
Currently relationships are not transferred over the wire when excluded via projections, but are part of the query. This should not be the case.

cc @Andy2003

[2021-01-14 23:40] Jafeyyu commented on #2114
I think you are right, I thought so before, but I don't know how to describe it, because my English is not very good, because of this problem, I put the version at 5.6.3 in my project,Thank you for fixed it

[2021-01-15 06:28] michael-simons commented on #2114
No worries, your contribution is appreciated, I wouldn't have the issue so soon without it. Take care!

[2021-01-15 09:47] #2117 closed

[2021-01-15 10:38] michael-simons commented on #1763
This has been fixed with https://github.com/neo4j/neo4j-ogm/commit/6475ae81fc6ddb70cf31311a119c6225abd09928, released as OGM 3.1.14 which was part of SDN 5.1.11 for the first time.

[2021-01-15 11:39] #1763 closed

[2021-01-15 12:21] michael-simons commented on #1902
This is a duplicate of #2110.

[2021-01-15 12:21] #1902 closed

[2021-01-18 11:17] michael-simons opened #2118 "Don't overwrite unknown properties of known nodes and relationships."

[2021-01-18 11:59] wolfy027 commented on #2034
Thanks, the issue got solved with the updated query suggested by @robin850

[2021-01-18 14:53] wolfy027 commented on #2034
`MATCH (c:Animal {uuid: $id})  OPTIONAL MATCH (c)-[r:PARENT]->(p:Animal) RETURN p,collect(r),collect(p)`

This gives me response with attributes of current node and it's parent's nodes, but it skips the grand-parent's attributes.

`MATCH (c:Animal {uuid: $id})  OPTIONAL MATCH (c)-[r:PARENT*]->(p:Animal) RETURN p,collect(r),collect(p)` does'nt work

What should be the suggested change?  @robin850 @

[2021-01-18 17:11] wolfy027 opened #2119 "Not able to retrieve grand ancestor attributes overriden/included in current node data"
Custom Query used in AnimalRepository > @Query:

MATCH (c:Animal {uuid: $id}) OPTIONAL MATCH path=(c)-[r:PARENT]->(p:Animal) RETURN path,collect(r),collect(p)
Spring Boot Version before update : 2.3.4

Spring Boot Version before update : 2.4.1

Domain reference:

[code]

This gives me response with attributes of current node and it's parent's nodes, but it skips the grand-parent's attributes.

MAT

[2021-01-19 07:59] meistermeier commented on #2034
Before I open up a new issue on this one: Could you set the SDN version to 6.0.3 in your pom?
There were several fixes targeting inheritance.

[2021-01-19 08:01] meistermeier commented on #2119
Just commented on the other issue with the same reply because I haven't seen this issue first. Please feel free to ignore the comment over there ;)
Could you set the SDN version to 6.0.3 in your pom?
There were several fixes targeting inheritance.

[2021-01-19 09:16] wolfy027 commented on #2119
Sure, Will do so and comment

[2021-01-19 14:20] meistermeier opened #2121 "Optimize path querying and mapping"
The path-based querying and mapping should result in records that can be processed as:
variable | description
-------- | -----------
n | root / leading node of the record
__srn__ | `collect(nodes(allPathSegments))`
__sr__ | `collect(relationships(allPathSegments))`

[2021-01-20 10:35] michael-simons opened #2123 "Select correct conversion for assigned ids of related nodes."
SDN 6 upto 6.0.3 selects the wrong persistent entity when writing out the id of the start of a relation which leads to the wrong conversion being applied. This causes errors when the id is not convertible via one of the preregistered converters but through a custom one (via `@ConvertWith`).

Note that this does not affect the value of the id: The correct value is applied.

[2021-01-20 22:16] myfrontpocket commented on #2031
Updated to the latest version that includes these changes, but our repository call returns `null`, instead of blowing up with the instantiation error.

[2021-01-21 10:39] michael-simons commented on #2006
Related to #2118 Id properties will be filled very soon.

[2021-01-21 12:20] michael-simons opened #2124 "Fix failing save for uninitialized maps of dynamic properties."

[2021-01-22 10:03] michael-simons commented on #1568
This is now implemented @frant-hartm

[2021-01-22 10:03] #1568 closed

[2021-01-22 12:26] meistermeier commented on #2029
@BreadAndRoses95 (if you think, you are the wrong user, please feel free to ignore this message)
This is unfortunately not possible out-of-the-box.
When using projection, Spring Data has to create an instance of the entity itself first to then project the values.
There are three options:
First option:
[code]
has to become _nullable_
[code]
Second option:
Adding the relationships to the projection

[2021-01-22 12:26] #2029 closed

[2021-01-22 14:15] #1807 closed

[2021-01-22 14:25] meistermeier commented on #2119
I am currently working on path related mapping improvements. There will be a fix coming up with the next service release to support a broader range of queries. e.g. something like this
[code]
or because the optional path match with a starting _0_ eliminates the _OPTIONAL_ bit (AFAIK)
[code]
will work.

I leave this issue open for now because I want to give you something that could help you in the

[2021-01-22 17:07] wolfy027 commented on #2119
Hello @meistermeier ,
      Thanks very much for the response. I tried the suggested query with Spring boot 2.4.2, and this time only the child attributes are found , and all ancestor attributes along with parent/grand-parent ones are missing.
I the earlier case the parent attributes were found, Strangely odd to find this. Please notify in case that is the only solution, I can work with the update

[2021-01-22 20:19] sureshpw opened #2125 "Spring SPEL expressions in @Query seems to have broken"
This was working with earlier version of Spring Boot (2.3.4). Giving conversion error in latest version (2.4.2 using SDN 6.0.3). Any suggestions?

[code]

[2021-01-22 20:52] michael-simons commented on #2125
Hi. It has worked by coincidence, as it serializes the whole `Person` object to JSON via Jackson as long as that is possible (Jackson being present and the thing being serializable).

Why the whole person? The SpEL expression cannot know if the parameter has been used in another part of the query as well. So we always pass it in as a whole.

Here a couple of ways to make this work in SDN 6:

[code

[2021-01-22 21:16] sureshpw commented on #2125
The argument person to the repository method is just an example for the test case. It could be a filter criteria or some value object etc. In general, one should be able to provide SPEL expressions in query annotations. It used to work before, we have this implemented for over a year and now trying to upgrade to newer versions.

JPA based `@Query` still works without any problem.
For example: (htt

[2021-01-22 21:41] michael-simons commented on #2125
Spel works the same way before.
Spel extracts the name attribute from the person in your example. And all
other attributes that you refer to in spel.

However, SDN has always passed the complete object as a separate parameter
as well.
Why? Because we can’t pass cypher on the client side and we don’t know if
you used it as cypher parameter as well.
Imagine a scalar string. You might want to use it

[2021-01-22 21:51] sureshpw commented on #2125
Registering a custom converter is what I have to do to reduce code changes. Thanks for the explanation.

BTW, here is the exact feature request in another spring data project:

https://github.com/spring-projects/spring-data-r2dbc/issues/164

[2021-01-23 07:25] michael-simons commented on #2125
I wonder where my head was last night.

We will convert your entities to complete nested maps in 6.1.

https://github.com/spring-projects/spring-data-neo4j/commit/e783dcfd3a6b26971643ddd06b2e3be30afb700d

Regardless of that: Spel works exactly as it did with SDN5 and other modules. The above part is a plus.

[2021-01-23 07:25] #2125 closed

[2021-01-25 10:39] meistermeier commented on #2119
As I said, the improvements for this will come in the next service release.
For now (and I do not even know why I started this in groovy):
[code]
will do the job. It boils down the whole path mapping to a "root node, relationships, relatedNodes" pattern.

I verified this with
[code]

[2021-01-25 11:09] #2118 closed

[2021-01-25 11:09] #2123 closed

[2021-01-25 11:09] #2124 closed

[2021-01-25 12:39] michael-simons commented on #2015
First of all a bit of investigation was needed to make sure we understand the domain.

Given the following scenario:

[code]

And this domain model:

[code]

and the device entities looking like this

[code]

(This is just an assumption, as it is not specified in the original ticket), the following repository query

[code]

will return the seven "connected" relationships.

@meistermeier is 100% on

[2021-01-25 12:39] #2015 closed

[2021-01-25 13:07] michael-simons commented on #1905
This has been superseded by the work done in https://jira.spring.io/browse/DATAGRAPH-1373?redirect=false.

See the repository under test here

https://github.com/spring-projects/spring-data-neo4j/blob/0858c049f9d335d8f7d29b84463ce6d1a764acd2/src/test/java/org/springframework/data/neo4j/integration/imperative/RepositoryIT.java#L3860-L3873

And the test for this exact feature here

https://github.co

[2021-01-25 13:07] #1905 closed

[2021-01-25 13:24] #2121 closed

[2021-01-25 13:24] #2107 closed

[2021-01-25 13:24] #2109 closed

[2021-01-25 13:24] #2119 closed

[2021-01-25 15:01] michael-simons opened #2127 "Add Kotlin extensions for the Neo4j templates leveraging reified type parameters."

[2021-01-25 17:16] #2127 closed

[2021-01-25 18:06] michael-simons commented on #1903
hey @haris-zynka I hope you're still with us.

SDN/RX has become SDN 6 and this issue has been transferred a bit.
Sorry that took us so long to answer.

The thing is: It was quite hard to understand, because Kotlin.
Kotlin distracted me from the underlying fact that it also happens with pure Java.

We do check for the existence of duplicate properties and a private attribute with the same in a bas

[2021-01-25 18:06] #1903 closed

[2021-01-26 03:22] sureshpw opened #2128 "Cannot map path using SDN 6.0.3"
Similar to issue: #2119. But using `apoc.path.expand` to get all the paths.
Given a sample model: https://neo4j.com/labs/apoc/4.1/graph-querying/expand-paths/
[code]
Previously this can be mapped using a custom `@Query` returning a `Person` node (Spring Boot 2.3.4). That in turn will contain all the relationships and connected nodes. With Spring Boot 2.4.2 and SDN 6.0.3 it is not working.

[2021-01-26 08:36] meistermeier commented on #2128
Neo4j-OGM that was used in SDN version < 6 collected all the returned data and mapped it in a batch afterwards.
With targeting real immutability and reactive support in SDN 6, this cannot be done anymore but needs a more record-oriented.
As you have seen at the other issue(s) we currently improving the path mapping but you need also to take action and return a list of path by collecting all result

[2021-01-26 15:08] michael-simons commented on #1906
Hi @ffaoudi SDN/RX got promoted to SDN 6.

Your example will work in 6.1.

Please note that you have to make sure you return one path per record. SDN 6 works strictly record oriented and will not try to recreate your Graph inside the application.

In you example it would look like this

[code]

[2021-01-26 15:09] #1906 closed

[2021-01-26 15:10] michael-simons commented on #1971
We cannot due this in OGM without making OGM dependent of SDN 5.

[2021-01-26 15:10] #1971 closed

[2021-01-26 15:21] paolodedo opened #2129 "Relationship not working with SDN 6.x"
Hello,

🔵Spring Boot 2.4.1

🔵Spring Data Neo4j 6.0.2

I am noticing that Relationships are not working on the new SDN version (with Spring Boot 2.x and SDN 5.x).

My node models:

[code]

[code]

🔴Every time **I try to add a Device into a Group, and save through GroupRepository** (which `extends PagingAndSortingRepository<Group, Long>`), no relationship is persisted onto Neo4j.

🔴Every time **I tr

[2021-01-26 15:29] AlexPresso opened #2130 "Duplicate relation when querying after an update"
Hey there,
I'm getting relation duplicates when using the repository to find an entity I just saved for a `RelationshipEntity` interpreted in both directions (in two different nodes).

I supposed the two directions could make it an ambiguous relation, but the problem only occurs when I'm saving the entity and querying it again in the same service (probably using the same session). It's also only d

[2021-01-26 15:49] meistermeier commented on #2129
Thanks for reporting this. We will look into the persist operation problem.
For the custom loading part: The Neo4j browser does graphically a little bit more than your query expresses. You could see the real results e.g. in the table view.
The problem with your query is that you neither return the group nor the relationship in the return part of the query. Assuming that you are still working with

[2021-01-26 16:12] paolodedo commented on #2129
Ok thanks for the query, it works well.

I wait for the persist operation, so.

Thank you!!! 🥇

[2021-01-26 16:25] michael-simons commented on #2129
Is there a reason you want to do this with a custom query?

[2021-01-26 16:31] paolodedo commented on #2129
It is an implementation that always works, since model mappings are not, atm.

[2021-01-26 16:34] michael-simons commented on #2129
I am not sure if I get this. I mean, we do generate pretty much that query for a `findAll` or similar on that repo.

I'm not criticizing the use of custom queries at all, I am just wondering.

[2021-01-26 16:43] paolodedo commented on #2129
Again, when mappings will consistently work, I'll switch

[2021-01-26 17:17] sureshpw commented on #2128
Thanks for the suggestion. Snapshot works fine on one-to-many relationships. But not fetching one-to-one relationships
[code]
In this case `collect(path)` correctly obtains all the elements of `cset`. But not the `TO_B` relationship.

[2021-01-26 21:57] mrksph commented on #2128
Wow, just found this. It really broke our expand functionality. Thanks for the collect tip

[2021-01-26 22:07] mrksph commented on #2006
Nice! @michael-simons

[2021-01-27 09:51] meistermeier commented on #2128
@sureshpw could you provide the query you are using to retrieve A, B and C?

@mrksph That is all due to the record-focused mapping as described in https://github.com/spring-projects/spring-data-neo4j/issues/2128#issuecomment-767389195
This was done intentionally because this is the only way that allows us to not brake a (possible) reactive flow.

[2021-01-27 14:27] paolodedo commented on #2129
@michael-simons
I have managed to create relationships with Cypher now, gaining the mapped-relationships mechanism working again.
I am now using .getDevices() instead of a dedicated custom Cypher query.

The only remaining doubt is about `org.springframework.data.neo4j.core.mapping.NoRootNodeMappingException: Could not find mappable nodes or relationships inside Record<{device: node<16>}> for org.

[2021-01-27 18:12] sureshpw commented on #2128
Not only the `collect(path)` one-to-one relationships, the grand children also not returned. Here is a sample project reproducing these problems:

https://github.com/sureshpw/neo4j-path-issue

[2021-01-28 16:02] mrksph commented on #2128
@meistermeier Hi Gerrit, if I use "collect(path)" when expanding a node that has many (14k+) relationships I cant LIMIT the results because they are one big row.

How could I do it?

[2021-01-29 08:05] meistermeier commented on #2128
@sureshpw There were a problem with the snapshot repository. It did not pick up the latest changes. I re-published the current 6.0.4-SNAPSHOT and from what I see with your test project, everything seems to work. I even migrated the `Child` and `GrandChild` relationships from `Set` to a scalar one and the result stayed the same.

[code]

[2021-01-29 12:17] vhh23 opened #2131 "SDN6.0.3 findBy* methods slowing down heavily for a small number of nodes."
SDN 6.0.3, After creating a bi-directional relationship between the same Node Entities, for eg A-Follows->B and B-Follows->A, When you load the Node A via FindById method it slows down and takes seconds to fetch just one node. This can be due to self-referencing relationships.
StackOverFlow Question link - https://stackoverflow.com/questions/65941539/spring-data-neo4j-sdn-6

[2021-01-29 14:22] paolodedo opened #2132 "Persistence of @Node annotated entities removes relationship"
Hello,

🔵Spring Boot 2.4.1

🔵Spring Data Neo4j 6.0.2

I am noticing that if I persist my object, adding a Set of Groups into a Group, through Neo4jRepository, all of my other relationships are DELETED.

My node models:

[code]

[code]

🔴 My Devices Set is totally erased from DB, even if I re-set it.
[code]

**A question: do you ever try to execute your code and test it, before releasing? I am very

[2021-01-29 14:28] meistermeier commented on #2132
We do and we document it. You are talking about well documented behaviour: https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#query-creation.save (There is a warning sign)
That is not the kind of conversation we want to have here, so I will close this.

[2021-01-29 14:28] #2132 closed

[2021-01-29 14:42] paolodedo commented on #2132
Spring Data's aim is to generify a common layer to access db.
Your implementation breaks the normal Spring Data approach, as it can be seen.

Thanks for your "support" 😂😂😂😂😂😂

[2021-01-29 17:42] sureshpw commented on #2128
Great. @meistermeier I ran the tests again and seeing the correct results. Do you know what is the timeline for next release of SDN with these fixes? Thanks

[2021-01-29 18:37] meistermeier commented on #2128
I do not have any official at hand (the calendar is down) but since the next milestone of the next released is scheduled for Feb.,17th (https://github.com/spring-projects/spring-data-commons/wiki/Release-Train-2021.0-(Pascal)) I assume that also the next service release of 2020.0 will happen that day.

[2021-02-01 10:21] K-Lovelace opened #2133 "Remove `o.s.d.annotation.Persistent` from the set of identifying annotations."
I encountered an issue while working with multiple data sources.
I just upgraded from the old Spring SDN/RX to spring-boot-starter-data-neo4j 2.4.0.
I have multiple data providers from Mongo, and I use Neo4j on the side for other operations non-repositories related.
On my main class, I have the following annotations:
[code]
If I remove the `@EnableReactiveNeo4jRepositories` line, every Repository

[2021-02-01 10:23] michael-simons commented on #2133
Hi.

Thanks for the report and sorry for the issues.

Can you please share

* Configuration classes
* The stack trace(s) of the failing build (I guess you probably mean run)

Thanks.

[2021-02-01 14:20] K-Lovelace commented on #2133
Hi, here is the configuration class: (I hope this is what you wanted) :
[code]
And here is the stack trace:

[code]

Please let me know if you need anything else.

[2021-02-01 15:17] chudok opened #2134 "May be second parameter should be a allValues variable?"
https://github.com/spring-projects/spring-data-neo4j/blob/f18e15a6b899cdcdf719e1bc68e61c4c4a7d7d3d/src/main/java/org/springframework/data/neo4j/core/mapping/DefaultNeo4jEntityConverter.java#L517

Because now, custom query returns nested collection of children only second level.  On third level of hierarchy, list is always null

[2021-02-02 08:45] michael-simons commented on #2133
Hi. I can reproduce the issue. It is somewhat related to https://github.com/spring-projects/spring-boot/issues/25069

While the bean in the Boot issue is not a valid `Node`, your's is.
That leads to the following scenario that we believe that your repository can be a Neo4j repository. We must do better checks here.

In the mean time, I recommend to set this

[code]

It will disable the Neo4j repos

[2021-02-02 10:04] #2133 closed

[2021-02-02 11:01] meistermeier commented on #2134
Thanks for spotting this and notifying us.
The current 6.0.3 does already include the fix https://github.com/spring-projects/spring-data-neo4j/blob/6.0.3/src/main/java/org/springframework/data/neo4j/core/mapping/DefaultNeo4jEntityConverter.java#L520
This should work also for the nested collections. Please tell us if this works for you.

[2021-02-02 12:25] chudok commented on #2134
Fix was for 520 line. Here I guess the problem is in line 517
![image](https://user-images.githubusercontent.com/12711129/106599386-08973c80-656a-11eb-8ba5-f3d376b12e51.png)

[2021-02-03 09:03] michael-simons opened #2135 "Add documentation for custom Graph repository fragments."

[2021-02-03 16:47] K-Lovelace opened #2136 "Add support for custom RelationshipProperties Label"
Hi there,

I have been struggling with RelationshipProperties annotation:

I have the following relation:
[code]
and the following bean:
[code]

When I use CrudRepository save method and I pass an empty list as `partners`, it builds a query to delete the relationships (good!)

But the relationship looks like this:
[code]

When I want it to be :

[code]

Is it possible ? Am I doing something wrong

[2021-02-03 17:17] meistermeier commented on #2136
Could you please tell me which version you are using? I have the slight feeling that I had my hands on this issue before and solved it but cannot find the patch for this.
Maybe also you have the chance to try out the next version 6.0.4-SNAPSHOT of SDN.
But for certain I will have a deeper look and try to figure out if the behaviour is still faulty.

[2021-02-03 17:32] K-Lovelace commented on #2136
Hi @meistermeier, I am using spring-data-neo4j 6.0.3. I'll try the snapshot and get back to you

[2021-02-03 18:08] K-Lovelace commented on #2136
I can't find your Snapshot, anywhere, any idea how I can test it ?

[2021-02-08 12:30] mrksph opened #2137 "'findByProperty' not finishing. It tries to load whole graph"
Spring Boot: 2.4.2

I have the following Model:
[code]
Note: A HAS_CURRENCY example: (Country) - [HAS CURRENCY] -> (Currency)

[code]
[code]

If I do countryRepository.findByCode("CODE"), Spring Data executes the following query
[code]

**Expected Behavior:**
I expect countryRepository.findByCode("CODE") to return the Country with the given "CODE" and its Currencies.

**Actual Behavior:**
The actu

[2021-02-09 08:45] michael-simons commented on #2130
Hi. Thank you for opening the ticket.

Can you please share your orchestrating code? The one that calls the repositories or the OGM session?

[2021-02-09 08:51] michael-simons commented on #2130
Can it be that you have some custom queries in between? If so, please have a look here https://github.com/neo4j/neo4j-ogm/issues/868#issuecomment-775773283 and consider adding a hint to the query: `/*+ OGM_READ_ONLY */` (Just after a match or call)

[2021-02-09 09:07] AlexPresso commented on #2130
Hi,
I had a look at it, there's no custom queries in between in this service, there are some in the repository but they aren't called in this service

Sure, here is the orchestrating code:
It starts by the controller (Spring RestController) when receiving an HTTP request:
[code]
Then it calls the service and returns the edited entity:
[code]
At this point, the returned entity doesn't have any dupl

[2021-02-09 09:10] michael-simons commented on #2130
Thanks for the details. Looks correct. Also correct usage of returning the save entity.

The next find, does it happen in the same or a new transaction?

Also, do you have open session in view enabled or not?

[2021-02-09 09:49] AlexPresso commented on #2130
does it happen in the same or a new transaction?
It was done in the controller directly (outside the service transaction) so I would say in a different one, but I'm not sure

Also, do you have open session in view enabled or not?
I don't have any setting to set it off, is it enabled by default ? do I need to disable it even if I'm only using Spring data Neo4J ?

[2021-02-09 10:40] rolevinks opened #2138 "Object mapping does not work correctly with abstract superclass and recursion"
Hi,  I'm using the version 6.0.3 of Spring Data Neo4j and I have a problem with retrieving a simple data structure with an abstract superclass and recursion. The problem is, that the objects are not mapped to their correct type.

This is the model:

[code]

The data structure I've created is

Building -IS_CHILD-> Site -IS_CHILD-> Company

I have defined a BuildingRepository:

[code]

When I retrie

[2021-02-09 16:08] mrksph commented on #2138
Hey, I have the same problem after trying to create an abstract class for what in principle was a concrete class

[code]

[code]

[code]

[code]

[code]

If I do territoryRepository.findAll() every object is of the same type, even though I have some nodes of type Continent and others of type Country

[2021-02-09 19:04] #2135 closed

[2021-02-10 07:47] meistermeier commented on #2137
Hi.
There seems to be something missing in the model you provide.
I just followed along your explanation and end up with a non-cycle model (https://github.com/meistermeier/neo4j-issues-examples/tree/master/sdn-gh2137).
As a result the query is not path-based like you describe but the standard nested relationships style:
[code]
I assume that the `Currency` has a backward relationship to the `Countr

[2021-02-10 10:00] mrksph commented on #2137
Hi @meistermeier,

Yes, you're right. My assumptions were wrong. To reproduce the behavior I must add another relationship to the Country entity.

This relationship is between two Countries, DEPENDENCY_OF is like "A Country that depends on another Country".

So when querying by "findByCode" the generated query uses both Relationships types to hydrate the fields. The HAS_CURRENCY is not a problem b

[2021-02-12 13:32] michael-simons opened #2139 "Fix classcast exception for paginated projections."
A paginated projection leads to a `ClassCastException`.

I think we used the result processor wrong, so stuff works out when creating `Slice` instances beforehand, see closing commit and related https://github.com/spring-projects/spring-data-commons/issues/2296

[2021-02-12 16:00] #2128 closed

[2021-02-12 16:26] #2139 closed

[2021-02-12 16:38] fbiville opened #2141 "NullPointerException when persisting Kotlin data class"
As advised by @michael-simons, I am posting the issue here.

# Setup

- JDK 11
- Kotlin version: 1.4.21
- Spring Data Commons: 2.4.3

# TL;DR

Reproduce the failure by running this one-liner:
[code]

# Bug description
Here is a very simple domain, with `User`s posting `Post`s:

[code]

[code]

There is a basic `Post` repository:

[code]

When trying to persist a new `Post` (referencing a new `User

[2021-02-12 20:59] meistermeier commented on #2137
We changed the path-based queries now to cascading matches. It will still look for everything that is reachable with the given domain model but returns a result (#2140)

[2021-02-12 20:59] #2137 closed

[2021-02-12 20:59] meistermeier commented on #2131
We changed the path-based queries now to cascading matches. It will still look for everything that is reachable with the given domain model but returns a result (#2140)

[2021-02-12 20:59] #2131 closed

[2021-02-12 22:38] meistermeier commented on #2136
Sorry, I forgot the answer. You have to add Spring's snapshot repository.
[code]

[2021-02-16 08:20] michael-simons opened #2142 "Upgrade to Cypher-DSL 2021.0.0."

[2021-02-16 08:22] michael-simons opened #2143 "Upgrade to Neo4j-Java-Driver 4.2.1."

[2021-02-16 08:48] michael-simons opened #2144 "Upgrade to Neo4j 4.2.3."
This affects only testing. SDN 6.1 is still compatible with 4.0 and with 3.5, when downgrading the Java Driver (4.0 being a drop in replacement).

[2021-02-16 09:06] michael-simons opened #2145 "Upgrade to JUnit Causal Cluster Testcontainer extension 2020.0.7."

[2021-02-16 09:29] michael-simons opened #2146 "Clean up repository declarations."
We can remove various repository declarations from the `pom.xml` as they are maintained via Spring Data Commons.

[2021-02-16 10:23] michael-simons opened #2147 "Upgrade test dependencies."

[2021-02-16 10:32] #2143 closed

[2021-02-16 10:32] #2142 closed

[2021-02-16 10:32] #2144 closed

[2021-02-16 10:32] #2145 closed

[2021-02-16 10:32] #2147 closed

[2021-02-16 13:21] Wayne-P commented on #2141
This looks similar to a problem that I have been having ...
https://community.neo4j.com/t/spring-data-neo4j-with-kotlin-relation-example/33678
https://github.com/Wayne-P/kotlindogdemo

[2021-02-16 14:51] meistermeier commented on #2141
Yes, exactly this.
I am currently on this (and I should look more often in the community again).
FYI: Because tomorrow is patch day, I plan to get the save fix in there.
At least this won't fail, _but_ the ids on the related objects in the scenario of dynamic relationships (`Map`) might not be populated after the save operation. To target this I will create another issue as a follow up if I cannot

[2021-02-16 17:53] Wayne-P commented on #2141
Excellent.
Good luck and thank you for your time and efforts on this.
If you manage to get this into the patch, I will give it a try tomorrow evening.

[2021-02-16 21:38] #2141 closed

[2021-02-16 21:40] meistermeier opened #2148 "Return related objects with ids set after save"
This is a follow-up of #2141
Using immutable (related) entities will lead into the situation that SDN cannot just set a generated id on the related objects but needs to create a new instance with the id assigned.
As a conclusion writing back the related entities (or new instances) into new collections, probably simple for `List` and `Set`, needs to get implemented into the imperative and reactive

[2021-02-17 08:54] mp911de opened #2149 "Include Bintray plugin repository"
Artifactory plugin is only available from there.

[2021-02-17 09:00] #2149 closed

[2021-02-17 10:00] #2023 closed

[2021-02-17 10:01] christophstrobl opened #2150 "Release 5.2.14 (Moore SR14)"

[2021-02-17 10:36] #2024 closed

[2021-02-17 10:38] christophstrobl opened #2151 "Release 5.3.8 (Neumann SR8)"

[2021-02-17 12:51] #2112 closed

[2021-02-17 12:53] christophstrobl opened #2152 "Release 6.0.5 (2020.0.5)"

[2021-02-17 13:31] #2113 closed

[2021-02-17 14:57] christophstrobl opened #2153 "Release 6.1 M5 (2021.0.0)"

[2021-02-18 08:00] meistermeier opened #2154 "Return new instance after incrementing version property on immutables."
If an entity is immutable, a new entity created indirectly by the version set does not get returned.
Instead the "old" entity comes back from the called method.

Probably related https://community.neo4j.com/t/sdn6-version/33864

[2021-02-18 08:26] christophstrobl opened #2155 "Release 6.1 M4 (2021.0.0)"

[2021-02-18 09:15] #2154 closed

[2021-02-18 10:20] #2152 closed

[2021-02-18 10:21] christophstrobl opened #2156 "Release 6.0.6 (2020.0.6)"

[2021-02-18 10:39] #2155 closed

[2021-02-18 17:11] martin-salinger opened #2157 "Don't resolve circular possible circular relationships for queries returning count or exists projections."
Hi,

with version 6.0.4 and 6.0.5 a derived count query like
`long countByLastname(String lastname);`
throws an AopInvocationException:
`org.springframework.aop.AopInvocationException: Null return value from advice does not match primitive return type`

The reason is an incorrectly generated cypher query:
`MATCH ... WITH collect(id(n)) AS __sn__ RETURN __sn__`

With version 6.0.3 (and before) the

[2021-02-18 17:26] michael-simons commented on #2157
I can confirm this bug.

[2021-02-18 21:39] michael-simons commented on #2157
This will be fixed in the next patch.

We are sorry for causing you issues. The root cause is to be related in the much improved querying of cycling mapping, which get's triggered by your mapping.

To mitigate the issue, you can use

[code]

or

[code]

(`exists` being affected as well).

[2021-02-19 08:28] meistermeier commented on #2134
Thanks for spotting and sorry for the confusion.This is also fixed since last month in 6.0.x and main.

[2021-02-19 08:28] #2134 closed

[2021-02-19 08:33] martin-salinger commented on #2157
Thank you for the custom query to mitigate the issue!

It´s good to hear that the querying of cycling mapping has been much improved  :thumbsup:

[2021-02-19 11:36] meistermeier opened #2159 "Support for database selection in (Reactive)Neo4jClient"
Respect the `DatabaseSelectionProvider` in the `(Reactive)Neo4jClient` to avoid duplicate definition of the database name when using the fluent API.

[2021-02-19 13:12] michael-simons opened #2160 "Fix headlines in documentation."
Due to some weird behavior of AsciiDoc, the headlines of the migration chapter does not render correct.

[2021-02-19 13:13] #2160 closed

[2021-02-19 17:56] #2157 closed

[2021-02-21 12:41] mhmtszr commented on #1219
Pagination is working but ORDER BY $sortBy is not working I tried different types of queries but I couldn't find a way to sort the custom query dynamically.

[2021-02-22 13:39] michael-simons commented on #1219
There are several ways to do this:

[code]

Or

[code]

Main takeaway though: All derived (aka generated) queries will work with pagination and sorting out of the box. Nothing todo from your side.

Anyway, I can't work much from your question without context.

[2021-02-22 13:46] mhmtszr commented on #1219
@michael-simons Second example works for me thank you. But now I can't use pagination with SpEL support.
``
Unable to convert org.springframework.data.neo4j.repository.query.Neo4jSpelSupport$StringBasedLiteralReplacement to Neo4j Value.
``

[2021-02-22 13:56] michael-simons commented on #1219
Isn't the documentation helpful?

https://docs.spring.io/spring-data/neo4j/docs/6.0.5/reference/html/#custom-queries.spel

[2021-02-22 15:05] mhmtszr commented on #1219
I read this but I still get the same error.

Just a brief example of my query.
``
@Query(value = "MATCH (m:Movie) RETURN m :#{orderBy(#pageable)} SKIP $skip LIMIT $limit;", countQuery = "MATCH (m:Movie) RETURN count(m);")
Page<Movie> getMoviesBy(Pageable pageable);
``

[2021-02-24 07:36] michael-simons opened #2162 "Remove usage of deprecated Spring Data Commons API."
`org.springframework.data.repository.support.PageableExecutionUtils` has been deprecated.

[2021-02-24 07:51] #2162 closed

[2021-02-26 05:53] wurangbo opened #2163 "how to define RelationshipEntity property in spring boot 2.4"
Hi guys，
    We have an existing application which is working fine with the SpringBoot 2.2.2.RELEASE. Now we tried to upgrade it to the
    SpringBoot 2.4.2 version and found properties such as @NodeEntity @RelationshipEntity ,@QueryResult, @StartNode,
    @EndNode not working. How can we fix？

@NodeEntity(label = "ResourceNode")
@Data
@AllArgsConstructor
@NoArgsConstructor
public class ResourceNo

[2021-03-02 09:19] michael-simons opened #2164 "Treat id properties correctly in derived finder methods."
Single instances of domain objects can be projected as well. This can be done with standard projections, i.e. hardcoding the returned object like this:

[code]

In this case, the normal `findById` mechanism kicks in and the id properties are treated correct (depending on whether internally or externally generated or externally assigned).

It is also possible to use dynamic projections like this

[

[2021-03-02 10:49] michael-simons opened #2165 "Support nested projections with cascaded queries."
The cascaded queries introduced in 39f02dfe429b3b12e02e801995395463ff726039 are not triggered correctly when relationships are projected into nested projections.

Nested projections work for all levels of relationships but break as soon as a circle is present, triggering the cascade mechanism.

[2021-03-02 11:44] #2164 closed

[2021-03-02 11:44] #2165 closed

[2021-03-02 12:56] suhasbhairav commented on #1219
Is there any update on this? Paging works but Sorting doesn't.

[2021-03-02 13:59] hadiyarajesh commented on #2163
@NodeEntity -> @Node
@RelationshipEntity -> @Relationship
@QueryResult, @StartNode, @Endnode -> Removed from SDN. You can use embedded native Neo4jClient if required for such operations.

[2021-03-02 14:08] hadiyarajesh opened #2166 "Parameterized apoc.periodic.iterate not working in SDN 6.0.5"
Using below query (SDN 6.0.5) to delete nodes
[code]
It gives following error, even though when passing postId parameter
[code]

Neo4j console says
[code]

[2021-03-02 16:44] #2166 closed

[2021-03-03 14:34] myfrontpocket commented on #2138
I've also ran into this with a similar setup to OP.  It kind of seems that the concrete implementation that is used is random, as opposed to the actual primary label (label 0) on the node in the DB.

[2021-03-03 15:35] meistermeier commented on #2138
Thanks for reporting this. We are currently investigating the problem. I can confirm that this is a bug.

[2021-03-03 16:02] michael-simons commented on #2166
Thanks @hadiyarajesh for closing it.

I will add the reason for why it is not working. The custom query is

[code]

Stored as a Java string between `"`.  So far, so good.

Inside that query we find another string, a Cypher string, between `'`, which is:
[code]

This is passed as a _literal_ string to the apoc method. The `$postId` in it is not a parameter to the query.

[2021-03-04 08:31] michael-simons commented on #1911
Evaluate a way to provide something analog to `QuerydslJpaPredicateExecutor` and `QuerydslJpaRepository` like we seen in Spring Data JPA.

[2021-03-04 10:09] hadiyarajesh commented on #2166
Hi Machael,

I would like to add one thing.  $postId is parameter and it is there. Problem was, i needed to add parameter at third argument in iterate query like this:
[code]
Whole query should look like below and its working
[code]

[2021-03-04 11:19] michael-simons commented on #2166
Yes, thank you.

Now in the fixed query it is indeed a parameter and as such populated.

[2021-03-04 16:39] meistermeier commented on #2138
In a few minutes a _6.0.6-GH-2138-SNAPSHOT_ will appear in the snapshot repositories of Spring.
If you want, you could give it a try. I have taken your examples @rolevinks / @mrksph into the test base to ensure that I have not understood something wrong.

[2021-03-04 17:57] myfrontpocket opened #2168 "Treat no attributes annotated with `@ConvertedWith` as association."
With 6.0.5, I'm trying to work through some OGM-to-SDN migration, and I think I may have come across an issue with `@ConvertWith`, but I'm not sure if my usage is correct or not.

I have a repository test that tests a `findById` method, but as the test spins up and sets up I get an error: `java.lang.IllegalStateException: Required identifier property not found for class ...`

The generalized code:

[2021-03-04 20:46] #2138 closed

[2021-03-05 06:45] meistermeier commented on #2163
I just add for `@QueryResult` you can also go with projections if they project fields of your defined entities.

There is also a section in the reference documentation that helps you with the migration https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#migrating.preparation

If you have any further questions, we can help you either over in our [community Discourse](https://commu

[2021-03-05 06:45] #2163 closed

[2021-03-05 07:19] meistermeier commented on #2138
Since our internal tests went also fine for this, it is now available as 6.0.6-SNAPSHOT and will be part of the next patch round. Again, thanks for reporting this and all your feedback.

[2021-03-05 07:41] meistermeier commented on #2136
Could you give an update on this issue? Spring Data Neo4j 6.0.5 is released since a few weeks.
I am pretty sure that this will fix your problem but would be good to get your input on this.

[2021-03-05 08:43] meistermeier commented on #2028
With the fixes for GH-2167 this is also solved.

[2021-03-05 08:43] #2028 closed

[2021-03-05 20:06] meistermeier commented on #2006
Is this solved for you with the latest version?

[2021-03-09 12:02] meistermeier opened #2169 "Remove block() call from ReactiveNeo4jTemplate"

[2021-03-09 12:12] michael-simons opened #2170 "Update to Cypher-DSL 2021.1.1."
Cypher-DSL 2021.1 won't be ABI compatible with 2021.0.0. Dependent applications needs to be recompiled.

[2021-03-09 14:58] #2169 closed

[2021-03-10 14:09] myfrontpocket commented on #2129
I've faced a similar issue with a setup similar to the OP.  I _think_ the issue here is the relationship `IS_LINKED` for `Device` is on `Device` as an incoming relationship, and also exists on `Group` (as an outgoing).  In this scenario, to get the relationship to persist, I have to save both nodes.  For example, with your code, in a very basic way:

[code]

[2021-03-10 14:55] aslak-dirdal commented on #2129
I'm having the same issue, but I dont have relation linked from both sides.

This works adding the relationship:
[code]

But this does not remove the relationship:
[code]

[2021-03-10 17:05] meistermeier commented on #2129
Could you please checkout (either physically or mentally) https://github.com/meistermeier/neo4j-issues-examples/tree/master/gh-2129 ?
I created tests and setup for every example mentioned in here. Maybe I have misinterpreted your use-cases.
My project uses the latest released version (currently 6.0.5) of SDN that comes with the latest stable Spring Boot 2.4 release.

[2021-03-10 17:10] meistermeier opened #2172 "Documentation has wrong section structure"
The _migration_ part moved in the _custom queries_
![image](https://user-images.githubusercontent.com/435872/110668720-e4afc200-81cb-11eb-9872-9d30fe98656f.png)

[2021-03-10 17:16] aslak-dirdal commented on #2129
I will check. I'm also using Spring Boot 2.4.3 with SDN 6.0.5

I have also created a simple test repo with my issue:
https://github.com/humawork/stackoverflow-66564591

[2021-03-10 17:22] myfrontpocket commented on #2129
I can't actually get these tests to run. I get the error: `org.neo4j.driver.exceptions.ClientException: The client has provided incorrect authentication details too many times in a row.`

But just glancing at it, the tests seem accurate.  In the `saveUnidirectional` test, if you comment/remove either line 35 for 37, it should fail.

[2021-03-10 17:33] myfrontpocket commented on #2129
Okay let me try this comment again... juggling different things...

I can't actually run these tests because I get an authentication error.  Looking for them, they seem to be accurate.  Are `saveUnidirectional` and `saveBidirectional` passing?

[2021-03-10 18:39] meistermeier commented on #2129
1. @aslak-dirdal Provided ids without any generator will always make the entity appear as new. There is also a warning when you persist this.
[code]

2. @myfrontpocket I introduced testcontainers, so you could basically now to a simple `./mvnw clean verify` and the container will spawn and the tests will run without the need of having a running db instance. And yes, the purpose of my example proje

[2021-03-10 19:01] aslak-dirdal commented on #2129
Well. Most nodes in my database have one or more relationships so maybe just add: version = 0 to all nodes before upgrading to Spring Boot 2.4

[2021-03-10 19:14] myfrontpocket commented on #2129
Thanks @meistermeier.  I reran your tests and they all pass.  For my/our own usage, the repository tests do not use `@Transactional`.  We use a test DB to CRUD data for tests, and all data is removed in an `@AfterEach`.

[2021-03-10 20:18] myfrontpocket commented on #2129
@meistermeier Any tips or suggestions would be appreciated.

[2021-03-11 00:00] myfrontpocket commented on #2129
@meistermeier Doing a bit more playing around with my tests, I've figured out that the equivalent of `Group` (the domain with the relationship as outgoing) in my code is abstract.  When I do this, remove the equivalent  `device::setGroups` and `deviceRepository::save`, and then run the test, I can see in the DB once the test finishes that the relationship is persisted.  Once I add `abstract` back

[2021-03-11 01:43] myfrontpocket commented on #2129
Unfortunately, using the `neo4j-issues` code, I can't get this to replicate as I've described.  Not sure what's missing.

[2021-03-11 07:42] meistermeier commented on #2129
@aslak-dirdal using a generator (e.g. the UUID generator) is a valid option and won't require the version (optimistic locking).

@myfrontpocket For completeness, could you by any chance share a minimal project that reproduces this problem?

[2021-03-11 08:46] aslak-dirdal commented on #2129
@meistermeier Thanks for you help. I tried that, and it kind of worked, but now I got several other issue. I will have to postpone the upgrade as this is to time consuming at this point. I might create a new issue later with a reproducable example. Do you prefer a pull request to your repo, or do you want me to share a repo?

[2021-03-11 09:28] meistermeier commented on #2129
It's really up to you. If you just want to provide a reproducer, it might be better to just share the project.

@myfrontpocket I do not why I haven' t seen your additional comments. Maybe you are using an older version of SDN / Spring Boot in your project?

[2021-03-11 13:54] panxianhaoo opened #2174 "Replacement of @QueryResult"
In Spring Data Neo4j 6.0.5 I can't find @Queryresult. How can I map a result returned from neo4j.

[2021-03-11 14:11] ivangfr opened #2175 "InvalidDataAccessResourceUsageException: Variable `__sn__` not defined"
Hi, I've recently updated my project [springboot-caching-neo4j](https://github.com/ivangfr/springboot-caching-neo4j) to `spring-boot:2.4.3`. I am using the dependency `spring-boot-starter-data-neo4j`.

With `spring-boot:2.4.3` (`spring-boot-starter-data-neo4j:2.4.3`, `spring-data-neo4j:6.0.5`), I am facing the exception described below.

The endpoint that throws the exception is one that uses `Pag

[2021-03-11 14:24] myfrontpocket commented on #2129
@meistermeier Nope, I'm on Spring Boot 2.4.3.  I've been playing around with my test again this morning, and I've managed to get it down to one save.  I still have to manage both sides though.  Here's the equivalent OP code:

[code]

This kind of test will pass for me.  If I comment out `device.setGroups(Set.of(group));`, then the test fails.

[2021-03-11 18:41] michael-simons commented on #2174
`QueryResult` is not supported anymore.

You have a couple of options, for example using projections, combining open
dto projections with custom queries and some more.

Is that chapter helpful:
https://docs.spring.io/spring-data/neo4j/docs/6.0.5/reference/html/#faq.custom-queries-and-custom-mappings
(11.8)

Cheers,
Michael.

panxianhaoo ***@***.***> schrieb am Do. 11. März 2021 um
14:54:

[2021-03-11 19:07] myfrontpocket opened #2176 "Instantiation Error for an abstract type when trying to map an inner static class"
Spring Boot 2.4.3.

I have an abstract class that has several inner static classes that extend it.  For example:
[code]

With repository:
[code]

In a repository test, if I create an object of `InnerDomain` and save it, and call a custom query for said object, the object is returned and my test will pass.  However, I've found that if I try to use a pre-existing `InnerDomain` object (created before

[2021-03-11 19:50] mp911de commented on #2176
Do you refer to having that object being stored in the database/repository prior to running your test?

[2021-03-11 19:56] myfrontpocket commented on #2176
Yes, it's in the database prior to the test.

[2021-03-12 06:52] panxianhaoo commented on #2174
Thank you very much, it helps me a lot

[2021-03-12 06:52] #2174 closed

[2021-03-12 10:04] mdelmoral opened #2177 "Problem with two-way relationship"
Hi, I'm a pretty novice in Neo4J and SDN and I'm developing a followers/likes system.
My `pom.xml` has SDN 6.0.5
[code]
My `User` node is:
[code]
The method to create the "likes/follows" is:
[code]
I have only two users for this test: `AAAA` and `BBBB`
If `AAAA` likes `BBBB` the relationship is created well (`AAAA - LIKES -> BBBB`) ✅
The `save` method traces are:
[code]
But now, if `BBBB` tries to

[2021-03-12 10:10] michael-simons commented on #2177
Thanks @mdelmoral

This is definite a bug! The query would make sense when an internal node id would have been used, but you're using an assigned Id. this must be fixed and is in the area of fanning out of queries when circles are detected @meistermeier

[2021-03-12 13:22] meistermeier opened #2178 "Create correct union statements."
This is part of GH-2177

This is due to a bug in the CypherDSL but a workaround in SDN is possible.

[2021-03-12 13:32] #2178 closed

[2021-03-12 17:33] michael-simons commented on #2177
Related fix in the Cypher-DSL: https://github.com/neo4j-contrib/cypher-dsl/commit/428c5c5b154854d6fb0415a6b1d46f467386dc94

[2021-03-13 21:54] meistermeier commented on #2175
Thanks for reporting this. It seems the combination of a cycle in the domain and using `Pageable` led to a bug in the Cypher query creation. We now have a solution in our pipeline.

[2021-03-14 20:41] aaramg opened #2180 "SimpleNeo4jRepository does not implement Neo4jRepository"
Hi.
I want to extend the Neo4jRepository interface with my own CommandBasedNeo4jRepository interface.
So after that, I write CommandBasedNeo4jRepositoryImpl which implements CommandBasedNeo4jRepository. But there are contracts in Neo4jRepository that should be implemented. So for that, I extend SimpleNeo4jRepository which I guess should implement Neo4jRepository but instead, it implements PagingAn

[2021-03-14 21:35] aaramg opened #2182 "Add support for projections inside the Neo4j templates."
Hi.
It would be great to have more helpful methods in Neo4jOperations -> Neo4jTemplate:
for ex:
batchOperations;
aggregations;
finding with geodata
findAndModify(Statement query, Statement update, Class<T> entityClass);
findAndRemove(Statement query, Class<T> entityClass)
mergeNode
createRelationship
mergeRelationship

save() method takes a long time(multiple seconds even) to save the whole hierar

[2021-03-14 21:41] Agh42 commented on #1909
Any new developments on this issue?  I feel that missing the ability to easily save custom properties on a node (like it is possible with OGM or native Cypher queries) is a major miss in an otherwise excellent library.
Is there any proposed way of how to save dynamic properties on individual nodes while using SDN-RX?

[2021-03-14 22:20] meistermeier commented on #1909
Thanks for the friendly overall feedback :)
I think that the existence of `@CompositeProperty` (https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#custom.conversions.composite-properties) might brighten your day. An example domain class annotated with the composite properties can be found here: https://github.com/spring-projects/spring-data-neo4j/blob/872a53648bb3e63f02e981482d6

[2021-03-14 22:22] meistermeier commented on #2182
Thanks for your idea. It somehow aligns with the thoughts we already have in mind.
A first starter would be a `saveJustTheEnittyWithoutLookingAtTheRelationships` (or a little bit shorter :smile: )

[2021-03-14 23:40] Agh42 commented on #1909
This is exactrly what I was looking for - damn I looked up and down through the reference docs and missed it. Thanks a lot!!

[2021-03-15 07:19] meistermeier commented on #1909
Thanks for your feedback.

[2021-03-15 07:19] #1909 closed

[2021-03-15 07:57] michael-simons commented on #2180
I don't understand your question. The docs got you covered:

https://docs.spring.io/spring-data/neo4j/docs/6.0.5/reference/html/#faq.custom-base-repositories (Chapter 11.9)

if that isn't sufficient, here's a test demonstrating what you want to achieve:

https://github.com/spring-projects/spring-data-neo4j/blob/6.0.5/src/test/java/org/springframework/data/neo4j/integration/imperative/CustomBaseRep

[2021-03-15 08:16] michael-simons commented on #1909
For completeness, we also have [`@DynamicLabels`](https://github.com/spring-projects/spring-data-neo4j/blob/872a53648bb3e63f02e981482d60340ad2a6c73e/src/test/java/org/springframework/data/neo4j/integration/shared/common/EntitiesWithDynamicLabels.java#L55) and [dynamic relationships](https://github.com/spring-projects/spring-data-neo4j/blob/872a53648bb3e63f02e981482d60340ad2a6c73e/src/test/java/org

[2021-03-15 09:54] fbiville opened #2183 "Wrong link for composite properties"
In the [current reference docs](https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#mapping.annotations.overview.from.sdn), `[composite-properties]` points to https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#composite-properties, which leads to nowhere.

I assume the correct link is https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#custom.

[2021-03-15 10:32] aaramg commented on #2180
hmm, ok got it. My fault. Was going the wrong way. :)
You can close this "issue". No more questions.
Thank you.

[2021-03-15 10:32] #2180 closed

[2021-03-15 10:39] aaramg commented on #2182
Great to hear this :) Do you plan this to have sooner? Or it is very raw for now??

[2021-03-15 10:45] meistermeier commented on #2183
I have also seen this while answering the older issue.. I will solve this in combination with  #2172

[2021-03-15 11:08] meistermeier commented on #2183
Solved with e87dbce
Already fixed in the main branch.

[2021-03-15 11:08] #2183 closed

[2021-03-15 11:12] #2172 closed

[2021-03-15 14:23] michael-simons commented on #2180
Thanks a lot for your feedback.

[2021-03-15 16:47] meistermeier commented on #2177
Solved with https://github.com/spring-projects/spring-data-neo4j/pull/2181

[2021-03-15 16:47] #2177 closed

[2021-03-15 16:48] meistermeier commented on #2175
Solved with https://github.com/spring-projects/spring-data-neo4j/pull/2179

[2021-03-15 16:48] #2175 closed

[2021-03-15 17:56] michael-simons commented on #2170
Changed from 2021.1.0 to 2021.1.1 as the former is broken, see https://github.com/neo4j-contrib/cypher-dsl/issues/168

[2021-03-15 18:15] michael-simons opened #2185 "Upgrade to Neo4j-Java-Driver 4.2.3."

[2021-03-15 19:00] #2170 closed

[2021-03-15 19:00] #2185 closed

[2021-03-15 20:50] aaramg commented on #2182
Could you please help me to figure out which is the best way to execute modifying queries?
For example:
[code]
The way I found to do it was:
 `neo4jClient.query(........).bindAll(......).fetchAs(......).all()`

 and also maybe the code below can work. Haven't tried yet. ))
[code]
I don't want to use save() as it takes really long time when there are a lot of relationships and nodes hierarchy in th

[2021-03-16 09:59] michael-simons commented on #2182
`client.query(mergeStatement).run()` will be integrated with Spring transaction and execute everything you like.

RE: Long time of ops: Might care to share your domain model?

[2021-03-16 14:37] mp911de opened #2187 "Release 6.1 RC1 (2021.0.0)"

[2021-03-16 15:09] #1911 closed

[2021-03-16 19:59] meistermeier commented on #2159
solved with #2161

[2021-03-16 19:59] #2159 closed

[2021-03-17 07:56] mdelmoral commented on #2177
@michael-simons Thank you for your prompt handling.
Before this issue, I was already planning to retry the `OptimisticLockingFailureException` by implementing a very simple system. I have this code that helps me to generate an OptimisticLockingFailureException effortlessly due to the bug, when the exception occurs it starts the transaction rollback but this same rollback produces an exception that

[2021-03-17 09:45] #2151 closed

[2021-03-17 09:46] mp911de opened #2188 "Release 5.3.9 (Neumann SR9)"

[2021-03-17 10:12] #2156 closed

[2021-03-17 10:12] mp911de opened #2189 "Release 6.0.7 (2020.0.7)"

[2021-03-17 10:38] #2153 closed

[2021-03-17 16:18] robin850 opened #2190 "Unable to update list of relationships"
Hello,

I have a basic relationship between server nodes where one node can have an open port for another server. Basically, something like this:

[code]

I'm trying to update some existing relationships' target node:

[code]

But it doesn't work ; previous relationships remain and new ones don't exist. Am I doing something wrong ? I tried with version 6.0.5 and 6.0.6.

Thank you very much for you

[2021-03-17 22:30] michael-simons commented on #2190
Hi. Thanks for using SDN.

This pattern works well for me:

[code]

Would you please share what's hidden behind the comment? Thank you.

[2021-03-18 08:40] robin850 commented on #2190
Thanks for the quick reply. Sure, here's what's hidden behind the comment:

[code]

[2021-03-18 11:32] mdelmoral opened #2191 "Problem with multiple bidirectional relationships and nodes."
Hi guys, I apologise if I am stubborn.
I posted [this issue](https://github.com/spring-projects/spring-data-neo4j/issues/2177) a few days ago and you quickly saw the error in the creation of the query but I think there is some underlying error in the internal logic because after upgrading to version 6.0.6 the error persists.

I have to add that I am also concerned that the transaction rollback fai

[2021-03-18 13:47] meistermeier commented on #2191
Could you provide a minimal reproducer for your problem?
There are two things to consider:
1. The entities to persist need to have a fitting `equals` method. For example you cannot have the version attribute in there. Otherwise the previous state of an entity does not equal the one that should get persisted after the version for the optimistic locking got incremented.
2. I do not know if you are t

[2021-03-19 10:46] meistermeier commented on #2191
Thanks for your endurance.
My test case for the (what I thought) bug fix was even more simpler than yours and this led to an incomplete fix.
I will improve this and ping you when there is a snapshot of the fix available.
On another note: The exception you are facing regarding the closed transaction does not interfere with correct behaviour. I will have a look at this next week. Background: The tx

[2021-03-19 14:35] mp911de opened #2192 "Update CI to Java 16"

[2021-03-19 16:30] michael-simons opened #2193 "Don't roll back the transaction through setRollbackOnly."
The `Neo4jTransactionHolder` and `ReactiveNeo4jTransactionHolder` must not rollback the transaction itself, but only keep the marker around. Otherwise the exceptions happening through erroneous commits will be shadowed by a failed rollback.

[2021-03-19 17:42] #2193 closed

[2021-03-19 21:07] meistermeier commented on #2191
@michael-simons was so kind, took already a look at the transactions and fixed the multiple rollbacks in 274df9605459e0925a7b5e549b09bbd0765014f4

[2021-03-22 09:17] michael-simons opened #2194 "Condition not rendered in Page request via CypherdslConditionExecutor."

[2021-03-22 09:34] #2194 closed

[2021-03-22 13:17] meistermeier commented on #2191
Resolved with the merge of #2195

[2021-03-22 13:17] #2191 closed

[2021-03-22 15:04] VladoKuruc opened #2196 "Same node with double Relationship not saved correctly"
I have issue with saving node with multiple relationships (with diferent properties) with the same target node. Repository save() method only save last relationship.

To report this issue, I created this test case (test added to org.springframework.data.neo4j.integration.imperative.RepositoryIT.RelationshipProperties)
[code]
I try it with SDN 6.0.x and master branch.

[2021-03-22 15:10] meistermeier opened #2197 "Bidirectional relationships might get deleted"
Given this simple graph
![image](https://user-images.githubusercontent.com/435872/112010963-1445bf00-8b28-11eb-806d-348b696e41f0.png)

With mapping
[code]

If the next step would be to create a back-reference from `Thing3` to `Thing1` by using the following pattern
[code]
to get
![image](https://user-images.githubusercontent.com/435872/112010468-a00b1b80-8b27-11eb-9f07-2989815871ab.png)

This migh

[2021-03-22 15:10] #2197 closed

[2021-03-22 15:24] myfrontpocket commented on #2138
Just updated to Spring Boot 2.4.4, and this is still broken.  I am not getting the correct complete implementation back, and have failing tests.

[2021-03-22 16:45] meistermeier commented on #2196
Thanks for reporting it. I can reproduce it and thinking about how to solve the problem.
SDN wants to create both relationship code-wise but this is done in a `MERGE` statement. Since both relationships point towards the same entity, this is a little bit more tricky.
The underlying "blocker" is that we a very cautious when handling relationships with properties because we don't want to remove in t

[2021-03-23 10:36] michael-simons commented on #2168
Would you mind sharing your `GeneratedValueStrategy` that you are using vor `@GeneratedValue`? Thanks.

[2021-03-23 12:41] michael-simons commented on #2168
I can confirm that this is at least unclear in our documentation. Construct your domain one like this:

[code]

I See that I can improve this.

[2021-03-23 13:01] myfrontpocket commented on #2168
[code]

[2021-03-23 13:12] michael-simons commented on #2168
Thanks. I just wanted to make sure that this is the reason for your issues.

So the problem is you cannot use `ConvertWith` to create map of properties. You must use `CompositeProperty` for that

[code]

using like

this

[code]

this will however generate a prefix, which is inline with Neo4j-OGM's `CompositeAttributeConverter`, so that shouldn't be an issue in your migration.

[2021-03-23 13:13] michael-simons commented on #2168
Here's test code for the example above

[code]

[2021-03-23 13:16] myfrontpocket commented on #2168
Thanks so much!  I'll give this a try!

[2021-03-23 13:54] #2168 closed

[2021-03-23 13:55] michael-simons commented on #2168
Please have a look at this test https://github.com/spring-projects/spring-data-neo4j/blob/master/src/test/java/org/springframework/data/neo4j/integration/issues/gh2168/Gh2168IT.java#L65-L118 added via https://github.com/spring-projects/spring-data-neo4j/commit/1fb0945aff2c167bbc8c52768e5fc6b89e288f45

thank you!

[2021-03-24 08:25] meistermeier commented on #2196
Fixed with merge of GH-2198

[2021-03-24 08:25] #2196 closed

[2021-03-24 10:16] aleksanderlech opened #2199 "Polymorphic query do no longer work in 6.0.6"
Hello,

I am trying to upgrade my spring-data-neo4j to the 6.0.6 and facing issues with polymorphic queries.

My model is something like:

[code]
Now consider the following repository

[code]

That approach was perfectly working in the previous version giving me instances of Cat and Dog basing on the labels. Now I am getting:

[code]

After debugging the DefaultNeo4jEntityConverter I noticed it ge

[2021-03-24 12:38] meistermeier commented on #2148
Solved with merge of GH-2173

[2021-03-24 12:38] #2148 closed

[2021-03-25 07:42] meistermeier commented on #2192
For reference: https://github.com/spring-projects/spring-data-commons/issues/2334

[2021-03-25 09:48] meistermeier commented on #2199
Thanks for your input. Your assumption and analysis is 100% right.
Given an `AbstractNode` repository, the mapping logic only knows about this particular label for the determination of the node that we internally named root node.
Some general information about the mapping process: Because SDN works record oriented, it needs to figure out which of the nodes in the record matches the contract with t

[2021-03-26 23:03] hamidbm opened #2201 "Not able to create more than one repository interface"
I have few Entity node classes (PurchaseEntity, PLIEntity, EntitlementSetEntity, EntitlementEntity, ...) and the server can only start if not more than one repository interface is defined. Currently I have one repository interface (PurchaseRepository), but when I add another repository (like EntitlementRepository for example for the entity Entitlement), the server cannot start and throws the follo

[2021-03-29 05:07] meistermeier commented on #2201
I created an example from your description here: https://github.com/meistermeier/neo4j-issues-examples/tree/master/gh-2201
This starts up completely fine. Can you tell me the differences regarding mapping / entity definition that I have missed to reproduce your problem?

[2021-03-29 09:35] mrksph opened #2202 "Dynamic Query with Template not hydrating relationships"
Hi,

Im trying to use the Neo4jTemplate with a dynamic query. This dynamic query can have multiple where conditions, depending on the user inputs so a Custom Query won't work as I need to build it dynamically.

After building the query, I need to execute it against the database. First I tried using the Neo4jClient because of its flexibility to map the results into Domain Entities but although flex

[2021-03-29 13:28] meistermeier commented on #2202
There are a few things in there that makes it not possible for SDN to map it directly.
Let's get started:
First of all, the result has to be one record for each _BaseHierachy_ and the result from the query above will not fulfill this because you will end up with a cartesian product of _BaseHierarchy_, _Group_ and _Client_.
To mitigate this we advise the users to put the relationships and other nod

[2021-03-29 13:58] mrksph commented on #2202
Wow, thank you Gerrit for the detailed answer with example repo included!

It actually returns what I want, and now I can work on the query having the relationships hydrated. I came up with what you say in your second point, I tried to extract relationships and nodes and then collecting them in the RETURN statement but it didn't work.

Thanks again!

[2021-03-29 16:20] mrksph commented on #2202
@meistermeier just to make sure, those reduce functions should work with whatever subgraph that may be output from a query similar to the one I provided, right?

[2021-03-29 21:16] meistermeier commented on #2202
It should. Also I am wondering that I may have missed something from your initial domain. As you can see in the example, I created now an extra level of depth and it is still working.
One reason could be that you may have not modeled the `PARENT_OF` relationship in every case(?)
It would be good that you have a deeper look at the example and tell me what differs from your domain/example.

Thanks t

[2021-03-30 05:55] meistermeier opened #2203 "Enable mapping of list of lists."
When it comes to mapping, SDN prefers to have the result either in a map projections format or like `rootNode, list(allRelationships), list(allOtherNodes)`.
There are situations, like a path query, when the outcome can become really similar but differs in the list not containing relationships or nodes directly but yet another level of lists. Typically to solve this, Cypher's `reduce` function come

[2021-03-30 08:29] meistermeier commented on #2202
In #2203 I did some work to make it easier to map list of list of relationships/nodes. While doing this I re-remembered that the `PARENT_OF` relationship in your case should be `[:PARENT_OF*..0]` instead of `[:PARENT_OF*]`. Because the latter will only fetch related nodes if there is at least a length of 1.

[2021-03-30 08:34] mrksph commented on #2202
Hi Gerrit, thanks once again. I'm gonna give it a try with the changes you mention.

[2021-03-30 09:48] meistermeier commented on #2199
Solved with #2200

[2021-03-30 09:48] #2199 closed

[2021-03-30 09:55] mrksph commented on #2202
Hey, I got it working but now I see labels are missing. I can retrieve some but not all of them. I've tried unwinding nodes(path) into node and then extracting labels(node) and finally collecting them into a list in the same record with the rest of the data but SDN still won't return Entities with their labels

Do you know why?

Here's the query:

MATCH path=(bh:BaseHierarchy {code:'JQCLB00'})-[:I

[2021-03-30 10:34] meistermeier commented on #2202
Why are you looking for the labels? They are part of the returned `nodes`.
It might be helpful if you could tell me (or create a PR against my example) how the domain looks like. Especially the `(g:Group)-[*]->(c:Client)` part looks as there are more things in there than I assume.

As another side note: We can continue the discussion here in this special case but general problem solving questions

[2021-03-30 11:14] mrksph commented on #2202
I was looking for the labels so I didn't have to set them manually after retrieving the results from the query so I'm not getting them from the nodes

The domain is something like this:

(:BaseHierarchy:Clients)-[:INCLUDES]->(:Client:Group)-[:PARENT_OF*0..N]->(:Client:Firm)-[:PARENT_OF*0..1]->(:Client:Entity)

Okay no problem with that, I can ask a question in the community next time.

[2021-03-30 13:21] meistermeier commented on #2202
As I said, if I would know how the example code relates to your domain, I can be of a better help.
At the moment I just can help you as much as I get information from your side.
Mapping a `BaseHierarchy` node entity and hydrate it in the way you are describing with SDN repositories works and there is no need to extract any additional labels or similar.

[2021-03-30 13:34] meistermeier commented on #2203
Resolved with  #2204

[2021-03-30 13:34] #2203 closed

[2021-03-30 18:05] #2182 closed

[2021-03-30 18:15] Andy2003 opened #2206 "Inheritance mapping with immutable objects fails"
given:

[code]

and

[code]

the following test will fail:

[code]

with exception:

<details>
<summary>with exception: java.lang.InstantiationError: org.springframework.data.neo4j.integration.shared.common.ImmutableInheritedBaseThing</summary>
<br>
<pre>
java.lang.InstantiationError: org.springframework.data.neo4j.integration.shared.common.ImmutableInheritedBaseThing

	at org.springframework.data

[2021-03-31 09:20] meistermeier commented on #2206
Your inheritance model is not supported by Spring Data Neo4j.
You can extend from an abstract class to define concrete implementations but you cannot derive another concrete implementation from an already existing one.
Leaving technical possibilities aside: If we would enable such functionality, I see problems arise on how to define what is the right concrete implementation.
Given you have a `Immu

[2021-03-31 09:45] Andy2003 commented on #2206
I would expect that always the concrete type is returned.
So in your example the `ImmutableInheritedThingRepository` would return `ImmutableInheritedThing` or `ImmutableInheritedThingLevel2` dependent on the given labels.

Its the same for `ImmutableInheritedBaseThingRepository`: I expect it to return all known sub-types of `ImmutableInheritedBaseThing`.

This is also the way it was handled in OGM

[2021-03-31 09:52] mrksph commented on #2202
The full feature we are developing is too much coupled with the business rules so describing it here wouldn't help if I don't go deep into details. I don't have any problem with that but it could take long time to explain it well.

Yea you can forget about the labels part that's because sometimes I don't get the right labels when the nodes I'm searching have more than one. It may be something with

[2021-03-31 10:48] meistermeier commented on #2206
and

Does not necessarily mean that this was not controversial.

This is not controversial because we cannot (without dark proxy magic) instantiate abstract classes.

Long story short: We do not have any plans to extend this, for SDN 6 defined, behaviour right now.

[2021-03-31 14:51] meistermeier commented on #2202
So is there anything I can help you with?

[2021-03-31 15:03] meistermeier commented on #2206
I can see your _valid_ need for this. On the other hand SDN tries to eliminate interpretation of certain functionality.
I would be really interested in seeing your graph model or at least an abstracted version of it to get an understanding for your problem. The reason I am asking: I just cannot get a proper picture of why your model relies so hard on inheritance (of concrete implementations).

[2021-03-31 15:33] #2187 closed

[2021-03-31 15:34] mp911de opened #2208 "Release 6.1 GA (2021.0.0)"

[2021-03-31 16:39] #2189 closed

[2021-03-31 16:40] mp911de opened #2209 "Release 6.0.8 (2020.0.8)"

[2021-03-31 16:58] mrksph commented on #2202
Well, actually yes

We have a structure we call "CustomHierarchy" which can represent either a Query (Theres a node representing a query under de CustomHierarchy node) a Fixed Hierarchy (There are a Client under the CustomHierarchy, then always 2 Virtual nodes (with label Virtual) ) or a Snapshot Hierarchy which is the result of executing a Query against the database.

Right now I'm having trouble

[2021-03-31 17:21] mrksph commented on #2202
Here you can see the logs after executing the repository.save(snapshotHierarchy). You can see there's a line where SDN mapped a relationship type "PARENT_OF" to a node's label which should happen.

[code]

[2021-03-31 19:18] hamidbm commented on #2201
I think the issue is this: when you create a data model (a set of entities) and something is not well configured in one of the entities, SDN when trying to resolve and register the model, it makes another call to the same method again and the entity is found already registered and then it throws an exception. The exception may be valid but it is not informative at all and it does not tell you what

[2021-04-01 01:21] mrksph commented on #2206
Hi, just chiming in because in our project one of the designs we had in mind did rely on inheritance to leverage Java OOP

[2021-04-01 20:15] BenBohannon opened #2210 "Improve documentation for hydrating collections based on queries returning paths."
On 6.0.7, I'm trying to use a custom query like this:

[code]

to get all paths from a single PERSON node to all other PERSON nodes connected by SOME_RELATION_TO regardless of direction or depth, and I also need the relationship properties between each node.

Entities:
[code]
[code]
[code]

My problem is that performing this query from a leaf node (only incoming directions) yields a list containin

[2021-04-02 07:42] michael-simons commented on #2210
Did this work with 6.0.6?

[2021-04-02 08:07] michael-simons commented on #2210
Oh, I guess I see what you want to achieve…
Our relationships are directed.

Here's a test for the standard finders with your model. Does this clear things up?

[code]

[2021-04-02 13:24] BenBohannon commented on #2210
It didn't work with 6.0.6 either.

The test uses findById, and it has the behavior I would expect when querying for a single node: the Java object only stores outgoing relationships, so we lose/don't see any incoming ones. (It would be nice to get both incoming and outgoing relations, but that's another discussion).

When querying for paths, I would expect the returned List of Nodes to be populate

[2021-04-02 13:34] LongStockingPipi opened #2211 "Mapping only populates one related node instead of all"
我在一对多查询的时候，多的那一方始终只能返回一条记录，也就是说集合provideJobs的大小始终是1，当初我以为是ID重复了，但是我用的是@GeneratedValue，不可能出现重复的呀，大神们帮帮我吧，帮帮孩纸吧！！！

`@Relationship(type = "INPUT", direction = Relationship.Direction.OUTGOING)
  private List<Job> provideJobs;`

`@Node("TABLE")
public class Table {

  @Id
  @GeneratedValue
  private Long nodeId;`

`@Node("JOB")
public class Job {

  @Id
  @GeneratedValue
  private Long id;`

[2021-04-02 14:10] BenBohannon commented on #2210
Well, after thinking some more a "list of paths" doesn't make sense, since a list can only contain one path. Maybe a list of lists with one path each would make more sense.

Ultimately, my problem seems to come down to a lack of having both incoming and outgoing relations on a given Node entity. Otherwise I could follow either direction to explore the returned paths.

[2021-04-02 14:22] michael-simons commented on #2210
Thanks already very much for your detailed thoughts and explanation.

Let me recap: the result of ur custom query is populated like it would be
with the standard one. But as u selected everything u expect it to be used.
That would require no small changes in our mapping code but I do understand
the thinking behind it and will add my own after the Easter holidays.

Ben Bohannon ***@***.***> schrieb

[2021-04-05 16:59] mrksph opened #2212 "Slow queries when searching for nodes with more than 1 relationship of the same type"
Hi,

This is my domain entities:

[code]
[code]
[code]
[code]

[code]

[code]

This is my data modelling:

A Parent node includes one Client
`(p:Parent)-[INCLUDES]->(a:Client)`

A Client node can be parent of N Client nodes
`(a:Client)-[PARENT_OF]->(b:Client)`

A Client node can also be parent of N Virtual nodes (almost always, only 2 Virtual nodes)
`(a:Client)-[PARENT_OF]->(v:Virtual)`

A Virtual

[2021-04-05 20:27] hamidbm commented on #2201
I added you to the repo: https://github.com/hamidbm/springboot-rest-datastore
Thanks Gerrit.

[2021-04-06 14:37] mrksph commented on #2212
Yes, with Spring Boot 2.4.1 the quieries SDN builds doesn't depends on OPTIONAL MATCH ing that does increase search time by too much.

[2021-04-07 14:52] where-design-meets-art commented on #1219
Same issue as @mhmtszr.
I attach below my Repository method alongside with the error stack trace:

[code]
[code]

[2021-04-07 15:00] michael-simons commented on #1219
Please share your boot and SDN versions.

[2021-04-07 15:07] where-design-meets-art commented on #1219
Thanks @michael-simons

![image](https://user-images.githubusercontent.com/81367957/113889577-08b2f300-97cc-11eb-9ede-d5091fcd32fb.png)

[2021-04-07 15:52] michael-simons commented on #1219
Please update to boot 2.4.4 (brings 6.0.7) which is required for the above
feature.

where-design-meets-art ***@***.***> schrieb am Mi. 7. Apr.
2021 um 17:07:

[2021-04-07 17:37] where-design-meets-art commented on #1219
Thanks @michael-simons
I did so and i got rid of the error above. I still cannot make it work though...

[code]

[2021-04-07 20:53] michael-simons commented on #1219
Your pageable must refer `p.name`, `name` is not enough. Cypher does not
“import” all properties from the `p` object into a global space, they must
be referred to explicit.

where-design-meets-art ***@***.***> schrieb am Mi. 7. Apr.
2021 um 19:37:

[2021-04-07 20:57] michael-simons commented on #1219
Like this: https://github.com/spring-projects/spring-data-neo4j/blob/408392d8a2e5aa10fd7567579c176c94d7613746/src/test/java/org/springframework/data/neo4j/integration/imperative/RepositoryIT.java#L448

[2021-04-08 08:17] where-design-meets-art commented on #1219
@michael-simons tried with **p.name** also - brand new error attached below, still not working :(

The Pageable payload looks correct:
![image](https://user-images.githubusercontent.com/81367957/113992096-c89b5100-985b-11eb-9b7b-cff27a64c0cf.png)

[code]

[2021-04-08 08:18] michael-simons commented on #1219
I cannot read the trace. Could you please post it as standard java stack trace?

[2021-04-08 08:22] where-design-meets-art commented on #1219
[code]

[2021-04-08 08:27] michael-simons commented on #1219
Hmm… This looks like it fails when executing the count query… Can you confirm this? For example commenting it out?

[2021-04-08 09:30] bujoralexandru commented on #1219
Hello, @michael-simons

This is the error that we receive after commenting the count query:

[code]

[2021-04-08 09:34] michael-simons commented on #1219
That should not happen with a Slicing query as quoted here:

[code]

https://github.com/spring-projects/spring-data-neo4j/issues/1219#issuecomment-814980209

Can you by chance reduce your project to a reproducer?
Just the except of the domain model needed to boot, data is unnecessary, and some tests

It's really hard to pick the details from the comments here, as much as I'd love to help.

[2021-04-08 10:07] michael-simons commented on #2211
I'm sorry, but I cannot make sense out of this ticket, even with Google translate. Can you give an English description? Or a colleague?

[2021-04-08 10:09] michael-simons opened #2213 "Enum properties fail to convert with constructor instantiation."
The `MetaDataDrivenConversionService` registers the `EnumStringConverter` with the delegate. However, the adapter created by Spring is then typed to `java.lang.Enum`, not to the correct enum.

For enum attributes we must use the concrete enum class when registering our converters.

[2021-04-08 10:51] #2213 closed

[2021-04-08 15:10] mrksph commented on #2212
Hi, can we have any updates on this?

We are having problems because if we use SDN 6.0.4 or higher some basic queries start taking too much to complete.
If we use 6.0.4 or lower we don't get the Relationship's IDs when searching for Entities. If we try to use UUIDs instead, there are some cases where SDN is not saving them...

[2021-04-08 15:22] mrksph commented on #2137
Hi Gerrit, I think this Issue raised another Bug. The cascading matches (I think those are the OPTIONALs MATCHes I've been encountering with) is making ours findByProperties queries **very** slow.

[2021-04-08 15:45] mrksph opened #2214 "SDN not creating UUID when saving"
Hi,

Spring Boot 2.4.2, SDN 6.0.3

Im trying to save a Node which has an Outgoing Relationship with UUID as its ID.

[code]

[code]

This results in the relationship not saving the UUID.

[2021-04-08 17:20] robin850 commented on #2190
Trying to upgrade to SDN 6.0.7, there seems to be a difference with 6.0.7 : it works as long as there is a relationship between nodes just one way around.

Basically, the `update` method defined in the original message is "merging" two nodes into a single one. For example, having something like `(a)-[:PORT_OPEN]->(b)` and an untied node `c`, merging `b` and `c` works.

But, having something like `

[2021-04-08 18:56] #2214 closed

[2021-04-09 12:48] michael-simons opened #2215 "Allow projections to be saved as a domain object."
While we can now store a domain object shaped by a projection, we cannot store a projection based on the information of the domain. Adding the inverse of f470690d195b143df3cbd77b65edf4e07ce79d61 would bring symmetry to this part of the API, too.

[2021-04-09 15:44] gsviteri opened #2216 "Allow inheritance of concrete classes"
Hi There,

I've been trying to load nodes via its inheritance type as suggested [here](https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#query-creation.load).

Currently this is the repository I am executing and after adding `__nodeLabels__` I managed to get query to map to the right object, now the issues is that it is loading relationships.
[code]

[2021-04-09 15:50] gsviteri opened #2217 "IllegalArgumentException when loading CustomQueries and Custom DTOs"
Hi devs,

I am running a custom query that is supposed to be mapped to one Custom DTO. See...

[code]

[code]

After running it throws expection

[code]

[2021-04-09 18:34] vince-bickers commented on #2211
When I am performing a one-to-many query, the collection always returns only one record, that is to say, the size of the set "provideJobs" is always 1. At first I thought the ID was duplicated, but I used @GeneratedValue, so that is impossible. Great gods, help me, help the kids! Dishonour! Dishonour on your family! Dishonour on you, dishonour on your cow.

[2021-04-10 11:47] michael-simons opened #2218 "Upgrade to Neo4j-Java-Driver 4.2.4."

[2021-04-10 11:48] michael-simons opened #2219 "Upgrade to Cypher-DSL 2021.1.2."

[2021-04-10 13:26] LongStockingPipi commented on #2211
very good!!!!

[2021-04-11 06:40] aleksanderlech commented on #2199
Thank you very much for your help.

[2021-04-11 06:49] michael-simons commented on #2199
Thank you for using our project AND providing feedback. That’s part of the story too. 👍

[2021-04-12 06:42] michael-simons opened #2220 "Align Neo4j and Neo4j driver versions."
While not strictly necessary, it would be nice to align the versions of Neo4j (the database) and Neo4j (the Java driver).

[2021-04-12 07:11] #2218 closed

[2021-04-12 07:11] #2219 closed

[2021-04-12 07:11] #2220 closed

[2021-04-12 07:34] michael-simons opened #2221 "Upgrade to Neo4j-OGM 3.2.21."

[2021-04-12 07:46] #2221 closed

[2021-04-12 07:55] michael-simons commented on #2201
Hi

* `implementation 'org.neo4j:neo4j-ogm-bolt-driver:3.2.5'`

This is SDN 5.x and Neo4j-OGM. It is not needed and will cause issues. This is not a driver, this a transport module for OGM.

* The custom config

[code]

is unnecessary when using our starter. You are duplicating what is there 100%.

* Module path: We don't test on the module path as Spring Data Commons is not likely to work without

[2021-04-12 07:56] michael-simons commented on #2201
Same with the application: Why excluding the auto config and than recreating it?

[code]

[2021-04-12 08:03] michael-simons commented on #2201
You can omit all the the `BigDecimal` converters I think…

See: https://docs.spring.io/spring-data/neo4j/docs/6.0.7/reference/html/#conversions

[2021-04-12 11:00] michael-simons commented on #2201
I can reproduce the behavior. The underlying issue is that you have

[code]

and

[code]

Both objects triggering the creation of a persistent entity under the label `PLI`. Both entities are necessary to make SDN work, but only one should go into our index lookup.
As we do think that your approach is a valid approach, we are gonna fix the behavior.

Your statement about repositories was kind of a

[2021-04-12 11:10] meistermeier commented on #2202
The resulting `ParentOf` label in the query and also probably the label `CustomParentOf` is due to the fact that you are using a "vague" generic in the `RealNode` relationship definition `List<? extends ParentOf<?>> `.
Spring Data (Neo4j) cannot determine what the type `<T>` will be in the end and tries to create a meta-model of the relationship property class `ParentOf` as a node.
To get around t

[2021-04-12 11:56] meistermeier commented on #2136
I assume that this is solved. Please feel free to re-open it, if the problem still exists.

[2021-04-12 11:56] #2136 closed

[2021-04-12 13:25] meistermeier commented on #2217
There are several things in there to discuss.
Let's start with the error message: `Records with more than one value cannot be converted without a mapper.` This means that the query results in multiple records (fields). Because you are returning multiple fields intentionally, the error message is expected to happen in this case. Spring Data Neo4j does not know how to put those "arbitrary" fields in

[2021-04-12 13:39] meistermeier commented on #2216
The query does not look this complicated and it should be easily get substituted with the "common" custom query design https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#custom-queries
So you won't need the hacks with the node labels (I mentioned them in the #2217 for the more complex case) but a
[code]
should be sufficient.
In additional to this: If the `dbId` property is the `

[2021-04-12 13:48] meistermeier commented on #2212
Yes, you are right: We moved in 6.0.4 from a path-based approach to a cascading match. On each level it would create the `OPTIONAL MATCH` for all possible relationships.
The previous method with the paths lead to a high amount of data that ramped up on the database side and lead to problems with responsiveness of the database. So some obvious very simple queries could more or less kill the databas

[2021-04-12 14:16] mrksph commented on #2212
Hi @meistermeier , yes you are right. The slow times are related to the amount of nodes of a given type.

We have 1 Million nodes in total. About 600k of the most common nodes.

[2021-04-12 15:27] gsviteri commented on #2217
Thank you very much.  @meistermeier

Excellent. So far happy with the second option of using Neo4jClient and writing my own mapping function.
Minor issue: The value after mapping are "double quoted" - see attachment, please.
![image](https://user-images.githubusercontent.com/6883670/114419918-c0207e80-9bab-11eb-903e-f9138602d3dc.png)

Thank you!

[2021-04-12 15:31] meistermeier commented on #2217
Glad to hear this: Because you have now Neo4j Java Driver types in your hand, you should use the driver's conversion function like `asString()` / `asLong()` / ... as needed to get the correct value.

[2021-04-12 15:31] #2217 closed

[2021-04-12 15:34] meistermeier commented on #2217
Just adding the edit as a new message to notify you: https://neo4j.com/docs/api/java-driver/4.2/org/neo4j/driver/Value.html

[2021-04-12 19:07] Wayne-P opened #2223 "Generated objects onSave are not considered as already processed."
So looking for a little clarification here on a possible issue.

As first referenced by https://community.neo4j.com/t/kotlin-neo4j-graph-saving/36378/1

Kotlin 1.4.31
Spring Framework Boot 2.4.4
Desktop 4.2.4
also see GitHub - [https://github.com/Wayne-P/graph/tree/master](url)

So we have three classes imaginatively labelled _A_, _B_ & _C_
[code]

So, roughly,
_A_ has a _B_ and a _C_.
_B_ has a l

[2021-04-12 19:56] gsviteri commented on #2216
Thanks @meistermeier....

If I try this query in the `@Query` annotation, which I have already tried before, I am then back to the original problem which was related to the inheritance. In this given example if I use a `dbId` of a `Pathway` (69620L), I am expecting to get back and Pathway object but in fact I am getting absolutely any random object every time I run. That's why Florent Biville sugg

[2021-04-13 10:14] #2201 closed

[2021-04-13 10:17] michael-simons commented on #2201
Thank you for input, it was super valuable for us. Fix is in place and so are docs. Please also have a look at the commit message of 43a3047.

[2021-04-13 10:24] michael-simons commented on #1994
Ping.

[2021-04-13 10:25] michael-simons commented on #1892
We have agreed for know that we would not like to have that feature back in SDN.

[2021-04-13 10:25] #1892 closed

[2021-04-13 10:28] michael-simons commented on #1935
Closing due to missing further feedback.

[2021-04-13 10:28] #1935 closed

[2021-04-13 10:42] meistermeier commented on #2216
1. As answered in #2217, the `Neo4jClient` does not know anything about the meta-model and cannot map non-trivial (driver supported) types. For this to work you would have to use the `Neo4jTemplate` or repositories.
2. Spring Data Neo4j supports inheritance only for abstract classes, meaning that you cannot extend a concrete class.
`abstract class DatabaseObject <- ConcreteClassA / ConcreteClassB`

[2021-04-13 12:09] michael-simons opened #2224 "Upgrade to Cypher-DSL 2021.2.0."

[2021-04-13 12:29] #2224 closed

[2021-04-13 20:50] meistermeier opened #2225 "Improve label determination for inherited entities"

[2021-04-14 05:27] #2225 closed

[2021-04-14 06:08] #2146 closed

[2021-04-14 09:27] #2188 closed

[2021-04-14 09:28] mp911de opened #2227 "Release 5.3.10 (Neumann SR10)"

[2021-04-14 09:50] #2209 closed

[2021-04-14 09:50] VladoKuruc opened #2228 "Support multiple relationships properties to same node"
In my case, I need a fully hydrated Node for modifying and save() without data loss.
My datas has more @RelationshipProperties between same nodes.

To simulate this I modified existing unit test:
org.springframework.data.neo4j.integration.imperative.RepositoryIT.RelationshipProperties
[code]
Everything is OK until I add to AltHobby node new property with getter()
[code]

Then I have error on asser

[2021-04-14 09:51] mp911de opened #2229 "Release 6.0.9 (2020.0.9)"

[2021-04-14 12:47] #2208 closed

[2021-04-14 14:55] meistermeier commented on #2223
Thanks for reporting this.
There is now a `issue/gh-2223` branch in place that should produce a `6.0.9-GH-2223-SNAPSHOT` version in a few minutes.
It would be good to get your feedback on this. It looks, at least to me, that the problems, either exception or too much nodes, is gone with this. The change is still a WIP (only imperative, needs some cleaning) but I wanted to get you into the feedback

[2021-04-14 15:26] Wayne-P commented on #2223
Thanks, I have run this 7 times now and on each occasion, it provided me with better results !

![6 0 9-GH-2223-SNAPSHOT](https://user-images.githubusercontent.com/10760853/114736487-0a396980-9d3e-11eb-8bba-7ada81a6f6d4.png)

[2021-04-14 15:31] Wayne-P commented on #2223
I can feed this snapshot into a more challenging graph this evening and will let you know tonight whether that works.

[2021-04-14 15:32] meistermeier commented on #2223
Thanks you very much for the fast feedback.
It might be still rough on the edges but yes, go ahead and stress it ;)

[2021-04-14 18:45] Wayne-P commented on #2223
Okay, I gave this a slightly more extreme test and (a) the saves did not throw an exception and (b) the resulting node displays looked fine in the neo4j desktop application.
I assume that the saves are still not expected to return all of the hydrated ids, as of this snapshot ?

[2021-04-15 06:39] meistermeier commented on #2223
(yet another) great feedback, thanks.
Yes, the id hydration is not yet finished for this fix but at least now I am sure that the direction is the right one and I have not misinterpreted the initial cause for the bug.

[2021-04-15 06:46] meistermeier commented on #2228
Thanks for reporting this. I can reproduce it with the expanded test case, you provided.

[2021-04-15 12:00] michael-simons opened #2230 "Use Cypher-DSL statement parameters in all template methods."
The parameters carried with a `Statement` to one of the templates are currently ignored. That is asymmetrical with the `CypherDSL` executioner and should be improved.

[2021-04-15 12:11] mp911de opened #2231 "Release 6.1.1 (2021.0.1)"

[2021-04-15 12:12] mp911de opened #2232 "Release 6.1 M1 (2021.1.0)"

[2021-04-15 12:16] mp911de opened #2233 "Release 6.2 M1 (2021.1.0)"

[2021-04-15 12:27] gsviteri commented on #2216
Thanks Gerrit
`abstract class DatabaseObject <- ConcreteClassA / ConcreteClassB ✔️`
That has been address in version 6.1.0.

My code using Neo4jTemplate looks like this
[code]

[2021-04-15 13:02] #2230 closed

[2021-04-15 14:42] meistermeier commented on #2223
I noticed that we had the id hydration or, to be correct, the possible re-creation of objects and collections already in 6.1 completed. For me this issue was now a good reason to port it back into the 6.0 line.
I think that this test case represents what you are expecting, right? https://github.com/spring-projects/spring-data-neo4j/commit/a0adf09204715731fe0830cde923e8dc9ebcc49b#diff-632a7e8c36411

[2021-04-15 16:43] Wayne-P commented on #2223
Sure, did you mean the latest snapshot of 6.0.9-GH-2223

[2021-04-15 18:07] meistermeier commented on #2223
Exactly. Still nothing I would rate as production ready yet but at least should give the desired ids back.

[2021-04-15 19:25] Wayne-P commented on #2223
Well on the positive front, I can see the ids, so that is good.
On the negative front, I have come across an occasional exception.
In this case, I suspect the exception is occasional, as on one of the tests I use random data.
I will need to investigate further and I will get back to you later this evening, as I am not available tomorrow.

[2021-04-15 20:15] Wayne-P commented on #2223
Okay, I think it may be struggling with empty lists.
I have a _Larder_ node.
N.B. _Serving_ is also a node.
[code]
I am genuinely not sure why I have set the _servingList_ as a var here, as opposed to a val.
Anyway, my best guess is that when I try to save a _Larder_ with an empty _servingList_, I get a
[code]
against the _servingList_, when the code attempts to instantiate the _Larder_.

Apologie

[2021-04-15 20:21] meistermeier commented on #2223
Thanks. I will probably also look at this Monday again, so no hurry and thanks for the feedback.

[2021-04-15 22:48] hamidbm commented on #2201
Thanks Michael and Gerrit for looking into this. And please feel free to update the sample project on GitHub if you want. The point is to be able to create a good modularized template that we can share with the world (and explain in the README file how to create a well modularized app for Neo4j which can have swappable persistence layers...).
The entities need to implement an interface and only th

[2021-04-16 04:19] michael-simons commented on #2201
Thanks @hamidbm again for your feedback.

I have a working project on the module path:
https://github.com/michael-simons/neo4j-from-the-jvm-ecosystem/tree/master/spring-data-imperative-module-path

See especially my `module-info.Java` and the `Dockerfile`

I will watch your repo. 👍

[2021-04-16 10:54] VladoKuruc opened #2234 "DatabaseSelection is not allways used"
After upgrade to SDN 6.1.0 I have Issue with DatabaseSelection.

I use an existing database for unit tests, so I do not create a database in them. I just need to clean up the data at the beginning of the transaction and with the rollback at the end so that testing does not affect the existing data.

In version 6.0.x, I had to use the .in(databaseName) clause.

`neo4jClient.query("MATCH (n) DETACH

[2021-04-17 05:49] meistermeier commented on #2234
Many thanks for reporting this. There seems to be one code path that does not take the `DatabaseSelectionProvider` into consideration.

[2021-04-17 06:03] meistermeier commented on #2234
There should be now a snapshot be available: `6.1.1-GH-2234-SNAPSHOT` with a (first) solution.

[2021-04-17 14:39] aaramg opened #2235 "Relationships save takes long time (Neo4jTemplate 'saveAs' method)"
Hi.
Have models similar to these:
[code]
[code]
[code]

trying to save user object, but only want to save likes:
[code]
Have created an interface:
[code]
`neo4jTemplate.saveAs(user,  UserLikesMask.class);`

What happens:
1. First of all: when `List<Like>` is `Set<Like>` (both in User domain class and mask interface), an exception happens underneath the neo4jTemplate (it says: '**Cannot cast java.u

[2021-04-18 11:09] VladoKuruc commented on #2234
Thank you very much for the quick solution.
The mentioned unit test is already passing. Also my real test with a more complex model.
But I have another issue not directly related to this. If I have Set instead of List relationships, I get an error
`java.lang.ClassCastException: Cannot cast java.util.ArrayList to java.util.Set
	at java.lang.invoke.MethodHandleImpl.newClassCastException(MethodHandle

[2021-04-19 06:48] michael-simons opened #2236 "Create correct collection type for RelationshipProperties."
When computing the intermediate holder for relationship properties, a list is used. That list will later be passed to the relationship handler as `rawValue` on which an approximate collection will be created. That is obviously wrong for non-lists. The correct property type must be used.

[2021-04-19 06:48] michael-simons commented on #2234
Thanks @VladoKuruc I'll take care of the 2nd issue: https://github.com/spring-projects/spring-data-neo4j/issues/2236

[2021-04-19 07:55] #2236 closed

[2021-04-19 12:41] #2234 closed

[2021-04-19 12:42] michael-simons commented on #2210
Your use case will work when you write your query slightly different and return the path:

[code]

[2021-04-19 12:47] meistermeier commented on #2234
Thanks for your valuable feedback.

[2021-04-19 13:23] #2210 closed

[2021-04-20 11:10] #2223 closed

[2021-04-21 21:01] jposthauer commented on #1219
Hello @michael-simons.
I am having the same error when trying to have both a sort/limit and a sort order implemented in a custom query using a Pageable parameter passed into the method.
I first tried changing the return type from Page to Slice and it still returned the same error, then I removed the count query and it worked just fine.

To try and get this working I dug a little deeper into the SD

[2021-04-22 10:35] meistermeier commented on #2235
Thanks for reporting your problem.
1. This is already solved in the development branches and will get patched with the next release iteration.
2. Does it take 12 seconds for 369k saves or just for one user?
3. I am currently investigating this problem.

[2021-04-22 11:14] mrksph opened #2237 "Given same Query, output is different using Neo4j Browser and SDN Neo4jTemplate"
Hi,

I'm using Neo4j Enterprise Edition v4.2.1 and Spring Data Neo4j 6.0.3.

I have the following Query:

[code]

If I run this query in the Neo4j Browser I get the following graph:

![image](https://user-images.githubusercontent.com/10486135/115708086-d7abf400-a36f-11eb-972c-a8aa3cfe0c8d.png)

But if I run the same query using

`Neo4jTemplate.findOne(query, new HashMap<>(), BaseHierarchyNode.clas

[2021-04-22 11:23] aaramg commented on #2235
Thanks for the response.
2. Save happens on 40 relationships. (I mean user and movie nodes already exist). 360K relationships are already existing relationships in the database. I gave you that insight to be more descriptive. Because when the database is empty 40 relationships save happen very quickly. But when there are a lot of likes 360K on the same 40 movies. The speed of saving goes down and

[2021-04-22 15:17] meistermeier commented on #2235
Update: The idea with externally generated ids is much worse regarding performance than the single save. Cannot put the finger on it right now but it is due to the amount of relationships. On the other hand saves of the individual entities (without relationships first) are much faster.

[2021-04-23 15:18] michael-simons opened #2238 "Expose the Neo4j-Client QueryRunner to be used with the Cypher-DSL 2021.2.1."

[2021-04-23 16:22] jposthauer opened #2239 "Resolve or remove literal replacements in custom count queries."
I have the following query where I am trying to have a dynamic sort and paging using a Pageable parameter.
[code]

  When I run the query I get an error stating `Unable to convert org.springframework.data.neo4j.repository.query.Neo4jSpelSupport$StringBasedLiteralReplacement to Neo4j Value.`

  If I remove the count query and change the return type to `Slice<Person>` everything returns fine, so the

[2021-04-23 16:26] jposthauer commented on #2239
I should also mention that if I go into debug mode and manually remove the SpEL parameter the query returns fine with the expected paging and sort applied.

[2021-04-23 16:28] jposthauer commented on #2239
Spring Boot: 2.4.5
Spring Data Neo4j: 6.0.8

[2021-04-26 11:26] ivangfr opened #2240 "Unable to convert java.util.UUID to Neo4j Value"
Hi, I've recently updated **spring-boot** from `2.4.4` to. `2.4.5` and my app that uses **spring-data-neo4j** stoped working.

I am using `UUID` as type for the entities ids
[code]

Thanks!

### How to reproduce

1. git clone https://github.com/ivangfr/springboot-caching-neo4j.git
1. cd springboot-caching-neo4j
1. git checkout update-spring-boot-version
1. docker-compose up -d neo4j
1. ./mvnw clea

[2021-04-26 11:27] gsviteri opened #2241 "Wrong value when mapping to implementations of Set"
Hi,
I have a Set attribute in my class and whenever I retrieve data using this query [1] this attribute will contain an empty Set instead of null. If I then change it to List, it solves that problem.

[code]

[code]

I tried to assign `null` but it hasn't succeed.

Thanks
Guilherme

[2021-04-26 21:06] meistermeier commented on #2240
Thanks for reporting this. I can confirm that this is a bug / regression.
We fixed the object creation onSave for immutable objects and with this came the problem of correct determination of already processed entities during the save process.
In your case this happens because there is a circular / bi-directional mapping between `Restaurant` and `City`.
It does not solve the problem for you right n

[2021-04-27 07:07] ivangfr commented on #2240
Thanks for the tip. Yes, you are right. My idea is to have "_restaurants located_in cities_" but not other way around.

I've changed the relationship in `City` class to
[code]

[2021-04-27 14:03] meistermeier commented on #2241
Could you checkout the current snapshot(s)? 6.0.9-SNAPSHOT
We target this in GH-2236 but the fix is not yet released.

[2021-04-27 14:05] meistermeier commented on #2240
Currently there are some problems releasing a snapshot build. Would be great to get your feedback on `6.0.9-GH-2240-SNAPSHOT`.
But as I said, we have to wait until the builds produce a snapshot release again. I can ping you when this is available.

[2021-04-27 14:39] gsviteri commented on #2241
Great! That's fixed!
Thanks @meistermeier

[2021-04-27 16:30] ivangfr commented on #2240
Sure, let me know that I try it. Also, could you tell me the SNAPSHOT `repository` that I should include? Is this one?
[code]
Thanks!

[2021-04-27 20:15] gsviteri commented on #2241
Ok, that seems a bit strange..
I am testing now and I am not getting null. Looks like the instance is randomly assigned. If I mvn clean and run again I might null (as I want)...

[2021-04-28 06:50] meistermeier commented on #2240
Yes, exactly and it should be available now.

[2021-04-28 07:06] meistermeier commented on #2241
Sorry, I also misread the initial problem. Do you have any shareable project where I can have a look on?
In general there should not be a `null` but an empty collection. I understand that you initial problem says that you expect the `null`, but you should not rely on having `null`.

[2021-04-28 08:35] gsviteri commented on #2241
Yes.
I am expecting null because it is the behaviour we had with SDN4. It's just weird that it is fine when I replace to List.
I can always check for notNull / size != 0..
Yes, the code is here https://github.com/reactome/graph-core/tree/feature/major-updates
GraphDB (Neo4j 4.2.x) - https://drive.google.com/drive/folders/1mAqbWymp7wnE4nNYsOKqQgafcQOHVcc6?usp=sharing

This is the class you can test

[2021-04-28 09:03] ivangfr commented on #2240
Yes, it works!

[2021-04-28 12:46] meistermeier commented on #2240
Thanks for your feedback. Will refine the change a little bit before merge.

[2021-04-29 12:18] michael-simons opened #2243 "Add support for missing DISTINCT keyword."

[2021-04-29 15:29] #2239 closed

[2021-04-29 15:29] michael-simons commented on #2239
Thank you so very much, @jposthauer and sorry @bujoralexandru, @where-design-meets-art.

That new ticket helped me to understand what's going on, I was a bit lost in the stack traces in the original ticket. The bug is fixed in all 3 6.x branches.

[2021-04-29 15:56] jposthauer opened #2244 "Fix detection of common element types in collections of persistent entities."
Given the below setup, I get an error when I try to call the saveAll method to save multiple different subtypes of the same parent.

[code]

Error details:
`java.lang.IllegalArgumentException: Type must not be null!`
In Neo4jTemplate - `Class<T> domainClass = (Class<T>) CollectionUtils.findCommonElementType(entities);` is returning null because `CollectionUtils.findCommonElementType` is counting t

[2021-04-30 07:59] #2240 closed

[2021-04-30 11:13] #2244 closed

[2021-04-30 11:15] michael-simons commented on #2244
Nice catch, thank you for the detailed report.

[2021-05-02 08:09] Sm0keySa1m0n commented on #2129
I'm experiencing this issue too.

[2021-05-03 06:54] michael-simons opened #2245 "Provide additional scripts to run tests with retries against clusters."
We must ensure that SDN 6 runs successfully against cluster deployments.
Our bookmark code is already under tests (explicitly via the JUnit 5 Neo4j cluster extension) under load.
However, we should run the whole test suite, too.

The following changes are required:
- Provide additional selectors that can exclude tests that made no sense in a cluster environment
- Provide additional Ci scripts to r

[2021-05-03 10:49] Sm0keySa1m0n commented on #2129
I've discovered that relationships don't save if you set the value of the relationship using a setter however, if you set the value of the relationship in the constructor it persists correctly. For example
[code]
will work but
[code]
will not persist the friend and in turn will not persist the relationship.

[2021-05-03 15:29] meistermeier commented on #2241
Hi. I could reproduce the issue with your data, thanks.
Could you give `6.0.9-GH-2241-SNAPSHOT` a try?
This should now never return `null` anymore for empty collections but empty collections.

[2021-05-03 15:36] meistermeier commented on #2237
We made some improvements to the mapping of related of related entities in the last versions of 6.0.x
Could you upgrade to 6.0.8 and see if the problem still exist? Also your query should become now more performant because you could use
[code]

[2021-05-03 15:38] meistermeier commented on #2235
We introduced some performance tweaks in the latest snapshot version (`6.0.9-SNAPSHOT`). You could try it, if you want. But as I said handling 360+k objects is not ideal for any object <graph/relational/document...> mapper.

[2021-05-03 15:41] meistermeier commented on #2228
We target this issue with another bugfix. If you want, you could give `6.0.9-SNAPSHOT` a try and tell us if it is working for you.
(Your test ^^ passes now)

[2021-05-03 15:47] meistermeier commented on #2129
Could you provide any more information @Sm0keySa1m0n ?
Would be really helpful to see your domain, or even better a complete reproducer if you have it at hand.

[2021-05-03 15:50] meistermeier commented on #1945
Closing this because there are Java 15 builds.

[2021-05-03 15:50] #1945 closed

[2021-05-03 15:52] meistermeier commented on #1904
This was already solved

[2021-05-03 15:52] #1904 closed

[2021-05-03 15:54] meistermeier commented on #2006
Closing this because there were no new input and the issue seems to be solved in general.

[2021-05-03 15:54] #2006 closed

[2021-05-03 15:56] meistermeier commented on #2190
@robin850 could you test `6.0.9-SNAPSHOT`? We have improved the handling in 6.0.8 and 6.0.9 in those cases a lot and it would really help to get your feedback.

[2021-05-03 19:04] meistermeier commented on #2022
Already done.

[2021-05-03 19:04] #2022 closed

[2021-05-03 19:23] Sm0keySa1m0n commented on #2129
I just created a simple project using start.spring.io which contained Spring Data Neo4j (with Spring Boot 2.4.5 and Java 15). I then created two classes with a property annotated with `Relationship`, one object had an incoming property, the other an outgoing. Then I created a new object using one of the classes I created and set the annotated relationship field to new instance of the other class a

[2021-05-04 05:45] meistermeier commented on #2202
Close this issue because there were no feedback since three weeks. If this does not work for you with the information provided above, feel free to reopen the issue.

[2021-05-04 05:45] #2202 closed

[2021-05-04 05:53] meistermeier commented on #2129
How does the entity classes look like? There must be something different beyond the obvious.
Are the properties on the class immutable?

[2021-05-04 07:00] Sm0keySa1m0n commented on #2129
The ID is immutable and that's it.

[2021-05-04 07:07] meistermeier commented on #2129
"Great" (for the right interpretation of great)
This is something explainable then. Before I ask now again for another information, I just assume that your class looks like
[code]
right?
What happens, and this is completely out of SDN's scope but a general Spring Data behaviour, is:
Because the `id` field is immutable and the only chance for Spring Data to set the `id` is to call the constructor,

[2021-05-04 07:25] meistermeier commented on #2211
Missing information to help us to help you:
* Is this a custom Cypher statement that you are executing?
** If so, can you show us the query
** If not, can you show us how you access the data
* Version of Spring Data Neo4j you are running.

[2021-05-04 08:26] VladoKuruc commented on #2228
Sorry, but that test doesn't pass even with the latest changes. I've tried both the 6.0.x branch and main. Maybe you missed here the changes in the AltHobby class

[2021-05-04 08:53] Sm0keySa1m0n commented on #2129
Yeah that's right. I tried using a wither statement and also tried adding a version field but to no avail.

[2021-05-04 08:56] Sm0keySa1m0n commented on #2129
I've also tried adding friends as a parameter to the constructor.

[2021-05-04 09:35] meistermeier commented on #2228
I did in the last run...back to the drawing board.

[2021-05-04 10:44] Sm0keySa1m0n commented on #2129
That would make sense as to why it works when you pass friends into the constructor.

[2021-05-04 11:30] Sm0keySa1m0n commented on #2129
I've now removed all final fields and the constructor but relationships are still not being persisted.

[2021-05-04 12:05] gsviteri commented on #2241
Hi. Great.
Thank you very much. I've been trying and I couldn't get `null` as you said.

[2021-05-04 12:05] #2241 closed

[2021-05-04 12:11] Sm0keySa1m0n commented on #2129
Never mind, it works with Spring Boot 2.4.5 but not with Spring Boot 2.5.0-SNAPSHOT.

[2021-05-05 08:56] meistermeier commented on #2228
Ok, finally. I somehow forgot about the change on my machine.
Just for you, fresh from the build pipeline: `6.0.9-GH-2228-SNAPSHOT`.
If this is working for you, I am happy to merge this in for the next patch release.

[2021-05-05 09:19] meistermeier commented on #2129
The snapshot release is a moving target but right now it has SDN 6.1.0 as a dependency and the mutable approach works, also see https://github.com/meistermeier/neo4j-issues-examples/tree/master/spring-boot-next for the naive example.
Also there is a branch https://github.com/meistermeier/neo4j-issues-examples/tree/gh-2129_immutable/spring-boot-next for a complete immutable `User`.

[2021-05-05 10:37] meistermeier commented on #2176
It should already work.
Please note that you have to add the correct labels in prior existing data:
[code]
It could, however, work with a more current version of SDN because we removed the strictness if there is only one eligible concrete class (`InnerDomain`) an abstract class (`OuterDomain`) can be instantiated from.

[2021-05-05 20:25] VladoKuruc commented on #2228
I can confirm that this error no longer occurs even in my more complex model

[2021-05-05 20:46] meistermeier commented on #2228
Great to hear and thanks for your feedback.

[2021-05-06 07:54] #2228 closed

[2021-05-06 08:39] meistermeier commented on #2241
Thanks for your feedback.

[2021-05-06 08:42] meistermeier commented on #2206
Closing this issue in favour of #2216.

[2021-05-06 08:42] #2206 closed

[2021-05-06 10:55] mrksph commented on #2237
Hi Gerrit, I'll give it a try, for now I tried to run the query with the changes you mention in the browser but the query couldn't be rendered as nodes and edges, could it be because it's intended to be used only with SDN?

[2021-05-06 11:06] mrksph commented on #2237
Hi, I've just run the query with the changes you said but the results come duplicated. I'm using SDN 6.0.8

![image](https://user-images.githubusercontent.com/10486135/117288453-cf71af80-ae6b-11eb-8a34-f14c826fe2f1.png)

[2021-05-06 13:23] meistermeier opened #2246 "Deterministic mapping of records with mixed results"
Since we do not officially support this, I would call this an enhancement instead of a bug fix ;)

Given that we want to map something like
[code]
the mapping mechanism will create a `Map` that will only contain the identifier and the node description of the template / repository. If this node description is an (abstract) parent class, we will then lose the information about the concrete type comi

[2021-05-06 13:48] meistermeier commented on #2237
Duplicates are expected with this query. You can still use the other style if you prefer this. It is basically either let the database do the work (reduce style query) or SDN / application side (collect style).

[2021-05-06 15:09] gsviteri commented on #2246
I am testing using  `6.0.9-GH-2246-SNAPSHOT` and so far all test cases are passing. That's a great enhancement for the Library! Thank @meistermeier. Thanks a lot

It will be really useful to get this code snippet somewhere in the documentation
[code]

[2021-05-06 15:20] mrksph commented on #2237
Ok, I fixed my problem with the duplicates using
`apoc.coll.toSet(apoc.coll.flatten(collect(relationships))) as relationships, apoc.coll.toSet(apoc.coll.flatten(collect(nodes))) as nodes;`

[2021-05-06 15:28] #2246 closed

[2021-05-06 15:29] meistermeier commented on #2237
So we can close this issue now?

[2021-05-06 15:49] mrksph commented on #2237
Yes thank you Gerrit, as always

[2021-05-06 15:49] #2237 closed

[2021-05-06 19:26] Sm0keySa1m0n commented on #2129
I've discovered that the problem was occurring when I use a custom ID type. I'm trying to use a BSON Object ID but when I do so, relationships don't persist.

[2021-05-06 19:38] Sm0keySa1m0n commented on #2129
In fact, it seems it will only work with Longs, I've even tried strings but they don't work.

[2021-05-08 13:40] Sm0keySa1m0n commented on #2129
New update: Relationships wont persist when you have a custom ID AND a version property. Without a version property or without a custom ID, everything persists fine.

[2021-05-09 11:39] Sm0keySa1m0n opened #2247 "Duplicate nodes when using reactor's subscribe method."
When saving two nodes with the same ID by calling `ReactiveNeo4jRepository::save` and subscribing to the result, two duplicate nodes are saved to the database (even when using optimistic locking, they get assigned the same version). When calling the block method on `Mono::save`, it saves without duplicating the node. Therefore, this seems to be a concurrency issue as it only occurs when saving on

[2021-05-09 11:58] Sm0keySa1m0n commented on #2247
If you use a standard imperative `Neo4jRepository` and wrap the save call in a Mono sink, and repeat the test I stated above, an appropriate `OptimisticLockingFailureException` is thrown.

[2021-05-09 14:35] Sm0keySa1m0n commented on #2247
The issue also occurs using an imperative `Neo4jRepository` if calling save from two different threads.

[2021-05-10 05:13] meistermeier commented on #2247
Thanks for taking the time and reporting this. I will have a look but this behaviour seems legit for a certain scenario.
Given that both transactions from different threads take place in parallel in the database (which still means that there is an order when the TXs get committed), the creation code in SDN will look if a node with the same id already exists. This is not the case because transactio

[2021-05-10 08:25] Sm0keySa1m0n commented on #2247
What do you mean by manually create a uniqueness constraint?

[2021-05-10 09:02] Sm0keySa1m0n commented on #2247
Never mind, I assume you're referring to this: https://neo4j.com/docs/cypher-manual/current/administration/constraints/

[2021-05-10 09:43] michael-simons opened #2248 "Don't swallow or delete cause of translated exceptions."
The `Neo4jPersistenceExceptionTranslator` removes the cause of some exceptions in some cases.

[2021-05-10 09:44] michael-simons opened #2249 "Upgrade to Cypher-DSL 2021.2.1."

[2021-05-10 09:45] michael-simons opened #2250 "Upgrade to Neo4j-Java-Driver 4.1.2."

[2021-05-10 09:45] michael-simons opened #2251 "Upgrade to Neo4j-Java-Driver 4.2.5."

[2021-05-10 10:19] meistermeier commented on #2251
Closed with 22cd80cf8 (main) 609c94e06 (6.1.x)

[2021-05-10 10:19] #2251 closed

[2021-05-10 10:22] meistermeier commented on #2250
Closed with 7b530cc

[2021-05-10 10:22] #2250 closed

[2021-05-10 10:31] #2249 closed

[2021-05-10 10:42] #2248 closed

[2021-05-10 10:47] michael-simons opened #2252 "Allow seeding and retrieval of Neo4j bookmarks from the transaction managers."
While both imperative and reactive transaction managers and the underlying support for Neo4j causal cluster bookmarks have been designed as black boxes and the bookmark manager is not intended to be configurable, there are some scenarios in which it would be helpful to retrieve the latest bookmark an application received from a cluster and seed the transaction system with some bookmarks available.

[2021-05-10 11:47] #2252 closed

[2021-05-10 14:42] meistermeier commented on #2247
Using the version / optimistic locking with an externally provided id is something I would always advise. Otherwise those entities will always be treated as new and e.g. relationship changes cannot be tracked correctly.
With the `@Version` annotated property in place, it will always check if a node with the id and version exist in the database. And only created a new one if this is not the case.
I

[2021-05-10 15:26] #2245 closed

[2021-05-11 11:25] Sm0keySa1m0n commented on #2247
Ahh, I thought you were saying optimistic locking was the solution. I'll implement that constraint then; unless there's a way of synchronously performing transactions on application side or something to that effect to make them aware of each other before hitting the database?

[2021-05-11 15:01] meistermeier commented on #2247
No. There used to be one in Neo4j-OGM but there are reasons why to separate those concerns (object mapping and database administration). One of them (and my personal most important one):
If the syntax for constraint (and indexes) changes, we would have not to patch this in but also define a bottom line of version which support a newer version X of Neo4j. This would make SDN less flexible for the d

[2021-05-11 16:21] Sm0keySa1m0n commented on #2129
I've done some more testing and it turns out that using an immutable ID was never an issue in the first place.

The underlying issue is the fact that if you use an ID with a type other than a long, relationships won't persists.

[2021-05-12 09:13] #2243 closed

[2021-05-12 10:19] michael-simons commented on #1908
To have a stable mapping, we need one immutable label for a node. You might use `@DynamicLabels` annotation on a field combined with SpEL expressions inside a custom query. to achieve something similar.

Paging @singh-gurprit

[2021-05-12 10:19] #1908 closed

[2021-05-12 10:20] michael-simons commented on #1994
I am unsure if this is solved or not but I do want to get the ticket out of my sight… I assume the Jenkins ping to GH works.

[2021-05-12 10:20] #1994 closed

[2021-05-12 14:55] meistermeier opened #2254 "Document BeforeBindCallbacks."

[2021-05-13 16:29] jposthauer commented on #2176
Hello @meistermeier, I am working with @myfrontpocket on the same project and we are still having this issue.

Spring Boot: 2.4.5
Spring Data Neo4j: 6.0.8

So far we are only able to resolve the instantiation error by creating the empty dummy repository for the inner static class.

[2021-05-13 18:28] meistermeier commented on #2176
Could you have a look at https://github.com/meistermeier/neo4j-issues-examples/tree/master/gh-2176 and tell me where the differences are to your use-case?

[2021-05-13 18:34] myfrontpocket commented on #2176
In our code base, the only difference I see, is that we're using `Neo4jRepository<OuterDomain, String>` with the our ID property annotated with: `@Id`, `@GeneratedValue(strategy = SomeStrategy.class)`

[2021-05-13 18:42] myfrontpocket commented on #2176
Also, and I'm not sure if this makes a difference or not, you're using a hard statement to create the node for the test.  We instantiate new objects and save them using the respective repository.

[2021-05-13 18:43] myfrontpocket commented on #2176
This issue doesn't present itself within our existing tests.  It's our existing data that breaks it.

[2021-05-13 18:47] meistermeier commented on #2176
That should not make any difference. Regarding the ids: I just took what was written in the first message.
Could you tell me the full qualified name of the `@GeneratedValue(strategy = SomeStrategy.class)` ?
The `@GeneratedValue` of SDN does not have a `strategy` but a `generatorClass` property.
Just as a repetition: You are sure that both labels are on the real data nodes?

[2021-05-13 18:51] myfrontpocket commented on #2176
That was my mistake... old code...
[code]

Yes, our data is correct.  This example is based off our existing domain structure.  There is a third label (`OuterDomain` extends another domain), but I'm not sure if that is relevant.

[2021-05-13 18:57] jposthauer commented on #2176
All our entity classes extend a base entity class and that is where the ID generation lives:

[code]

[code]

[2021-05-13 19:08] myfrontpocket commented on #2176
Thanks @jposthauer .  I should have stated this from the start.

[2021-05-13 21:16] #2192 closed

[2021-05-14 10:14] #2229 closed

[2021-05-14 10:18] mp911de opened #2255 "Release 6.0.10 (2020.0.10)"

[2021-05-14 10:43] #2231 closed

[2021-05-14 10:44] mp911de opened #2256 "Release 6.1.2 (2021.0.2)"

[2021-05-14 13:00] meistermeier commented on #2176
I updated my example to reflect the latest information you gave me. Attention: The test will no prior execution drop all the data from the database.
It seems to be still working. I think it would be more helpful if you could provide the exception.

[2021-05-14 16:11] Sm0keySa1m0n commented on #2129
Issue also only occurs if using optimistic locking

[2021-05-14 16:29] jposthauer commented on #2176
Below is the stacktrace, User is the OuterDomain class:
[code]

[2021-05-17 13:33] michael-simons commented on #1849
Hey @GrahamLea. Thanks for the detailed report. Now that issue has some history after being transferred from JIRA to GitHub and finally be fixed in OGM 3.2.23.

You can either manually upgrade to OGM 3.2.23 in your project or wait until a patched SDN 5.3. release comes out, depending on the latest OGM version.

[2021-05-17 13:39] michael-simons opened #2257 "Upgrade to Neo4j-OGM 3.2.23."

[2021-05-17 14:34] #1849 closed

[2021-05-17 14:36] #2257 closed

[2021-05-18 09:37] michael-simons commented on #1907
Hi @aaramg while this is a quite relatable and good idea, we cannot implement it as such.
We do use a thing called [List comprehensions](https://neo4j.com/docs/cypher-manual/current/syntax/lists/) to fetch the relationships. Those cannot be sorted inline and we would have to unroll them first after creating them, defeating their purpose.

My suggestion is implementing orderable on your domain obje

[2021-05-18 09:37] #1907 closed

[2021-05-18 10:01] michael-simons commented on #1910
Now that SDN 6 is live for a couple of months it is time to go back to this feature request @aaramg. Thanks again for your interest.

Given now the experience with SDN 6 this is not something we can or want to implement. The reason is rather simple: SDN 6 assumes the fetched object graph to be "the truth", that is, when stored back, it will replace the previous set.

While the suggested `@Filter`

[2021-05-18 10:01] #1910 closed

[2021-05-18 14:55] michael-simons commented on #2019
Hello Sledge Hammer. I cannot find your handle on GitHub, so I just hope you might see this issue.

This is not something we can fix in Spring Data Neo4j. I updated my example you linked in the issue with one possible solution.
The solution is also the one I am gonna document in SDN itself.

Feel free to open a ticket at Boot to about that topic. I'm super happy to help the colleagues over there t

[2021-05-18 14:57] #2019 closed

[2021-05-19 14:58] bujoralexandru commented on #2239
No problem, @michael-simons. We managed to fix our issue with everyone's help.

Thank you!

[2021-05-20 14:12] marianozunino opened #2259 "Explicitly acquire locks on nodes when `@Version` is used."
Hi guys!

Im having the following issue.

I have a rest API that when It receives multiple calls to the same endpoint I end up loosing data.

For the sake of the issue I made up a simple example. It has two models: `A` and `B`, and `A` has a `List<B>`

The goal is to add Bs to A.

The example has 3 branches `with-out-version`, `with-version` and `with-retry`. To simulate the concurrency I created

[2021-05-20 15:07] michael-simons commented on #2259
That's a great report, thank you! We'll investigate.

[2021-05-20 16:51] marianozunino commented on #2259
Thank you so much @michael-simons  :D I really appreciate it. Mean while I'm using a `@Query` to save the entity and avoid the issue.
Like so:
[code]

[2021-05-21 09:40] #2259 closed

[2021-05-21 09:45] michael-simons commented on #2259
Hey. This is now fixed in all 3 maintained branches. Snapshots should be available shortly. I have attached a version of your project using a snapshot build.

The `with-retry` branch is how I would run this basically.

Thanks again for your contribution.

[sdn6-issue-concurrency.zip](https://github.com/spring-projects/spring-data-neo4j/files/6521655/sdn6-issue-concurrency.zip)

[2021-05-25 14:50] senolatac opened #2260 "Relations always empty"
Spring boot version: 2.4.6

I have a query like:
[code]

To add a new friend:
[code]

I have a node like:

[code]

And to test it:

[code]

So how can I return Node with relationships?

[2021-05-25 16:12] michael-simons commented on #2260
A _derived_ query like the following would be the easiest choice:

[code]

Assuming

[code]

or

[code]

depending on how you modeled it. No need to write the query explicit.

[2021-05-25 16:34] senolatac commented on #2260
@michael-simons thank you very much for your suggestion. Yes this can solve my problem but I want to learn the query of this method-query (findAllByLivesInCountryCode).  And I wonder why this query doesn’t initialize relationships.

[code]

[2021-05-25 16:49] michael-simons commented on #2260
You’re welcome.

You need to return both relationships (you’re already doing it `collect(p)`) but also the related object (your not doing it. Just use a variable and also collect/return it).

For more information: https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#custom-queries.for-relationships

[2021-05-26 06:51] meistermeier opened #2261 "`Neo4jQueryMethod` checks whether a method belongs to a CypherDSL statement executor or not are to weak."
[code]
with
[code]

throws
[code]

[2021-05-26 07:29] senolatac commented on #2260
@michael-simons sorry but I don't really get it. When you say the related object, what do you mean exactly? Could you please show it on my example query?

you mean something like that?
[code]

[2021-05-26 08:28] sylv1-corre opened #2262 "Fetch all properties when querying via a base interface."
Hello,

Having the following object models (I am using Kotlin):

[code]

Along with the following repository:

[code]

My database is setup as follows:

[code]

The cinema object returned by cinemaRepository.findAll() doesn't contain any movie in the plays field. If that field is declared as `List<AnimationMovie>` instead of `List<Movie>`, it works as expected and the relation is fulfilled... But

[2021-05-26 09:04] #2261 closed

[2021-05-26 13:29] alxxyz opened #2263 "Replacement for RelationshipModel"
What to use instead of `RelationshipModel` class? It was available in previous versions.

[code]

[2021-05-26 14:57] jposthauer opened #2264 "Incoming relationships must be set on both sides to actually persist"
With the given setup, the test only passes if I have both `actor.movies.add(movie)` AND `movie.actors.add(actor)`. I would expect that `actor.movies.add(movie)` would be sufficient.

[code]

[2021-05-26 15:20] michael-simons commented on #2263
I am not aware of any class named `RelationshipModel`.

In all versions SDN 4.2 to 5.3 it was a `RelationshipEntity`. This is now `RelationshipProperties` and documented.

[2021-05-26 15:47] meistermeier commented on #2264
Thanks for reporting this. Can you please provide the Spring Data Neo4j version you are using?

[2021-05-26 16:11] jposthauer commented on #2264
Spring Boot Version: 2.4.5
Spring Data Neo4j Version: 6.0.8

[2021-05-26 16:23] meistermeier commented on #2264
After a short period thinking about this, I think that there is nothing we can do about the initial problem you have.
First of all the `Movie` would need to get the `Actor` added during the _save_ to reflect the truth that got persisted in the database.
This started our though process: If there would be another `Actor` on the `Movie`, which entity tells the truth upfront the save?
More drastically

[2021-05-27 07:51] meistermeier commented on #2264
Thought again about this and came to the conclusion that my plan, to break the current implementation with my assumption above, won't work (and consequentially not break anything).
This is because storing `(a:Actor)-[r]-(:Movie)-[]-(a)` does not even go the path to the movie if there is no `r`.
As a result a assigned `Actor` on the `Movie` cannot get persisted at all.
I hope my explanation above a

[2021-05-27 07:53] meistermeier commented on #2235
Closing this because there were no response in the last three weeks.
Feel free to open it again if there is any addition.

[2021-05-27 07:53] #2235 closed

[2021-05-27 07:54] meistermeier commented on #2211
Closing this because there were no response in the last three weeks.
Feel free to open it again if there is any addition.

[2021-05-27 07:54] #2211 closed

[2021-05-27 07:58] meistermeier commented on #2176
The exception states clear that it tries to use the `OuterDomain` instead the inner one. But I am wondering if you have checked my example and maybe could add one or two changes to it to make it behave as in your code?
I cannot see any way to break my example in a way to produce this instantiation error.

[2021-05-27 07:58] meistermeier commented on #2190
Closing this because there were no response in the last three weeks.
Feel free to open it again if there is any addition.

[2021-05-27 07:58] #2190 closed

[2021-05-27 09:38] LongStockingPipi opened #2265 "查询的问题"
我英语不好，索性用中文写把，我使用的版本是spring-data-neo4j 6.0.3，在一对多查询的时候，A-(1)-[]-(n)-B，返回的B的数量始终是1，有人遇到过这种情况吗，我一直怀疑我的实体类定义的有问题，因为我几年前用的是很老的版本，使用的方法和现在不一样，以前的注解都已经淘汰了，我按照文档去写，依然不奏效，或者谁有例子让我看一下吗，感谢~

[2021-05-27 10:04] LongStockingPipi commented on #2265
等我回家把代码贴出来

[2021-05-27 10:36] senolatac commented on #2260
@michael-simons thank you. Everything is clear now.

[2021-05-27 10:36] #2260 closed

[2021-05-27 11:41] michael-simons commented on #2263
Use `@RelationshipEntity` in SDN5/Neo4j-OGM, use `@RelationshipProperties` in SDN 6+.

`RelationshipModel` is an internal interface used in Neo4j-OGM, the object mapper used by SDN 5. Please see related issue there.

[2021-05-27 11:41] #2263 closed

[2021-05-27 11:53] michael-simons commented on #2262
Hi @sylv1-corre thanks for the ticket and the complete description.

Interfaces are allowed in an inheritance hierarchy since 62496fc9200c24994527ddd40eceee5bb7b1a83c which was part of 6.0.8, which is what you are using.

Please have a look at the documentation: [A note on class hierarchies](https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#mapping.annotations.node), you have som

[2021-05-27 12:19] alxxyz commented on #2263
As I understand now `RelationshipModel` is `RelationshipValue`

[2021-05-27 12:21] michael-simons commented on #2262
It seams that Kotlin behaves differently… Needs some more investigation.

[2021-05-27 12:27] alxxyz opened #2266 "Return multiple values as class parameters"
[code]
[code]
It can not map result to `RelationshipEntity`
[code]

How to return multiple values as class parameters?
We need to retrieve all the friends & partners, and to know the relationship

[2021-05-27 12:55] michael-simons commented on #2263
No. `RelationshipValue` is a type used by the driver.

[2021-05-27 13:09] LongStockingPipi commented on #2265
thank u very much! I just wanted to write a simple example and put it here at home, but now the program seems to be working, it can return the result normally, I am so confused, I will delete this "issue" tomorrow morning.

[2021-05-27 13:21] LongStockingPipi commented on #2265
[https://github.com/LongStockingPipi/demo](url)
I have no authority to delete the issue hia hia hia

[2021-05-27 13:25] michael-simons commented on #2262
For whatever reason Kotlin seems to be less eager to add the concrete class `AnimationMovie` to the mapping context, therefore it cannot be found and we try to instantiate the interface.

You could define a repository for it to load it or do something like this in a `@Configuration` class:

[code]

Or extend from `AbstractNeo4jConfig` and specify the initial packages to scan

[code]

both approach

[2021-05-27 14:18] #2262 closed

[2021-05-27 14:40] michael-simons commented on #2262
This is fixed in 6.0.10 and upwards:

https://github.com/spring-projects/spring-data-neo4j/blob/6.0.x/src/test/kotlin/org/springframework/data/neo4j/integration/imperative/KotlinInheritanceIT.kt#L63-L81

We cannot fix the fact that Kotlin might behave differently in loading a class that is not directly used.
To be able to map into `AnimatedMovie`, the `AnimatedMovie` Kotlin class must be known to

[2021-05-27 15:00] michael-simons opened #2267 "Clean up deprecation warnings."
Some deprecation warnings around AssertJ and Spring Data commons accumulated. They should be cleaned up.

[2021-05-27 15:05] meistermeier commented on #2266
You would set up your domain class like this
[code]
And use the offered method `repository.findById(userId)`.
This will
a) generate the right query for you
and
b) create the matching `UserEntity` instance with all friends and partners attached.

Please also have a look at the reference documentation https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#reference

For further questi

[2021-05-27 15:05] #2266 closed

[2021-05-27 15:22] #2267 closed

[2021-05-27 15:43] sylv1-corre commented on #2262
Hello @michael-simons

Thanks a lot for your work on this issue ! Very appreciated :-)

However, I could not make it to work with any of your suggestions (using neo4jMappingContext and getMappingBasePackages) using 6.0.8. Is the bug correction in 6.0.10 required for this to work ?

I get the following error:
Caused by: java.lang.NullPointerException: Parameter specified as non-null is null: method

[2021-05-27 15:52] michael-simons commented on #2262
Thanks for getting back. Yep, that’s the actual error we discovered. We are not fetching all attributes (we use the interface to determine them), thus `studio` is not fetched and Kotlin complains. You can mark that attribute as nullable (`String?`) but than it’s null.

As a working workaround I would pull it up to the Interface until 6.0.10 is out.

A snapshot should available in VMwares snapshot

[2021-05-27 16:14] jposthauer commented on #2264
That does make sense, thank you for the great explanation!

[2021-05-27 16:34] #2264 closed

[2021-05-27 16:34] meistermeier commented on #2264
Glad it helped.

[2021-05-27 16:37] #2265 closed

[2021-05-28 05:55] sylv1-corre commented on #2262
Ok, thank you very much :-)

[2021-05-28 06:30] alxxyz commented on #2266
What about pagination, if we need to retrieve only 10 of friends or partners?

[2021-05-28 07:04] michael-simons commented on #2262
Thanks for the excellent reproducer. It works with the 6.0.10-SNAPSHOT:

[code]

You can reduce the config a bit by using `@EntityScan`

[code]

I like how you setup the embedded test harness, this is exactly how we would recommend it!

calender.spring.io doesn't show a date for the next patch release yet, maybe @mp911de can shed a light.

If you cannot wait until then, modeling like this

[code]

[2021-05-28 08:43] #2254 closed

[2021-05-28 08:44] michael-simons commented on #2254
Thanks @marianozunino for motivating this.

[2021-05-28 09:23] meistermeier commented on #2266
You won't paginate a list in a mapped object.
But for completeness:
[code]
^^ not tested but this should return all related `Users` with one connection to the user with the given _userId_.
Please have a look at https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#faq.custom-queries-with-page-and-slice for a more detailed explanation of pagination queries.

[2021-05-30 13:19] shayantabrizi opened #2268 "@Transactional not working"
I have a simple Spring Boot project with Neo4j SDN (v6.1.1). The problem is that when I mark a method with @Transactional, it seems that it does not consider that (as opposed to when I used Neo4j-OGM and a previous version of SDN). When I checked the database after "template.save", the update was visible in the database, even before the whole method is run. What should I do?

The method:

    @Tra

[2021-05-30 14:53] shayantabrizi commented on #2268
I also tried moving the method to a separate Service class, but again no success.

[2021-05-30 16:31] michael-simons commented on #2268
A couple of things:

- You are using the wrong `@Test` annotation import (You are using Junit4 but it must be 5 `org.junit.jupiter.api.Test`, otherwise the Spring extension won't work).
- The test is annotated with `@DataNeo4jTest`, all transactions will be rolled back afterwards. Observe this by running this test against a locally running instance.
- The test will fail because when you do the mat

[2021-05-31 04:43] shayantabrizi commented on #2268
First of all let me thank you for all the time you put on this and all the useful hints you gave. Second, I tried your solution, but at first it didn't work. But after I changed the modifier of "method" from default (package-private) to public it worked. Is this a bug or is it expected to be so?

[2021-05-31 06:14] michael-simons commented on #2268
I'm glad I could be of help!

No, this is not a bug ( definitely not on our side :) ), it's just the way `@Transactional` is implemented in Spring Core. It works via Proxy.

Those answers here
https://stackoverflow.com/a/4396530
https://dzone.com/articles/spring-transactional-and-private-methods-snippet

Should bring some more clarity.

My recommendation is:
- Put every interaction with the databa

[2021-05-31 07:22] AlexVinogradov commented on #2212
currently facing same issues with 5milion nodes in total. By any chance, is there a workaround to improve the response time?

[2021-05-31 08:08] mrksph commented on #2212
@AlexVinogradov
Hi, in our case, we reviewed the Data Model we were using.
To make it work what we did was design our Data Model different, in Neo4j we were trying to re-use the same Node Label in 3 distinct use cases.
To make it work faster, we added 3 new labels added to the first one complementing it and making it possible to create a specific repository to that kind of model.

Example:

First,

[2021-05-31 08:39] meistermeier opened #2269 "Allow simple return pattern for single results"
Currently it is not possible to generate related entities when there is an obvious simple result similar to:
`MATCH (p1:Person)-[r]-(p2:Person) return p1, r, p2`
The results for the relationship and related node needs to get wrapped into a list like this:
`MATCH (p1:Person)-[r]-(p2:Person) return p1, collect(r), collect(p2)`

Would be good to have the option to dismiss the need of `collect` for 1:

[2021-05-31 08:52] michael-simons opened #2270 "Support `findAs` DTO based projection."
Currently the `findAs` support in the templates does work only for interface based closed or open projections. It must support DTOs as well.

[2021-05-31 11:03] alizadehei opened #2271 "The complexity of direct storing relation using @RelationshipProterties and @TargetNode"
I have a trouble trying to migrate from SDN+OGM  to SDN 6.0.x.
We used @RelationshipEntity with @StartNode and @EndNode, from the OGM to store relationships directly. I have seen in the documentation that the new way to go is @RelationshipProterties and @TargetNode.
But implementing this case with the new way seems to be costly. In fact, by using the new method, To add a relationship between two n

[2021-05-31 11:46] #2270 closed

[2021-05-31 20:02] pelletier197 opened #2272 "Projection without a root entity"
Hello!

I don't know if it's a bug or if it's wished this way, but I find the issue to be a little problematic. My example requires to return the results from a custom query into a DTO projection, but without a root entity in the projection. Here is an example

Given this custom cypher query
[code]

And this projection DTO

[code]

I get the following error:

[code]

I'm wondering if it's wished t

[2021-05-31 21:41] pelletier197 opened #2273 "Allow function calls in Sort / Pageable objects in custom queries."
Hello!

Is there a recommended way to sort on computed fields? For instance, in my application, I want to sort by ignoring the diacritics (é, è, à, etc..). To do so, I use `apoc.text.clean(department.name)` with a custom query and a `Pageable`. This used to work in spring-data-neo4j 5, but doesn't work anymore.

[code]

The  pageable I use is the following..

[code]

Thank you!

[2021-05-31 21:55] pelletier197 opened #2274 "Honor `ignoreCase()` from `Sort.Order`."
In spring data neo4j 5, We used to be able to sort ignoring the case. This doesn't seem supported anymore

This is the old query that was created by spring-data-neo4j 5
[code]

And now, with version 6

[code]

Here is the `Pageable` I use.

[code]

[2021-06-01 07:30] michael-simons commented on #2274
Thanks for your kind report. I can confirm this as a bug.

[2021-06-01 08:19] #2274 closed

[2021-06-01 08:20] michael-simons commented on #2274
This will be fixed in all version from 6.0.10 onwards. Thanks again.

[2021-06-01 09:47] pelletier197 commented on #2274
Thank you! Is there an announced release date yet for 6.0.10?

[2021-06-01 09:59] michael-simons commented on #2273
We don't see any reasons not to support this for custom queries. Custom queries must be used with discretion anyway to avoid Cypher injection, so we decided to lift those restrictions, allowing function calls in sorts.

[2021-06-01 10:07] michael-simons commented on #2274
No worries.

Sadly there isn't yet one in the team calendar (https://calendar.spring.io). I'll ask in the next sync call.
Until then, are the Snapshot repos an option?

[code]

they will contain a 6.0.10-SNAPSHOT with the fix shortly.

[2021-06-01 10:09] pelletier197 commented on #2274
If SNAPSHOT is available, we can figure something out. Thank you!

[2021-06-01 10:15] michael-simons commented on #2272
The behavior is a bit different than the old `@QueryResult`: The query result was basically an arbitrary record. The projection is based on a concrete root object, it's properties are projected.

I case the domain object for `Department` has a field `departmentId`, right? In this case above it's obvious to that `departmendId` should match the property of it… But: We need to figure out the base ent

[2021-06-01 10:15] #2273 closed

[2021-06-01 11:30] michael-simons opened #2275 "Upgrade to API Guardian 1.1.1."
Mainly to avoid enforcer problems in projects that don't use a managed dependency. Currently Cypher-DSL uses 1.1.1, while SDN is still on 1.1.0.

[2021-06-01 11:42] #2275 closed

[2021-06-01 13:51] pelletier197 commented on #2272
Actually, department has a field `id`. But I want to name it `departmentId` in the result, since more than one entity have the field `id` (person has an id too).

[2021-06-01 13:57] michael-simons commented on #2271
If this about having a model like `@RelationshipEntity` coming back: This is not going to happen. You cannot query or store an unconnected relationship in Neo4j. The match will _always_ include start and end nodes.

[2021-06-01 13:58] michael-simons commented on #2268
If your issue is solved, can we close this?

[2021-06-01 14:33] michael-simons commented on #2272
In that case, I would consider using the `Neo4jClient` and provide a custom mapping function tbh.

See: https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#faq.custom-queries-and-custom-mappings 11.9.2

[2021-06-01 14:34] shayantabrizi commented on #2271
@michael-simons If by "unconnected relationship" you mean a relationship without a start/end nodes, I believe @alizadehei's issue is different.

Assume that one have a node with 500 relationships and another node with 1000 relationships. In OGM, we could save a new relationship by just setting the start and end nodes in the attributes marked with @StartNode and @EndNode in @RelationshipEntity. I g

[2021-06-01 14:35] shayantabrizi commented on #2271
@michael-simons If by "unconnected relationship" you mean a relationship without a start/end nodes, I believe @alizadehei's issue is different.

Assume that one have a node with 500 relationships and another node with 1000 relationships. In OGM, we could save a new relationship by just setting the start and end nodes in the attributes marked with @StartNode and @endnode in @RelationshipEntity. I g

[2021-06-01 15:13] michael-simons commented on #2271
Fair, I get that point.

On the other hand, SDN is is a Spring Data commons project centered around aggregates, a wholistic set of objects, with a given root and a defined structure.

You can always attach nodes with a custom query. The manual provides several options how to do this and we think that our building blocks provide a couple of entry points into the abstraction that serve that specific

[2021-06-01 21:39] pelletier197 commented on #2272
I see.. That's a bit unfortunate. If that's the only way to make this work, we'll do that. Is there a reason why projections enforce having a root object? Why wouldn't it be possible to map a query result to an arbitrary object?

[2021-06-01 22:40] pelletier197 commented on #2272
I have another issue with projection actually. I don't want to open another issue since it's related, but matching an optional field in a projection seem to fail as well.

[code]

with the following projection DTO

[code]

which gives this error
[code]

Wouldn't that also be another standard use-case for projections?

[2021-06-02 04:58] shayantabrizi commented on #2268
Sure. Thank you!

[2021-06-02 14:31] myfrontpocket commented on #2176
@meistermeier Can you double check your test?

In the test, you've created ONE object, but you're asserting that you've have TWO after a `findAll`.

![image](https://user-images.githubusercontent.com/30394985/120498970-aa4e5f00-c38d-11eb-8ed2-135fb1a0ca8d.png)

[2021-06-02 14:38] pelletier197 opened #2276 "Support default, primitive Kotlin attributes."
Default values for fields are not supported for constructor of node entities when querying the database with a custom query.

[code]

with the following data class
[code]
and the following repository
[code]

calling `personRepository.findAll()` results in
[code]

[2021-06-02 15:07] michael-simons commented on #2276
Do you have a reproducer at hand? Cannot reproduce it on 6.0.x nor 6.1.x?

[2021-06-02 15:33] mdelmoral opened #2277 "Don't log warnings on literal `null` parameters."
First of all, this is not a bug.

In the class `Neo4jQuerySupport` is the next line:

[code]
This warning is triggered every time that the query has a `null` parameter. Even when these parameters are to set a `null` value in a property.
I have a `@Query` when `$result` can be `null`. This query is executed 200k/day so you can imagine my log file 😅
`SET rel.teamId = $teamId, rel.result = $result`

[2021-06-02 15:53] pelletier197 commented on #2276
Sorry, my mistake. It actually work with the String, but it doesn't seem to work when the default value is for a primitive. Here is my sample

[code]

I tested with `int` and `boolean` and I get the same error. I assumed it's for all primitives, but I haven't tested all of them.

[2021-06-02 16:01] michael-simons commented on #2276
That is helpful. Thank you. Should be able to safely reproduce it. It will
probably fail with pure Java, too.

Thanks for reporting!

Sunny Pelletier ***@***.***> schrieb am Mi. 2. Juni 2021 um
17:53:

[2021-06-02 17:41] #2276 closed

[2021-06-02 19:04] jposthauer commented on #2176
@meistermeier I was able to replicate the issue with a few modifications to your test application: [Here](https://github.com/jposthauer/neo4j-issues-examples)

[2021-06-03 13:25] meistermeier commented on #2277
Thanks for reporting this.
At least at the moment I am with you. There does not really seem to be a warning needed.
Since we do want to log that there is something noticeable going on, that might be unintended, we should change the log level here.

[2021-06-03 17:51] jposthauer commented on #2176
It seems that there are actually two different issues giving the same error. The one I replicated above is the issue I was seeing but the issue @myfrontpocket is referring too is slightly different. I am currently trying to replicate that issue with your example and will report back if I am successful.

[2021-06-04 04:45] meistermeier commented on #2176
Thanks for the effort already. But just to be in sync. With your posted example (master branch) I get a `MappingException` with `The schema already contains a node description under the primary label Field`.
Adding a explicit label (like `@Node("InfiniteField")`) to the `InfiniteField` (as a workaround) fixes the test for me.

[2021-06-07 05:07] alizadehei opened #2278 "Do not load the relationships of an @Node with the findAll operation."
I have a class with the following structure:

[code]

Now when I run the following query; All person relationships(members) return:
`List<Person> persons = neo4jTemplate.findAll(Person.class);`

But when I do the findAll operation with a matching query, the relationships do not return.
`List<Person> persons = neo4jTemplate.findAll("MATCH(n:Person) return n",Person.class);`

What is the cause of th

[2021-06-07 06:17] michael-simons commented on #2278
Your query does not match the domain model, you are neither matching nor returning the `Member` nodes.

Your query should probably look similar to this

[code]

Please read https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#custom-queries

[2021-06-07 06:17] #2278 closed

[2021-06-07 06:25] alizadehei commented on #2278
@michael-simons Thank you very much for your help

[2021-06-07 06:25] michael-simons commented on #2278
No worries :)

[2021-06-07 08:42] #2268 closed

[2021-06-07 12:54] michael-simons commented on #2277
Log level will be `debug` from 6.0.10 onwards.

[2021-06-07 13:04] #2277 closed

[2021-06-08 12:20] michael-simons opened #2279 "Provide a SpEL-Expression to refer to the root entity in string based queries."

[2021-06-08 13:00] #2279 closed

[2021-06-08 13:36] michael-simons commented on #2269
This will only be possible for one-to-one relationships. A node that has several relations of the same type to other nodes will cause to return more than one record / row. So given

[code]

This aggregates all people that `p1` knows into dedicated collections and makes that subgraph a single record to be returned.

[code]

however will be as many records / rows as there different relationships bet

[2021-06-08 13:43] shayantabrizi opened #2280 "Allow custom composite converters to delete decomposed properties."
In [this code](https://github.com/shayantabrizi/sample-code-1/tree/CompositeProperty_Test),  Person has an attribute source:
[code]

In "AService",  I save a person having source, then make the source null and save it again. After retrieving the person from the database, the source attribute still has its previous value. I guess that when the updated object is saved, Neo4jPersistentPropertyToMapCo

[2021-06-08 14:09] #2269 closed

[2021-06-08 15:04] michael-simons commented on #2280
Thanks for the great report. This is a bug and needs to be fixed in SDN. Will be in 6.0.10.

The only thing you need to do than is adapt your converter a bit

[code]

[2021-06-08 15:28] #2280 closed

[2021-06-08 15:49] awalrus4 opened #2281 "Support derived deleteBy methods."
In Spring Data Neo4j 6.1.1 (and probably earlier), I noticed that the derived "deleteByX" queries actually don't delete; they do a find instead.
While it's easy enough to just write a custom delete query, I point this out because it's explicitly a feature in the documentation:
https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#repositories.core-concepts

Thanks!

[2021-06-08 16:04] paolodedo opened #2282 "Relationship not persisted with String/UUID id and double mapping (incoming & outgoing)"
SDN 6.1.1

Hello,

I have noticed a strange behaviour creating relationships for my nodes.

My entities:

[code]

[code]

the relationship saving:

[code]

This scenario leads to a non-saving relationships on Neo4j.

**There are 2 changes that will magically make the mechanism work...they are:**

1.  **Change the id of Group entity from UUID (or String) to Long**
2.  **Removing the field "tags" wi

[2021-06-08 17:39] michael-simons commented on #2281
Great catch! I labelled this as a bug as I think a find should not happen. Rather an exception or actually do what's promised. Thank you, will be fixed in 6.0.10.

[2021-06-08 17:50] #2281 closed

[2021-06-08 21:13] meistermeier commented on #2282
To persist the relationship correctly, you would have to set the elements in the collection of each other.
So basically not only `tag.getGroups().add(group)` but also `group.getTags().add(tag)`.
More details can be found here: https://github.com/spring-projects/spring-data-neo4j/issues/2264#issuecomment-848914195

The reason why it is working with the `Long` is more or less random The path the per

[2021-06-09 08:36] alxxyz opened #2283 "Support to execute a call query in Neo4jTemplate"
At the moment it is not possible to execute a query which return not a node
Example
[code]

[2021-06-09 08:39] alxxyz commented on #2272
@michael-simons we also have some use case where `@QueryResult` fits better, it will be great if there will be something similar

[2021-06-09 08:46] alxxyz commented on #2174
Sometimes we need to return some data, not nodes, and this is not supported by projections

[2021-06-09 09:06] michael-simons commented on #2283
Please use the `Neo4jClient`. There should be an instance in a Spring Boot project configured with the defaults.

[code]

It's specifically designed for the purpose of plugging in your own mapping (or use simple default like in the example above).

Please see: https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#faq.custom-queries-and-custom-mappings
and https://docs.spring.io/sprin

[2021-06-09 09:06] #2283 closed

[2021-06-09 09:06] michael-simons commented on #2272
Hey @alxxyz Please see my answer here: https://github.com/spring-projects/spring-data-neo4j/issues/2283#issuecomment-857523868

[2021-06-09 09:26] alxxyz commented on #2272
Thanks.

[code]

[2021-06-09 09:39] alxxyz commented on #2283
Thank you @michael-simons .
Is it possible to pass some parameters as placeholders to the query?

[2021-06-09 09:40] michael-simons commented on #2283
You're welcome.

Sure thing, have a look: https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#neo4j-client.mapping.parameters

[2021-06-09 09:44] alxxyz commented on #2283
Perfect, thanks.

[2021-06-09 20:43] pelletier197 commented on #2272
That kind of example with one field is simple, but we have much much more complex queries than that which makes it really inconvenient to use the `neo4jClient` directly. Here's a sample data class we map.

[code]

You see, there's multiple level of nesting in there. At some point, in our query, we had to collect using a Neo4j `Map`. Like this.

[code]

We basically just ended up converting all the

[2021-06-10 08:00] zqw961025 opened #2284 "Neo4j 4.0 supports multiple databases - How can I use them?"
I have updated the SDN version to 6.0.2 in spring boot. What is it that does not work when I configure the custom database
My configuration file is as follows,Why is my Database configuration item not working?

data:
    neo4j:
      uri: bolt://ip:port
      username: username
      password: password
      databaes:myDatabase

[2021-06-10 08:02] michael-simons commented on #2284
Hi. Could be a combination of typographic and namespace errors:

[code]

[2021-06-10 08:28] zqw961025 commented on #2284
I checked the typography and namespace to make sure it was correct but unfortunately the Database configuration item still doesn't work.
I tried the following and it worked.
Driver driver = GraphDatabase.driver("neo4j://ip:port", AuthTokens.basic("username","password"),null);
Session session = driver.session(SessionConfig.forDatabase(myDatabase));

[2021-06-10 08:29] michael-simons commented on #2284
You understand that this is a Driver session, which won’t participate in Spring Transaction and won’t be used by repositories or templates?
That’s what the property you configured is for.

[2021-06-10 08:37] zqw961025 commented on #2284
I think I understand this and I just want to prove that my Neo4j database is OK but my configuration item is still not working. I don't know why, When I configure the database property, the compiler tells me that there is no database property under spring.data.neo4j.

[2021-06-10 08:45] meistermeier commented on #2284
The parameters @michael-simons showed above are correct.
From the naming pattern, you can see that the `spring.data.neo4j.database` property only applies to Spring Data. The (raw) Java driver is not affected by this property.
The database selection will only get picked up for `Neo4jTemplate` and repositories in SDN 6.0.x.
If you use the `Neo4jClient` with its fluent API, you have to add the databa

[2021-06-10 09:00] zqw961025 commented on #2284
I just want to configure the properties of Neo4j (including username, password, connection string, and database since I have more than one database) under my Spring Boot program application.yml.I checked the SDN JAR under Maven, it is 6.0.2, but my database configuration item doesn't seem to work. My editor told me "cannot resolve configuration sping.data.neo4j.database".

[2021-06-10 09:04] meistermeier commented on #2284
This can have multiple reasons:
1. your IDE has not picked up the latest meta information about the application properties that are available.
2. you are using a Spring Boot version lower than 2.4
Those information are (more or less) directly provided by your editor / IDE vendor.
Basically you should not care too much about this if the application works.

[2021-06-10 09:07] zqw961025 commented on #2284
I will check the reasons you mentioned above. Thank you very much for your reply.

[2021-06-10 12:23] meistermeier commented on #2284
I assume that we can close this (for now) because it is unrelated to Spring Data Neo4j directly.
If there is a problem with the database usage consider to re-open this issue again.

[2021-06-10 12:23] #2284 closed

[2021-06-10 12:42] michael-simons opened #2285 "Unwrap invocation target exceptions in the `AutoCloseableQueryRunner`."
The above change is needed to prepare for Neo4j 4.3.1+ driver as might as well for some other - not yet seen - error scenarios.

At some point in the future, Neo4j Java Driver will change the behavior of `run` and `consume`: If something fails in a `run` _message_ in the Bolt protocol, this will be thrown exactly than, not as late as in the consume or closing of the session or transaction. Our aut

[2021-06-10 13:10] #2285 closed

[2021-06-11 06:13] zqw961025 opened #2286 "Version 5.2 to 6.0 change"
Hello, I have some questions to ask. We used version 5.2 before. Our query makes heavy use of the data.neo4j.transaction.SessionFactoryUtils class,Now I want to update to 6.0, but I find that this class is deprecated, I would like to ask if there is a replacement, I want to avoid a lot of code modification.

[2021-06-11 06:36] michael-simons commented on #2286
Hi. 6.0 is a major upgrade and change. This class is not only deprecated, but it does not exist anymore in 6.0 6.0 does not use Neo4j-OGM but it's Object Mapper on it's own.

Please take a look at the Building blocks:
https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#reference

The migration guide
https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#sdn-appendix

I

[2021-06-11 06:36] #2286 closed

[2021-06-11 13:56] meistermeier opened #2287 "Upgrade to CypherDSL 2021.2.3 and adapt Collection-API"
In the upcoming version of the CypherDSL, will be parallel API that allows to pass `Collections` instead of var-args.
While version 2021.2.2 now allows the majority of the public facing API to be also used with collections, it is not yet complete.

[2021-06-14 09:34] meistermeier commented on #2282
I took some time to see if the id type makes any difference.
As a conclusion: No, it can be that the order gets changed of values that get processed but in the end it behaves about the same.

As stated above, you should really take care of setting a complete pair of relationships if you really have to do the bidirectional mapping.

If there is anything I have might missed in the context of this is

[2021-06-14 09:34] #2282 closed

[2021-06-15 07:03] alizadehei opened #2288 "Difficulty mapping InternalNodes to domain model objects in custom queries"
I have a class with the following structure:

[code]
I want to do a custom query like the following query:

`MATCH (n:Person) return count(n) as count, n `

I did this query using the neo4jClient and neo4jTemplate in different ways (mentioned below):

[code]
Query 1 return a List of Persons without count record.
Query 2 throw an exception
Query 3 return a list of maps that map values are InternalN

[2021-06-15 07:28] meistermeier commented on #2288
First of all, the mixture you are trying to return is cannot be mapped to the domain structure. The count is independent from the actual node.
What you can do is to use the `Neo4jClient` and do something like.
[code]
Where the `QueryResultWrapper` is something that has the fields `Person` and a `long/int` for the count.

[2021-06-15 08:31] alizadehei commented on #2288
Thank you for your help.

[2021-06-15 08:31] #2288 closed

[2021-06-15 19:26] BenBohannon opened #2289 "Persistence logic bails out on the wrong combination of source and relationship."
I'm having difficulty with SDN frequently not persisting relationships between nodes upon calling `.save()`. Saving Nodes to the DB works as expected, but relationships do not appear to be written. Below is an example test that has the issue, along with the node and relationship classes.

Looking through the neo4j web console, the nodes are persisted without relations. Through the debugger, the re

[2021-06-15 21:35] meistermeier opened #2290 "Ambiguous relationship definition during mapping"
The current approach when data comes in is to determine the right relationship definition first and then find the matching "target" candidates.
In a scenario
[code]
with `XP` being a relationship properties definition, this can lead to the wrong relationship definition getting picked up by the mapping logic. This is because we just look at the name of the field and if the generic target just defin

[2021-06-16 06:49] meistermeier commented on #2289
The problem in your constellation is that you describe a bidirectional relationship just partially.
But let's start with the declaration:
[code]
This ^^ defines the bidirectional dependency. Every relationship in the graph will get mapped either outgoing or incoming.
Setting the relationship via `a.rangeRelationTo(b, 1, 1 , RelationType.MULTIPLICATIVE)` and
[code]
Will only set the (outgoing) rela

[2021-06-16 09:00] michael-simons opened #2292 "Support collections of entities as parameters to custom repository queries."
We do support single entities being converted to a Neo4j map when used with custom queries as documented here: https://docs.spring.io/spring-data/neo4j/docs/6.1.1/reference/html/#custom-queries.parameters.

We don't support collections thereof: https://stackoverflow.com/questions/67992685/spring-data-neo4j-6-query-passing-list-param-throws-converternotfoundexception.

This should be fixed.

[2021-06-16 13:26] alxxyz opened #2293 "Retrieve all post of a user"
We have 2 nodes
[code]
[code]
and we are trying to retrieve all the user's posts
[code]
We retrieve all the posts, but author is null in the `Post` class
How to retrieve also the author?

[2021-06-16 13:43] BenBohannon commented on #2289
I'm not sure I fully understand why "SDN cannot determine who is right in this constellation." When I create a relation from `a` to `b`, I intend for the incoming relationship set of `a` to remain empty. The result I expect is: `a` has an outgoing relationship, and `b` has an incoming one.

By this, do you mean I have to add an incoming relationship to `b`, in addition to the outgoing relationship

[2021-06-16 13:52] alxxyz commented on #2293
https://community.neo4j.com/t/retrieve-all-post-of-a-user/39918

[2021-06-16 13:52] #2293 closed

[2021-06-16 13:54] BenBohannon commented on #2289
Ah, after looking at the other issues I see you're saying that I should add an incoming relationship to `b`. I was hoping that `@ReadOnlyProperty` would handle that.

Last question: Upon persisting the sku with the relationship, `.save()` normally returns an updated `a` node with the persisted relationship complete with autogenerated id. Will the relationship on `b` also be updated with the persis

[2021-06-16 17:24] meistermeier commented on #2289
SDN does not take `@ReadOnlyProperty` into consideration. Maybe we should at least discuss this. I will create another ticket for this.

SDN will automatically process the relationship from a to b. In the graph will only be one relationship in the end. Most important thing is: because the relationship back to `a` is set, it won't get deleted.

For edit2: Yes, this is a side effect. Usually I try t

[2021-06-16 20:10] BenBohannon commented on #2289
Sorry, @meistermeier but I was mistaken. It only appeared to work because I got lucky 5+ times. The behavior is still the same even when adding the relation to the `b` incoming relation set. The following change had no effect:
[code]

I also tried making two separate relationship objects with the correct `@targetNode` on each, but it only works if I save the correct node.
[code]
I assume if Spring

[2021-06-17 06:51] michael-simons opened #2294 "Support `@ReadOnlyProperty`."
We already have a similar machinery in place for `saveAs` as projection, so that is - in contrast to SDN5+OGM - much easier to implement. A couple of scenarios would benefit a lot from it.

The question was brought up here https://github.com/spring-projects/spring-data-neo4j/issues/2289 for the first time.

[2021-06-17 10:14] michael-simons commented on #2289
Hi.

The last snippet you added @BenBohannon is the one I personally would use and we would recommend. That it doesn't work is a bug.

Why doesn't it work?

You are right in your assumption it is about ordering: Sometimes we get the properties in different order from Spring Data Commons, that is a given.
Now, when the persisting logic sees a relationship, it looks if it has seen the obverse alread

[2021-06-17 15:42] michael-simons opened #2295 "Ensure same order of operations in both `Neo4jTemplate` and `ReactiveNeo4jTemplate`."
The templates diverged a bit in terms of when generated (internal) ids are retrieved and applied to the entities. Furthermore, the checks if an entity has been processed happens with different reference objects. This needs to be unified for consistent behavior.

[2021-06-17 16:08] #2295 closed

[2021-06-17 16:08] #2294 closed

[2021-06-18 06:53] michael-simons commented on #2289
Hi @BenBohannon Would you be willing to try out our snapshot build? This bug is fixed in

We publish snapshots at

[code]

See
- https://repo.spring.io/snapshot/org/springframework/data/spring-data-neo4j/6.0.10-SNAPSHOT/
- https://repo.spring.io/snapshot/org/springframework/data/spring-data-neo4j/6.1.2-SNAPSHOT/
- https://repo.spring.io/snapshot/org/springframework/data/spring-data-neo4j/6.2.0-SNA

[2021-06-18 06:54] michael-simons commented on #2294
Paging you here as well @BenBohannon. This is implemented in 6.1.2 and upwards. For your domain, this would be the solution I prefer.

Snapshots at

[code]

[2021-06-18 19:52] BenBohannon commented on #2289
I tried snapshot build 6.0.10, and it's closer but seems to behave strangely. In the same test from above:
[code]

the first save on `a` will result in the correct relations persisting 100% of the time, which is an improvement. But saving `b` can overwrite all the relations on `a`, which is not desirable.

I can't get 6.1.2-SNAPSHOT or 6.2.0-SNAPSHOT to correctly load the repository beans to test

[2021-06-18 20:05] BenBohannon commented on #2294
I can't get 6.1.2-SNAPSHOT or 6.2.0-SNAPSHOT to correctly load the repository beans to test them.

6.1.2 complains about the Repositories not being able to find `Mono` or `Flux` classes. Even installing the reactor dependency just leads to another error.

6.2.0 complains about `Caused by: java.lang.NoSuchMethodError: 'java.lang.Object org.springframework.data.neo4j.repository.support.Neo4jReposito

[2021-06-21 00:10] thiagohmoreira opened #2296 "Ids need to be potentially converted before dynamic labels are determined."
### Issue
Cannot save node entities that have `UUID` field as `@Id` and other field with `@DynamicLabels`. For instance:

[code]

### Environment
- Spring Boot 2.5.1 (also tested with 2.5.0)
- Spring Data Neo4j 6.1.1
- Neo4j Community 4.3.0 (also tested on 4.1.1)
- JDK 11.0.5 (also tested on JDK 8)

### Example project
This is a super simple example application, that will try to clean up the repos

[2021-06-21 07:46] michael-simons commented on #2289
Thanks @BenBohannon  we can reproduce this and investigate further.

[2021-06-21 08:22] michael-simons opened #2297 "Upgrade to Cypher-DSL 2021.2.2"

[2021-06-21 08:24] michael-simons opened #2298 "Upgrade to Neo4j-Java-Driver 4.2.7"

[2021-06-21 08:24] michael-simons opened #2299 "Upgrade to Neo4j-Java-Driver 4.1.4"

[2021-06-21 09:01] michael-simons commented on #2296
Thanks @thiagohmoreira I can reproduce this and it will be fixed in the next patch.

[2021-06-21 12:36] #2299 closed

[2021-06-21 18:08] #2297 closed

[2021-06-21 18:08] #2296 closed

[2021-06-21 18:08] #2298 closed

[2021-06-21 20:40] pelletier197 opened #2301 "Passing empty collections to derived finder methods lead to a `NullPointerException`."
It seems to raise an exception when a provided parameter is an **empty iterable**  (I have only tried with `Set` actually, but looking at the code that raises the error, it's likely the same thing with all `Iterable<?>`).

Given the following example (the database does not actually matter)
[code]

I have the following stacktrace
[code]

The error actually seem to be in `org.springframework.data.ne

[2021-06-22 05:04] #2289 closed

[2021-06-22 06:43] michael-simons commented on #2301
Thanks @pelletier197 that helps a lot. It's an oversight from #2292. Luckily you caught this just before the impending release.

[2021-06-22 06:43] #2301 closed

[2021-06-22 06:50] #2290 closed

[2021-06-22 07:25] meistermeier commented on #2176
Any news here, otherwise I would like to close this issue for now?

[2021-06-22 11:06] shayantabrizi opened #2302 "Session.clear() equivalent"
What is the equivalent of Session.clear() of OGM in the new SDN?

[2021-06-22 11:24] michael-simons commented on #2302
There is none. SDN 6 is context free outside a transaction.

[2021-06-22 11:24] #2302 closed

[2021-06-22 11:31] shayantabrizi commented on #2302
This means that there is no caching of objects?

[2021-06-22 11:32] myfrontpocket commented on #2176
I recently retested with the latest release for the problem I reported, and I'm still seeing it. For now, we have dummy repositories to workaround this issue. I'm not aware if @jposthauer was able to reproduce it.

[2021-06-22 11:32] michael-simons commented on #2302
Correct.

[2021-06-22 11:37] shayantabrizi commented on #2302
Thank you

[2021-06-22 13:41] #2255 closed

[2021-06-22 13:41] mp911de opened #2303 "Release 6.0.11 (2020.0.11)"

[2021-06-22 13:50] michael-simons commented on #2302
No worries, glad to help.

I wonder though, do you appreciate the change or not?

[2021-06-22 14:20] #2256 closed

[2021-06-22 14:21] mp911de opened #2304 "Release 6.1.3 (2021.0.3)"

[2021-06-22 14:42] jposthauer commented on #2176
We are still unable to reproduce this issue in a simple app but the workaround is good enough for us for now. We plan on circling back to this issue once we have other issues resolved.

[2021-06-22 15:39] pelletier197 opened #2305 "Projection with a nullable single result"
Given I have an entity that has a single relationship to another entity. If I want to have a projection of that entity with a nullable related entity, the request fails.

[code]

I actually saw a related issue that is marked as resolved, but I think the null use-case was forgotten in 6.1.2: https://github.com/spring-projects/spring-data-neo4j/issues/2269

The stacktrace I get is
[code]

The source

[2021-06-22 16:06] AlexPresso opened #2306 "@Labels annotation not working properly when having @NodeEntity on an abstract class"
Hey there,

I'm trying to make the `@Labels` annotation work in my inheritance model but it's unable to retrieve labels when I fetch nodes from the repository, the labels Set is always empty even if the inerhitance model is adding every label in the graph.

Here is my class inheritance model:

├ `class BaseObject`
├─ `@NodeEntity class Node extends BaseObject` (having `@Labels protected Set<String

[2021-06-22 20:05] meistermeier commented on #2305
Thanks for reporting this. It was not really forgotten but more something that we just had not on our list at all (now it is).

[2021-06-22 21:08] pelletier197 opened #2308 "Passing object as an input to a custom query is not serialized properly"
I have the following repository, where I pass an entity annotated with `@Node` into a custom query.

[code]
I had a hard time understanding that the note parameter is actually serialized as the same parameter that is used for making auto-generated repository queries work.

[code]

What I would have expected is that it would simply be serialized as a map so that it's easy to manipulate the object i

[2021-06-23 05:31] shayantabrizi commented on #2302
Three points:
1- Caching was a headache for us as developers. I welcome the change from this perspective. Especially for our tests.
2- About the performance, I do not have a comparison. Not having cache may reduce the performance in some scenarios.

[2021-06-23 05:39] michael-simons commented on #2302
Thanks for your feedback, very appreciated.

Re 1: For us too.
Re 2: I hope that use case specific caching, or explicit client side
caching, is a better solution when performance issues arises. SDN6 supports
fully immutable entities, which are a great fit for a cache of any form.

Thanks for your contribution!

shayantabrizi ***@***.***> schrieb am Mi. 23. Juni 2021 um
07:31:

[2021-06-23 07:01] michael-simons commented on #2308
Hi. I am unsure if I understand your request.

The entity is in fact serialized as a `Map` parameter, however there's no map _attribute_ inside Neo4j, you can't just assign this… It will be stored as single attributes.

Having said that, you just need to adapt your query slightly (I write down the original Cypher, because I am unsure about the escaping of `$` in a Kotlin string:

[code]

Does that

[2021-06-23 07:34] michael-simons commented on #2306
Thanks for your report.

I wonder: what's below `SubNodeB`? What is OGM (the version of SDN you are using is just a shim around https://github.com/neo4j/neo4j-ogm), supposed to load?

[2021-06-23 07:53] AlexPresso commented on #2306
Hi,

Bellow `SubNodeB` there is a direct `SubNodeB` implementation, to add a few properties in the node depending on some conditions in example:
├ `class BaseObject`
├─ `@NodeEntity class Node extends BaseObject`
├── `class SubNodeA extends Node`
├─── `@NodeEntity abstract class SubNodeB`
├──── `class SubNodeBImplA extends SubNodeB implements WhateverInterface`

And there's a few cases where there

[2021-06-23 08:42] meistermeier commented on #2305
TBH I cannot reproduce the particular issue, you are facing...but
Your DTO projection is based on the wrong assumptions: The `PersonProjection` should already define the `PersonEntity` fields instead of encapsulating it. An example can be seen here https://github.com/spring-projects/spring-data-neo4j/compare/6.1.x...issue/gh-2305#diff-e7c31326d3475b6bb745de782319b4c3c3261bff1651348184a52eead5aa9cd

[2021-06-23 09:27] michael-simons commented on #2306
Thanks for the feedback. I cannot reproduce it.

Find a demo attached.
[demo1123.zip](https://github.com/spring-projects/spring-data-neo4j/files/6700646/demo1123.zip)

The tests with the nodes created outside OGM demonstrate what is necessary to be there in the database

[code]

[2021-06-23 09:41] pelletier197 commented on #2308
The entities are indeed serialized as a map, but not the map I expected. Using the `__properties__` and `__id__` works for node entities, but what I expected was that it would be converted to a map that represents the object, as in neo4j 5. (JSON of the object), not a map with `__id__` and `__properties__`.

Further more, any object passed to a custom query used to be serialized as a map. Now, the

[2021-06-23 09:45] michael-simons commented on #2308
No, it didn't not work out of the box for _all_ objects, especially not all datatypes. It was merely a coincidence that piping things to Jackson worked most of the time.
We do serialize all known entities in such a way that you can access all informations. The format is officially supported and defined by us and documented, too: https://docs.spring.io/spring-data/neo4j/docs/6.1.2/reference/html/#c

[2021-06-23 09:45] #2308 closed

[2021-06-23 09:48] michael-simons opened #2309 "Investigate to convert non-domain-objects into JSON-like maps."
In #2308 the question was raised whether non-domain objects can be serialized in some form as JSON-like map.

Several options could be possible:
- Depending on Jackson / ObjectMapper and just creating a `Map<String, Object>` from non-domain objects, pass it to the driver and hope for the best
- Or doing this but pipe every non-key through our converters, making sure the map contain only valid `Val

[2021-06-23 09:48] michael-simons commented on #2308
I closed this, works as expected. But we are open to discuss the support for non-domain objects further in #2309 . Thanks.

[2021-06-23 09:51] pelletier197 commented on #2308
Okay, I didn't see that the serialization of node entities was  documented this way. In which case I understand better. Thank you!

[2021-06-23 09:55] michael-simons commented on #2308
No worries. I do understand that it is convenient to have a map of something in at least 50% of the cases, but let me assure you that this https://github.com/neo4j/neo4j-ogm/blob/master/api/src/main/java/org/neo4j/ogm/driver/ParameterConversion.java#L51 has not been the optimal idea in the rest of the cases (and we don't speak about a big dependency yet).

We improved that already https://github.c

[2021-06-23 10:29] pelletier197 commented on #2305
The links you provided don't seem to work for me. However, I looked at the code on your branch and I think that the difference with my example is that the `PersonProjection` is not annotated with `@Node`, in comparison to the `OneToOneSource`.

Also, I really don't see why passing the relation would be necessary here? My projection object does not specify any relation in it. I want to project a pe

[2021-06-23 10:50] pelletier197 commented on #2309
I understand you have concerns about the solution #1. Would you mind explaining quickly what they are? I believe that's the approach that was taken in version 5? I have personally never experienced any issue with this type of serialization, and we use the version 5 very intensively. The drawback I see for you is the dependency on Jackson. But was there any other issue with this approach I don't se

[2021-06-23 11:15] AlexPresso commented on #2306
Thanks for the test project and example

That test `assertThat(b1.getNeo4jLabels()).isEmpty()` is exactly what I mean, maybe I'm mistaking about the @Labels annotation but why is the labels Set supposed to be empty for the `b1` entity ? isn't it supposed to be: `<["Node", "SubNodeA", "SubNodeB", "SubNodeImplA"]>` ?

It also gives me an error when I run the tests, for the `b1` entity, the Set isn't

[2021-06-23 11:21] michael-simons commented on #2306
1. `@Labels` are dynamic labels. They are supposed to contain only those labels that are not mapped statically via `@NodeEntity`.
2. Your `BaseObject` is not-abstract. I assumed wrongly it isn't, but read the ticket again. If it is not abstract, it's class name will be used, too. In general the test should work. Just tested it again with an empty db
![image](https://user-images.githubusercontent.c

[2021-06-23 11:37] AlexPresso commented on #2306
Oooh yes you're right, my bad.

Okay I understand now, so that annotation only deals with non static labels, but is there another way to get/update the static labels of a node using the OGM i.e replace `:SubNodeImplA` by `:SubNodeImplB` ?
Or is it only possible using a Cypher query like `MATCH (n) WHERE id(n) = $0 REMOVE n:SubNodeImplA SET n:SubNodeImplB` / apoc ?

[2021-06-23 11:40] michael-simons commented on #2306
OGM won't touch your static labels.

And your query pretty much looks the same I did in a demo:

https://github.com/michael-simons/bootiful-music/blob/master/knowledge/src/main/java/ac/simons/music/knowledge/domain/ArtistService.java#L327-L356

Make sure you have a fresh transaction or a cleared session afterwards.

[2021-06-23 11:44] AlexPresso commented on #2306
Alright, I'll have a look at it then.
Thank you very much for the details and sorry for the issue, I misunderstood the `@Labels` annotation

[2021-06-23 11:58] meistermeier commented on #2305
(Updated the links above, somehow the GitHub magic creates something "interesting" out of this link format)
A projection is based on a modeled entity. You cannot project some independent values in the context of a domain / entity specific operation. And as a consequent only existing fields from the original entity are valid to get hydrated.
(Note: there are some special cases where you can use Spr

[2021-06-23 12:00] michael-simons commented on #2309
Re 1
- Date time values are serialized as strings, not as native types (the database supports them native)
- No support for spatial

Re 3
- No, we can create ad hoc entities.

Re 2
Yes, it would be indeed the most work intensive.
One solution would be requiring Jackson, but doing custom conversions correctly (we had this topic over there https://github.com/neo4j/neo4j-ogm/issues/772 already)

[2021-06-23 12:10] michael-simons commented on #2306
No worries, it was good description and it could have been a bug as well given such a complex tree.
Feel free to reach out to us on discord https://neo4j.com/developer/discord/ or community side.

[2021-06-23 12:10] #2306 closed

[2021-06-23 12:47] pelletier197 commented on #2305
I see. In your example, I think the difference is that i'm projecting an entity. with another entity, while you seem to project an entity with a property. Also, it's important to know that the entity returned is null and that I do not have an association between `Person` and `Department` in the entities themselves. My code example above uses those two entities:

[code]

In my graph, I have a relat

[2021-06-23 12:52] shayantabrizi commented on #2280
Maybe, the problem is not fixed yet. After upgrading to SDN 6.1.2 I still have the problem. My sample code with updated dependencies is pushed: https://github.com/shayantabrizi/sample-code-1/tree/CompositeProperty_Test

[2021-06-23 12:55] michael-simons commented on #2280
Hi @shayantabrizi as I said, this https://github.com/shayantabrizi/sample-code-1/blob/CompositeProperty_Test/src/main/java/com/neo4j/sdn/Person.java#L58 is wrong.
If the source is `null`, you must set all the entries to `null` too. Please compare with my comment above. https://github.com/spring-projects/spring-data-neo4j/issues/2280#issuecomment-856848139 See that I move the if down.

[2021-06-23 13:06] pelletier197 commented on #2309
Okay, I believe solution two would work best then, in my case. As I believe solution one is not a good long term solution for you.

As for solution 3, I'm concerned it might not work well with nested input objects (Some queries in our projects have that).

So solution 2 seems to work best. I'm not sure, how it can be implemented with Jackson, but that's probably doable.

[2021-06-23 13:16] shayantabrizi commented on #2280
Oh, sorry. Thank you for that. It worked now.

[2021-06-23 13:19] michael-simons commented on #2280
Happy to hear 👍

[2021-06-23 13:52] meistermeier commented on #2305
I would say that your interpretation of projections is different. For Spring Data (and also in the domain driven design sense) a projection is just another "view" on the entity itself. It should not been seen as a data collector or similar.

I will close this issue now but give you a small preview of the future: There will probably nested projections coming up. So you can describe your graph model

[2021-06-23 13:52] #2305 closed

[2021-06-23 17:22] meistermeier commented on #2176
So I will close this for now here because as I said, the label is mandatory because of the hierarchy you are working with.

[2021-06-23 17:22] #2176 closed

[2021-06-23 21:18] pelletier197 commented on #2309
For whoever might be interested, since I believe it might take time to solve this issue depending on the solution taken, I implemented something to work this around:

My solution starts with an interface
[code]

and for example, one object I needed to convert to a map was this:

[code]

Then, I created this converter

[code]

then just pass this converter to your `Neo4jConversions` bean.

It's bas

[2021-06-24 05:34] michael-simons commented on #2309
That’s a great idea.
I think it’s worth adding something like this to the FAQ. Thank you.

Sunny Pelletier ***@***.***> schrieb am Mi. 23. Juni 2021 um
23:18:

[2021-06-27 03:57] alizadehei opened #2310 "Do some things before the transactions become committed"
I want to do some things before the transactions become committed.
For this purpose in SDN 5.2.4 we did this by extending the Neo4jTransactionManager :

[code]
And we used this class as a Neo4jTransactionManager Bean.
But in SDN 6.x.x Neo4jTransactionManager class is Final. What is the cause and what is the alternative?

[2021-06-27 04:35] michael-simons commented on #2310
The reason for this we made it final as we think that extending this essential class might lead to hard to spot errors and we want to be able to evolve this as we please.

Please use a transactional application listener: https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/transaction/event/TransactionalEventListener.html

this is build for your purpose.

[2021-06-27 04:35] #2310 closed

[2021-06-28 04:48] alizadehei commented on #2310
@michael-simons First of all, thank you for your guidance.
But this solution is not suitable for our application.
In fact, in the TransactionalEventListener, the function with this anotation is called when we have an event within a transaction. However, we do not have an event at all and we just want a specific action to be performed before each transaction commit, regardless of the presence or ab

[2021-06-28 04:53] michael-simons commented on #2310
Hi,
You’re welcome.
Do you want to do things in your application? Or in your database specific?
If so, you might consider a database trigger which is the logical place for
such a thing.

However, I’ll look into spring for you again when I’m back at a keyboard.

alizadehei ***@***.***> schrieb am Mo. 28. Juni 2021 um 06:48:

[2021-06-28 05:02] alizadehei commented on #2310
I want to do things in my application not database.

[2021-06-28 08:24] michael-simons commented on #2310
Hey @alizadehei

This would be my preferred / recommended way of doing this:

[code]

With this, this will be applied to all things transactional, repositories, and transaction templates alike.

Another possibility is doing it with AOP and the TransactionSynchronizationManager utilities.

[code]

That is however really brittle and hard to get right.

If you can't do either dedicated events or data

[2021-06-28 08:39] alizadehei commented on #2310
Thank you very much for taking the time to answer my question.
I used the first method you mentioned and my problem was solved.

[2021-06-28 11:57] alxxyz commented on #2272
Agree

@michael-simons what are the reasons to not support something similar to `@QueryResult`?

[2021-06-28 12:00] michael-simons commented on #2272
We give you the freedom and flexibility through the `Neo4jClient` to plug the mapping you want or need. A query result that arbitrary can chose and pick not only from one record but the whole subgraph returned has to many angles to. Also it is diametral opposed to the need to be record oriented when working in a reactive (streaming) fashion.

[2021-06-28 12:25] alxxyz commented on #2272
I expect it to work also with CrudRepository`, to be able just to provide the query, and not to map the internal neo4j result in the application entity.

[2021-06-28 14:37] michael-simons commented on #2272
The thing is: Repositories in the DDD world are supposed to contain one specific thing and provide CRUD methods for that.
That is what a Spring Data Repository does too.
In addition, we can project the results, but based on the actual entity.
So even considering this ticket would be a way away from that and we are not the biggest fans to do this.

We have seen enough projects where the repository

[2021-06-29 14:06] #2130 closed

[2021-06-29 14:56] gsviteri commented on #2216
Seems to be all good from my side. First impression, everything that was failing is now working :)
Thanks!

[2021-06-29 15:02] meistermeier commented on #2216
@Andy2003 for your information: There is now a `6.1.3-GH-2216-SNAPSHOT` available.

[2021-06-29 16:44] michael-simons opened #2311 "Include `DiscoveryException` in retry predicate."

[2021-06-30 15:54] meistermeier commented on #2216
Update of the snapshot is now available. This solves a flaky detection bug.

[2021-07-02 09:44] #2216 closed

[2021-07-02 11:04] meistermeier opened #2313 "Multi-level projection support"
The projections currently support only filtering of properties on the first level.
With a deeper projection awareness, we should be able to not only load a specific slice / sub-graph of data but also use the projection composition as some kind of blueprint for save operations.

[2021-07-02 11:04] meistermeier commented on #2271
I close this for now because there were no further input on this topic. For the projections bits I created  #2313

[2021-07-02 11:04] #2271 closed

[2021-07-02 11:27] meistermeier commented on #2212
Close this discussion here because there were no further interaction. Feel free to re-open it, if it's still valid.

[2021-07-02 11:27] #2212 closed

[2021-07-04 06:16] shayantabrizi commented on #2310
@michael-simons What if someone wants to run something in every transaction (e.g., some request version checking) but he needs it to be performed in the same transaction that is being commited?

Assume that one wants to receive some version from the user and check it with the version in the database and only commit if the versions match. If we handle it with DelegatingTransactionManager you mentio

[2021-07-04 07:11] shayantabrizi commented on #2310
@michael-simons Can we work with the database in the same transaction in your second solution (aspect-based one)? (e.g., in before commit). If not how can one run a command before commit in the same transaction that is being commited for all transactions? (e.g., to check some version)

[2021-07-04 11:34] michael-simons commented on #2310
The transaction will be open in before commit for obvious reasons (it cannot be committed when its not there). So your thing will be run in the same tx.

What are you actually trying to solve?