[2021-07-04 11:43] shayantabrizi commented on #2310
E.g., if I'm not mistaken, in the `doCommit` method of the first @alizadehei 's issue doCommit does not run in the transaction that is being commited and if we want to make `doCommit` @Transactional, it may result in a loop. Is the same true about your second solution? If yes, what is the solution?

[2021-07-04 11:49] alizadehei commented on #2310
I can confirm that what @shayantabrizi said happens in the first solution, i.e, the `doSomeDatabaseAction` method is not run inside the same transaction that is being committed in the following code:

[code]

[2021-07-05 04:40] xenoterracide opened #2315 "handle CompositeProperty objects "like nodes""
https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#custom.conversions.composite-properties

should we be able to convert any map into an object using the keys as the field names and the values as the values, all the way down? isn't this exactly what Jackson and many deserialization libraries do? This seems convoluted for what is probably the most common use case. Seems like you

[2021-07-05 04:50] xenoterracide opened #2316 "Make testing cleaner"
reading https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#dataneo4jtest

and wondering, couldn't this be easier? I mean how often am I going to care about the actual username and password, couldn't I just inject, for example, a `Neo4j` and have it configured by default when I use `@DataNeo4jTest` depending on what's on the classpath. I don't really see why the sample test shoul

[2021-07-05 08:33] michael-simons commented on #2316
`@DataNeo4jTest` is part of https://github.com/spring-projects/spring-boot. While I do think it does exactly what is supposed todo, feel free to raise an issue over there.

[2021-07-05 08:33] #2316 closed

[2021-07-05 08:53] michael-simons commented on #2310
Well I guess you're using the wrong abstraction. Could it be that you expect `org.neo4j.driver.Driver` to participate in Spring transactions? If so, it does not! Please have a look at the [Building blocks](https://docs.spring.io/spring-data/neo4j/docs/6.1.2/reference/html/#building-blocks). The diagram explains which components participate in Spring transactions.

Here's a working example.

Given

[2021-07-05 09:22] michael-simons commented on #2315
There is no map attribute type inside the Neo4j database. You are free to use Jackson or any other tool in your custom conversion for composite attribute types.

[2021-07-05 11:12] xenoterracide commented on #2315
maybe I'm misunderstanding... I thought you could store a map inside of a database https://neo4j.com/docs/cypher-manual/4.3/syntax/maps/ and if you can't why does a CompositeProperty deserialize to a Map?

[2021-07-05 11:15] michael-simons commented on #2315
Hi Caleb,

yes, that's a misconception I head to deal with a couple of years as well. No, Neo4j does not store Maps. It supports them as parameters, though.

Here's the list of supported property types https://neo4j.com/docs/cypher-manual/current/syntax/values/#property-types.

As opposed the list of composite types: https://neo4j.com/docs/cypher-manual/current/syntax/values/#composite-types

When

[2021-07-05 11:21] xenoterracide commented on #2315
So is a composite type only for the results of a dynamic query then? confusing, but ok, sorry

[2021-07-05 11:26] michael-simons commented on #2315
No, you can have a map attribute on a `@Node` or `@RelationshipProperties` *on the Java side / client side* of things.

This will be stored than as separate properties on the graph database objects, with a common prefix by default or in any form you decompose it if you add a custom method to it.

Here's our canonical test:

https://github.com/spring-projects/spring-data-neo4j/blob/main/src/test/ja

[2021-07-05 11:36] xenoterracide commented on #2315
ah, well what this ticket is about, was being able to (per the test) have a generic converter for `SomeOtherDto` instead of having to write one for every single "nested object", it seems like a simple enough problem.

[2021-07-05 11:39] michael-simons commented on #2315
https://github.com/spring-projects/spring-data-neo4j/blob/ea28dcadea3cd42196edca8e21f8faa00a69f73a/src/test/java/org/springframework/data/neo4j/integration/shared/conversion/ThingWithCompositeProperties.java#L238

Please checkout if you use `Object` as `V`alue for the interface: `Neo4jPersistentPropertyToMapConverter<String, Object>`

The key is the prefix (either `String` or `Enum`).
And then pip

[2021-07-05 11:56] xenoterracide commented on #2315
yes, the point is that you should be able to have a generic converter that does this, you shouldn't have to reimplement it for every class, there's no reason that I can think of that spring-data-neo4j couldn't provide or even automatically use such a converter behind the scene's

[2021-07-05 14:24] xenoterracide commented on #2315
any chance you could point me to the code that allows neo4j to dynamically construct a node or whatever?

[2021-07-05 15:27] #2287 closed

[2021-07-06 12:45] shayantabrizi commented on #2310
Thank you. If I'm not mistaken. the problem was that what we wanted to call before commit was an @Transactional method and it didn't understand that we are in an active transaction and tried to get a new transaction.

[2021-07-06 23:06] xenoterracide commented on #2315
now I see the problem, while this should work for half of the conversion

[code]

the other half has a problem that it doesn't actually have the type data that Spring Data Neo4j has because it's able to get that from the parent object. This leads me back to begging for a reopen, I could probably even implement it myself if I had some pointers, it could just be a different annotation.

[2021-07-07 05:51] michael-simons commented on #2315
Hey.
You what kind of object to hydrate?
Sure, that makes sense.

And please, no need to beg.

Caleb Cushing ***@***.***> schrieb am Mi. 7. Juli 2021 um
01:07:

--
--
Neo4j Germany GmbH
Viktualienmarkt 8, c/o WorkRepublic, 80331 München, Germany
Seat (Sitz): München; Amtsgericht München HRB 252331
Managing Directors (Geschäftsführer): Michael Kenneth Asher, Gustav Emil
Eifrém

[2021-07-07 10:27] meistermeier opened #2317 "Detection of cycles too defensive"
With a graph like this
![image](https://user-images.githubusercontent.com/435872/124743501-1a687b80-df1e-11eb-81a7-2d83174e45ed.png)
the internal logic will determine `C->D` as an indicator for a cycle.
It gets processed twice by `A->B->C->D`  and `A->C->D`

This should be a "directed" query instead of the data-driven one for cycles.
BUT I don't know yet if it makes sense because with a "directed"

[2021-07-07 12:26] shayantabrizi opened #2318 "Bug in connecting objects"
It seems that there is something wrong which causes [this code](https://github.com/shayantabrizi/sample-code-1/tree/multi-path) to behave nondeterministically and sometimes wrong.

[code]
`a` has a member `cs` which includes a `C` object. However, sometimes a link is created between `a` and `c` (thus, printing 1) and sometimes no link is created between them (thus, printing 0).

Just run the code

[2021-07-08 07:27] meistermeier commented on #2318
Could you please tell us which version are you using?

[2021-07-08 08:27] meistermeier commented on #2318
I cannot really reproduce your issue. Always getting the relationship created without any changes to your code.
Speaking of which: you could skip the `forEach` definition parts because all the cascading relationship and nodes will get persisted during the `template.save(a)` call.
Maybe you can give me any hints how to enforce the faulty behaviour.

[2021-07-09 08:40] meistermeier opened #2320 "Allow cyclic mapping in projection"
At the moment projections that contain mapping cycles are not supported.
This issue is a reminder to enhance the behaviour of the multi-level projection to allow also cycles in the projections.

Related to #2313

[2021-07-09 09:24] #2313 closed

[2021-07-10 08:11] shayantabrizi commented on #2318
We have encountered it on three different computers. Windows and Linux. Neo4j 4.3.2 and 4.3.1 (embedded) and 4.2.1 (Neo4j Desktop).

The `forEach` parts were mentioned for reproducibility. But, I checked and without them the problem persists. I run on .2.1 (Neo4j Desktop) now and report the results:
First run: 1
Second run: 1
Third run: 0
Forth run: 1
Fifth run: 0
Sixth run: 0
Seventh run: 1

The

[2021-07-10 10:14] venkat125 commented on #2292
I just trying out the 6.1.2 for custom list params. where as, i'm getting error while accessing the properties of the collection as below:

[
    {
        "description": "some text",
        "language": {
            "name": "english"
        }
    },
    {
        "description": "some text",
        "language": {
            "name": "french"
        }
    }
]
the above array is the List<KnowsEnt

[2021-07-12 06:11] liuzongliang0202 opened #2322 "@Query can support SPEL to dynamic replacement method param"
@Query(
        value = "match (s:{0}{label_id:{1}}),(t:{2}{label_id:{3}}) merge (s)-[r:Attention]-(t) return r")
    void insertOrUpdateAttentionRelationShip(String fromLabel, Long fromUserId, String toLabel, Long toUserId);

As in the example above，i want to dynamically replace label ,but it can't work, and I tried many times，like use "?#{0}","#{fromLabel}"...
the Source code ：
`public static Pa

[2021-07-12 06:52] michael-simons commented on #2322
I'm sorry, but I don't understand your issue / question.

[2021-07-12 07:33] michael-simons commented on #2292
Hi @venkat125
There are a couple of issues:
- Your query does not access the properties we write
- I assume `KnowsEntity` is annotated with `@RelationshipProperties`, right? If so, than we don't have a bug exactly on our side, but a missing feature: If such a thing is passed as top level parameter, we don't extract the target. I'm gonna fix this and add a test with what I think is your model.

[2021-07-12 07:34] #2292 closed

[2021-07-12 07:35] michael-simons opened #2323 "Support entities annotated with `@RelationshipProperties` as top level parameters to custom procedures."
While the extraction doesn't fail, it won't take the target entity into account when serializing. This should be fixed.

See latest comments in #2292

[2021-07-12 08:19] #2317 closed

[2021-07-12 08:44] #2323 closed

[2021-07-12 08:45] michael-simons commented on #2292
Please have a look at this test: https://github.com/spring-projects/spring-data-neo4j/commit/3bbff33353b4e79a709bb8ff08bf96f3d5900a18#diff-bebe969e2cc441748447af61880a806dfca39f9fcdf4074de4c445cbcc806908

[2021-07-12 09:47] meistermeier commented on #2318
I can see the problem now. Just re-ran it and at least with a 30/70 ratio it is reproducible.
Investigating...

[2021-07-12 13:18] meistermeier commented on #2318
It would be helpful if you could give `6.1.3-GH-2318-SNAPSHOT` a try.

To get the snapshot you would have to add Spring's repositories to your application:
[code]

[2021-07-13 01:12] liuzongliang0202 commented on #2322
i find the answer of my issue, neo4j cypher no support parameterized label .
`

Parameters cannot be used for the following constructs, as these form part of the query structure that is compiled into a query plan:

1.property keys; so, MATCH (n) WHERE n.$param = 'something' is invalid

2.relationship types

3.labels

`

[2021-07-13 01:14] liuzongliang0202 commented on #2322
Spring can replace the value in @ query before calling neo4j API ？

[2021-07-13 05:40] shayantabrizi commented on #2318
Not solved.
First run: 0
Second run: 1
Third run: 0

The updated code is pushed.

[2021-07-13 06:57] michael-simons commented on #2322
Aah, that's what you wanted to do. I could have told you that. Labels and Types are constants.

What you want to do is actually possible with SPeL and we do have example / test code for it:

https://docs.spring.io/spring-data/neo4j/docs/6.1.2/reference/html/#custom-queries.spel

See Listing 80. literal-Extension

[2021-07-13 06:57] #2322 closed

[2021-07-13 07:34] michael-simons opened #2324 "Improve handling of 0-valued `IsoDuration`."
The `TemporalAmountAdapter` cannot decide with a value of `0` whether an `IsoDuration` is supposed to be a `Period` or `Duration` and falls back to a `TemporalAmount`.
This does of course makes no sense when assigning it to a `Duration`. The user would have to model things as `TemporalAmount` which is far from ideal.

cc @svenjanko

[2021-07-13 09:13] meistermeier commented on #2318
Thanks for your feedback. Will merge this now into 6.1.x for the 6.1.3 patch and main.

[2021-07-13 09:33] #2324 closed

[2021-07-13 10:15] #2318 closed

[2021-07-13 18:54] venkat125 opened #2325 "Support for SpEL pointing to related entities in projection on first level."
Hi Team, i was trying out simple json response by mapping the nested DTO Projection values to the root Projection (node / object) by following this [SDN doc](https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#projections.interfaces.open)

[code]

**expected output:**

`{
    "name": "Dhoni",
    "cityName": "qwerqwer",
    "stateName": "zxvcxzcvc"
}`
But, it throws the following

[2021-07-13 19:27] LGDOI opened #2326 "`saveAll` use the lowest common denominator for determining the entity type to be saved."
Given a list of entities with mixed types which have common parent.

e.g.,
Base class  does NOT have @Entity annotation

[code]

Entity classes have @Entity annotation
[code]

Repository class

[code]

List of animals
[code]

Save iteratively
[code]
Two nodes created with all labels (Animal, Pet, Cat, Dog) correctly as expected

Save the list with saveAll does not save correctly.
[code]

Two nodes

[2021-07-14 06:18] michael-simons commented on #2326
I assume you mean `@Node` annotation, right? There is no `@Entity` annotation.

[2021-07-14 06:33] michael-simons commented on #2326
Anyway, I can confirm this,

[2021-07-14 11:51] #2326 closed

[2021-07-14 11:52] michael-simons commented on #2326
Thanks for reporting this. This is fixed and will be released this week.

[2021-07-14 11:57] michael-simons opened #2327 "Adapt to deprecations in reactive Kotlin-Coroutines >= 1.5."

[2021-07-14 12:17] #2327 closed

[2021-07-14 12:37] michael-simons opened #2328 "Create tests for named queries in a non-default location."

[2021-07-14 13:12] #2328 closed

[2021-07-14 13:42] michael-simons opened #2329 "Upgrade to Neo4j-Java-Driver 4.3.3."

[2021-07-14 13:43] michael-simons opened #2330 "Upgrade to Neo4j 4.2.9."

[2021-07-14 13:44] michael-simons opened #2331 "Upgrade to Neo4j 4.3.2."

[2021-07-14 13:45] michael-simons opened #2332 "Upgrade to Cypher-DSL 2021.3.0."

[2021-07-14 13:47] michael-simons opened #2333 "Make API Guardian an optional / provided dependency."
See https://github.com/neo4j-contrib/cypher-dsl/issues/202

[2021-07-14 13:57] #2329 closed

[2021-07-14 13:57] #2331 closed

[2021-07-14 13:57] #2332 closed

[2021-07-14 13:57] #2333 closed

[2021-07-14 14:04] michael-simons commented on #2330
Closes with f32a0ae

[2021-07-14 14:04] #2330 closed

[2021-07-14 14:11] venkat125 commented on #2292
Yep, i tried referring the test.
wherein, i observed following scenarios

- using  on root node. (with the current one i'm having
-

           "MATCH (f:PERSON {id: $from}) - [r:KNOWS] -> (t:LANGUAGE {name: rel.__properties__.__target__.__id__}) " +
            "RETURN f, collect(r), collect(t)")
    Person testMethod(@Param("from") String from,
                            @Param("relations") Lis

[2021-07-14 14:14] michael-simons commented on #2292
You have to adapt the properties you refer to. In my test, the field annotated with `@Id` is the value of the language name. If you have it on a normal property (not annotated with `@Id`), you'll have to use that in your query.

The failure happens in the query itself, not SDN6.

[2021-07-14 15:08] meistermeier commented on #2325
Thanks for reporting this. The usage of only in the entity defined relationships' properties in SpEL was indeed a missing constellation we did not cover.
The other ones are working because the resolution already switched to look at the entities but it did not for the first level.
There is now a `6.1.3-GH-2325-SNAPSHOT` available. Would be really helpful if you could check if your project returns t

[2021-07-14 15:12] venkat125 commented on #2292
**EDITING** will remove once i complete editing (just trying to explain the things i did)
My Request payload
`[{
        "language": {
            "name": "english"
    }
    },
    {
        "language": {
            "name": "french"
    }
}]`

mapped to following entity class
`@ Node(primaryLabel = "PERSON") @ Data
public class Person extends PersonProfile {}

@ Data
public class PersonProfile {

[2021-07-14 15:18] michael-simons commented on #2292
Should be something along these lines

[code]

you need to deference the properties of the target node.

[2021-07-14 15:19] michael-simons commented on #2292
`__properties__` is the map entry that will always point to the properties of an entity, `__id__` will always point to the `@Id` column and `__target__`, well to the `@Target`.

[2021-07-14 17:49] venkat125 commented on #2292
yep that makes sense. Thanks.
But, tried with adding same language name also in the relationship for testing and in schema as well.
[code]
To be precise,
This is **working** returning the desired result with Person and the languages he/she knows with query the read prop in relationship.

@ Query("UNWIND $relations As rel WITH rel " +
            "MATCH (f:PERSON {nid: $from}) - [r:KNOWS {name: **r

[2021-07-14 19:16] michael-simons commented on #2333
Reverted with 1695dc788, see https://github.com/junit-team/junit5/issues/1105

[2021-07-15 08:50] meistermeier commented on #2325
Fixed with f23071b

[2021-07-15 08:50] #2325 closed

[2021-07-15 09:46] meistermeier commented on #2215
This got solved with  #2314

[2021-07-15 09:46] #2215 closed

[2021-07-15 12:52] #2311 closed

[2021-07-15 12:54] michael-simons commented on #2129
Hi. As there has been no longer any activity, I'm gonna close this.

If there's a reproducer for

I'm happy to open a new issue.
Thank you.

[2021-07-15 12:54] #2129 closed

[2021-07-15 12:56] michael-simons commented on #2102
No clear goal has been formulated. Work seems to be in progress about better metrics in SD projects as common functionality and therefore we are gonna close this issue.

[2021-07-15 13:59] LGDOI commented on #2326
You are right about the annotation. I updated the original post from @Entity to @Node for a record.
Thank you for quick resolution.

[2021-07-15 14:11] LGDOI commented on #2326
We are currently using **6.1.1**.  Are you able to include this change in 6.1.3 as well?

[2021-07-15 14:43] michael-simons opened #2334 "Fix compiler and IDE warnings where appropriate."
We have to many IDE warnings (or "too much orange"), we should fix that. I already started with a couple, but we should bringing this in after the 1st 6.2 milestone.

[2021-07-15 18:01] venkat125 commented on #2292
getting property values `rel.__properties__.read` are working only within the relationship and not on destination node.
Be it `(t:LANGUAGE {name: rel.__properties__.test})` or `(t:LANGUAGE {name: rel.__properties__.__target__.__properties__.name})` not working. Could you see anything wrong in my implementation.
And also i try to clone and run this testcase.

https://github.com/spring-projects/spri

[2021-07-16 07:45] michael-simons commented on #2292
You can run them against a local instance without Docker by exporting these environment variables: `SDN_NEO4J_URL=bolt://localhost:7687` and `SDN_NEO4J_PASSWORD=secret` with appropriate values.

[2021-07-16 09:06] #2303 closed

[2021-07-16 09:07] schauder opened #2335 "Release 6.0.12 (2020.0.12)"

[2021-07-16 10:00] #2304 closed

[2021-07-16 10:02] schauder opened #2336 "Release 6.1.4 (2021.0.4)"

[2021-07-16 12:29] #2233 closed

[2021-07-16 12:30] schauder opened #2337 "Release 6.2 M2 (2021.1.0)"

[2021-07-17 08:22] wurangbo opened #2338 "How to create relationship between two exists Nodes"
Hi Guys, I want  to create relationship between two exists Nodes, How can I define the relationship class ?

[code]

[2021-07-18 18:52] venkat125 commented on #2292
Thanks @michael-simons it works when i build the object locally like the one in testcase.
https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#create-domain-spring-boot-project

I think the issue i'm facing is due to the way the Entity object is being built when parsing the http payload
whereas, i was using the

- lombok annotations `@AllArgsConstructor` `@NoArgsConstructor`

Usin

[2021-07-19 07:57] meistermeier commented on #2338
Assuming you have already a `DeviceNodeRepository` and a `AlarmStateRepository` like this
[code]

You would fetch both entities and add the `AlarmState` to the `DeviceNode` and call `deviceRespository.save(deviceNode)`.
A few things to notice here:
1. You could also explicitly add `@Relationship("relationship_type")` to the relationships.
2. From a Spring Data perspective it is now advised to crea

[2021-07-19 07:57] #2338 closed

[2021-07-21 06:57] meistermeier commented on #2292
You could also use the `Wither` https://projectlombok.org/api/lombok/experimental/Wither.html for the id field.
I think this should make it flexible enough to be ok with a non-id (but all other fields) constructor.

[2021-07-22 06:21] mp911de opened #2339 "Remove changelog shipped with the binaries"

[2021-07-22 07:50] venkat125 commented on #2292
[code]
i hope this is what u mean right?

[2021-07-22 15:00] meistermeier commented on #2292
Disclaimer: I do not have a right environment to check this out right now for myself.
Yes but you would have to exclude `id` from the `AllArgsConstructor`. (try this first)
BUT I don't know what Jackson means by saying: _no Creators, like default constructor, exist_ Maybe you would also need to provide an empty constructor. As a consequence this would render the `final` definitions useless.

[2021-07-26 10:34] Andy2003 opened #2340 "Clear exception message on recursive mapping of immutable objects."
I've created a Test case showing a StackOverflowError at https://github.com/Andy2003/spring-data-neo4j/tree/complex-test (https://github.com/Andy2003/spring-data-neo4j/commit/d54e4beb6ab9ee3ec3070075fd45d2eb7bb60338)

The error occurs when in a parent-child mapping the relation is modeled for both directions, like:

[code]

and

[code]

and data like:

[code]

[2021-07-27 09:09] meistermeier commented on #2340
You are using the Lombok library with `@AllArgsConstructor(onConstructor = @__(@PersistenceConstructor))` for the `BaseNodeEntity`. Combined with the manual all args `@PersistenceConstructor` in the `Node` you create a hen/egg scenario.
The mapping process wants to create the "root" `Node` but for this it needs the "comp" `Node` which depends again on the not-yet-complete-constructed "root" `Node`

[2021-07-27 09:15] Andy2003 commented on #2340
Is it possible, that you inject the not jet fully populated object into the "child"-constructor, so you won't run into the cycle?
I used immutable Objects as the docs suggested it as best practice

[2021-07-27 09:38] meistermeier commented on #2340
No, we tried this more than once, but it is not possible to do this in any way.
For true immutability the root object for example has to be the _same_ as the root object and the one you can reach by the parent/child object. Every approach failed because it is just not possible to assemble this.

[2021-07-27 09:46] Andy2003 commented on #2340
I found this on StackOverflow https://stackoverflow.com/a/4834584/1666829
I guess I have to care about this scenario in client code and use an approach similar to the one described in the post.

[2021-07-28 11:31] venkat125 commented on #2292
Tried with the following possible cases:
1.
[code]
2.
[code]
also tried with `@With` which was earlier used as `@Wither` and also tried without lombok annotations too with many alterations.
can you please check once in your local with using the payload?
I'm not sure whether it needs a fix? Or i'm doing something wrong. It would be helpful once anyone from the team try and suggest.
Thanks @michael-

[2021-07-28 15:37] #2340 closed

[2021-07-29 10:40] meistermeier opened #2342 "Upgrade CypherDSL to 2021.3.1"

[2021-07-29 10:43] #2342 closed

[2021-07-29 13:29] mp911de opened #2343 "Add FluentQuery support to `QuerydslPredicateExecutor` and `QueryByExampleExecutor`"
Based on spring-projects/spring-data-commons#2421, it would make sense to add an implementation for the Fluent Query API through `QuerydslPredicateExecutor` and `QueryByExampleExecutor` and their reactive variants. See also spring-projects/spring-data-commons#2228.

[2021-07-30 11:01] meistermeier opened #2345 "Incomplete hydration of mapped objects for custom queries or projections"
### Problem

Given a simple structure like
[code]
with a custom query (or driven by projections)
like
[code]
will -assuming that `(A,B)` is the first record to map- result in an incomplete hydrated `B`.
While mapping `A` not only this but also the `B` that comes with the record will get cached.
Mapping the second record `(B, C)` will pull the `B` from the cache and do...nothing more.
In the end th

[2021-08-02 18:56] LGDOI opened #2346 "Add additional tests for verifying persistence of related entities with assigned ids."
Given entities `Application` and `Workflow` where they have one-to-many relationship:  `(:Application)-[:CONTAINS_WORKFLOW]->(:Workflow)`

In Java, Application has outgoing relationship to List<Workflow>. Workflow has incoming relationship to Application.

[code]
The above Kotlin code wires up both relationships.

In order to create graph correctly I can run either one of the following save method

[2021-08-02 20:08] LGDOI commented on #2346
Further troubleshooting narrowed down to specifying `id` on Workflow causes broken relationship.
Changed the workflow creation without id.
[code]

Then, `saveAll` works.

[code]

[2021-08-03 16:56] LGDOI opened #2347 "Track state of objects with assigned ids correctly."
I cannot tell if is a bug or a feature.

Given two node classes `Application` and `Workflow`. `Application` has outgoing 1-to-many relationship to `Workflow`.
`Workflow` has incoming relationship to `Application`.

The following code causes NPE during `.saveAll` call.

[code]
Note: if you comment out these two lines setting app1 to wf1 and wf2, NPE won't occur.
Note2: replace `.saveAll(listOf(app1

[2021-08-04 11:16] fnordian opened #2348 "Use default values for primitive attributes when Graph properties are unset."
I am upgrading my existing application to sdn6. There's a `boolean` field in my entities that is not set for some of the nodes.

Reading those nodes fails with `NullPointerException` when unboxing null to boolean.

I tried to trace that problem and to me it seems that `DefaultNeo4jConversionService` has extra handling for null-values (valueIsLiteralNullOrNullValue) and that causes that no converte

[2021-08-04 12:10] michael-simons commented on #2348
Are you happen to have these properties defined as constructor parameters? Than this behavior is expected.

It used to be a mapping exception but that prevents Kotlins explicit defaults from working:

https://github.com/spring-projects/spring-data-neo4j/commit/871d586c15c7b31dd6d1e31c4de185ab736fac13

Non constructor properties should work.
If not I take care next week. Also for your other issues.

[2021-08-05 12:31] pelletier197 opened #2349 "Fix `NullPointerException` when using known entities inside projections."
I'm experiencing some issues with the latest version `6.1.3` with the mapping that has changed. The following does not work anymore:

[code]

which produces the following stacktrace :
[code]
It tries to fetch the `department` field in the `person` entity, and `PropertyFilterSupport` doesn't handle the null `persistentProperty`.

I'm pretty sure this bug was introduced with the `multi-level` projec

[2021-08-05 19:46] michael-simons commented on #2349
I see no such field in the class you shared.

Can you please share a small reproducer? Thanks.

[2021-08-06 21:48] pelletier197 commented on #2349
There is no field in the person entity. This is wished for us for performance purpose. I showed something really simplified compared to our use case, but we can't put the field in the entity. The code I shared will produce the NPE.

[2021-08-07 18:43] venkat125 commented on #2325
That works. Thanks @meistermeier

[2021-08-09 10:13] michael-simons commented on #2348
That has been actually more tricky than I thought, as we also want to support Kotlin default values (non JVM defaults, but explicit ones). But things should work now. Thanks again for the report.

[2021-08-09 11:29] #2348 closed

[2021-08-09 11:35] michael-simons commented on #2343
I cannot make sense of the links you provided. The interfaces mentioned don't have any new default methods in the current 2.6.0 commons snapshot.

[2021-08-09 11:38] michael-simons commented on #2349
The code you shared is incomplete, however I try to investigate nevertheless.

[2021-08-09 16:18] michael-simons commented on #2349
Reproduced and fixed. Will be available in the next 6.1 patch release. Thank you very much for your report.

[2021-08-09 17:53] #2349 closed

[2021-08-10 09:01] michael-simons commented on #2347
Hi @LGDOI Are you able to share the classes for `Application` and `Workflow`? I am not able to reproduce this.

Also are you using 6.1.x or 6.0.x?

[2021-08-10 09:22] michael-simons commented on #2347
Never mind, I could figure out what I needed to reproduce it from your other ticket.

[2021-08-10 13:17] #2347 closed

[2021-08-10 13:37] michael-simons commented on #2346
This is actually the same issue that is behind #2347. Two for the price of one, thanks a ton for your reports. 👍

[2021-08-10 13:49] LGDOI commented on #2347
Hi, @michael-simons,
Thank you for looking into this. So, this issue is related to other issue and will be fixed as part of other bug fix?

I believe I was on 6.1.3 when I saw this error (99.9%). But 0.1% chance I was on older version as I was switching b/w version to compare the API behavior.

[2021-08-10 14:29] michael-simons commented on #2347
You're welcome and sorry for any inconvenience. Both reports have been very useful to us.

[2021-08-10 15:10] #2346 closed

[2021-08-10 15:15] venkat125 opened #2350 "Compatible issue on httpRequestPayload with Support collections of entities as parameters"
I was trying to use the collection support on custom repository queries. That works fine when we build the collection locally as in the testcase. But, when i post the data through httpPayload, it throws error on parsing / object construction.

Since, this seems to be the http payload and collect support compatibility, thought of creating a new issue. If this seems to be not an issue, requesting to

[2021-08-11 07:22] michael-simons commented on #2350
SDN does not have any thoughts about HTTP Payloads.
It is the duty of Spring-WebMVC and most likely Jackson to deserialize your payload into Java objects that fit your definition. I can't do anything with the information above and I am not gonna reopen the other ticket.

In the other ticket Jackson is complaining about no default constructor present (a constructor taking no arguments). This can be

[2021-08-11 07:22] #2350 closed

[2021-08-11 07:59] fnordian opened #2351 "Unclarity on how to use interface-node-types with SDN6"
Hi,

have a hierarchy of nodes similar to this:

[code]

I also have a repository of `<Thing, Long>`.

This was working fine in OGM, but I cannot migrate this to SDN6.

Either the ApplicationContext doesn't start up, because `Required identifier property not found for interface` , or if I add `@org.springframework.data.annotation.Id getId()` to `Thing`, calling repo.findById() throws org.springfra

[2021-08-11 16:17] #2334 closed

[2021-08-12 08:47] schauder opened #2352 "Release 6.0.13 (2020.0.13)"

[2021-08-12 10:04] #2336 closed

[2021-08-12 10:06] schauder opened #2353 "Release 6.1.5 (2021.0.5)"

[2021-08-12 13:25] #2337 closed

[2021-08-12 13:26] schauder opened #2354 "Release 6.2 M3 (2021.1.0)"

[2021-08-12 15:10] Sm0keySa1m0n opened #2355 "Improve handling of non-distinct collections and already visited objects."
When saving two nodes with version properties that reference each other, an `OptimisticLockingFailureException` is thrown upon calling `save`. This only occurs when saving with **two** pre-existing nodes, if you create two new nodes with a cyclic relationship or create one new node and use one pre-existing node it works.

The exception is thrown in `ReactiveNeo4jTemplate::saveRelatedNode`, inside

[2021-08-13 08:26] michael-simons commented on #2355
Hi. Would you please share the domain or the excerpt of it causing the issues? Thank you.

[2021-08-13 11:18] Sm0keySa1m0n commented on #2355
The problem occurs if you have two `User`s who are both friends with each other, it also occurs if one `User` has a friend and the other `User` has that `User` as their family etc. Essentially if two `User`s both reference each other in a relationship, it causes this exception.

I've tried with immutable and mutable, I've tried using a `Long` object and `long` primitive for the version, I've tried

[2021-08-13 11:19] michael-simons commented on #2355
Thanks for sharing. On it.

[2021-08-13 13:59] michael-simons commented on #2355
One workaround is to use `save` instead of `saveAll`

[code]

like this, which will correctly update u2 as well…

[2021-08-13 14:19] Sm0keySa1m0n commented on #2355
That doesn't throw an exception but doesn't persist the relationship: ![](https://i.imgur.com/Oeso9Ur.png)

[2021-08-13 14:20] Sm0keySa1m0n commented on #2355
To produce  the above I first ran:
[code]
Then ran:
[code]

[2021-08-16 08:39] venkat125 commented on #2350
Just got workaround to get this worked. Will post the link shortly. Thanks Team

[2021-08-16 13:34] venkat125 commented on #2350
Hi, @michael-simons i've accepted ur answer as it is resolved in SDN end. But, the workaround is on the spring mvc side i hope as you mentioned. For the same i commented which works fine in updating simple collection of relationships with the desired output.

[code]

[code]
Thanks

Further, when i tried to accommodate **apoc.do.when** for conditional querying on neo4j relationships like delete / u

[2021-08-16 13:38] michael-simons commented on #2350
Thanks for your feedback.

SDN makes no assumptions about any procedures you call, being it APOC or built-in ones.
Check what kind of variable is actually passed to apoc with `obj.__properties__.is_delete`.

[2021-08-16 14:25] venkat125 commented on #2350
can you please suggest a way to look the passing value in apoc? as of now i could see the query debug log as below

Please suggest a way to debug the passing values in the apoc  query. It might be really helpful. Thanks

[2021-08-16 14:26] michael-simons commented on #2350
@fbiville Can you help here? This issue and the one linked in the first post has been reiterated multiple times, I am not too keen of debugging APOC. Thanks.

[2021-08-17 14:40] michael-simons opened #2356 "`saveAll` does not use targetDatabase when the optimized single query is been used."
Only affects 6.0.x.

[2021-08-17 15:00] #2356 closed

[2021-08-17 15:11] #2355 closed

[2021-08-17 15:12] michael-simons commented on #2355
Hi. This is fixed.
Please have a look at this package https://github.com/spring-projects/spring-data-neo4j/tree/main/src/test/java/org/springframework/data/neo4j/integration/versioned_self_references for the supported use cases.

Thanks a lot for reporting this issue, I think the improvements made here are super valueable.

[2021-08-17 19:56] venkat125 commented on #2350
Sorry, i had an issue in the query variable in apoc and solved.
nvm
Thanks @michael-simons @fbiville

[2021-08-18 07:26] alxxyz opened #2357 "ChannelErrorHandler: Connection reset by peer"
For unknown reasons sometimes we receive this exeception
[code]
What can be the issue?

[2021-08-18 07:29] michael-simons commented on #2357
This is an exception of the Neo4j Java driver we are using. You might want to reopen it there https://github.com/neo4j/neo4j-java-driver/issues, I cannot transfer this issue.

[2021-08-18 07:29] #2357 closed

[2021-08-18 22:02] xenoterracide opened #2358 "Docs bug?"
I think this might be a bug, though possible I just can't find it, sorry if that's true [reference docs](https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#auditing.interfaces). I think this section of documentation comes from Spring Data Commons, in which case a resync needs to be done, it isn't in there anymore (duplicating documentation like this is unwise, IMHO).

[2021-08-20 08:20] michael-simons commented on #2358
Thanks, I have created a PR with Commons… The class of exists only in Spring Data JPA.

[2021-08-20 08:20] #2358 closed

[2021-08-20 18:22] travishamilton1992 opened #2359 "Node's outgoing relationship not preserved when saving more than one adjacent node."
I am not sure if this is a bug or feature.

I have four node classes `Workflow`, `Layout`, `WorkflowMap` and `ReportFilter`.
An instance of `Workflow` and `Layout` are created with `WorkflowStub` and `LayoutStub`, respectively.
An instance of `ReportFilter` is created with `BuildFilter()`.
An instance of `WorkflowMap` is created with the `addManyToMany()`.

`Workflow` has an outgoing relationship

[2021-08-23 07:06] michael-simons commented on #2359
Hi.

Would you please share your logic behind `BuildFilter` and `addManyToMany`?

[2021-08-23 14:46] travishamilton1992 commented on #2359
Hi,

`BuildFilter` creates a `ReportFilter` object. The `ReportFilter` class is decorated with an `@Node`. The decorator's only parameter is `primaryLabel = "ReportFilter"`
`addOneToMany` creates a new `WorkflowMap` object with its workflow field assigned to `workflow1`. The `WorkflowMap` class is also decorated with an `@Node` with `primaryLabel` set to `"WorkflowMap"`.

I am fairly new to SDN so

[2021-08-23 14:47] michael-simons commented on #2359
Can you please share the classes in question?

[2021-08-23 14:56] travishamilton1992 commented on #2359
Unfortunately I can't share the source code, but I will try to recreate the bug with a simpler example and share that code.

[2021-08-23 14:57] michael-simons commented on #2359
Thanks a lot Travis!

[2021-08-23 14:57] michael-simons commented on #2359
Important is the definition of the relationships as well what's behind your `addManyToMany`.

[2021-08-26 07:38] michael-simons opened #2361 "Add support for `ReactiveQuerydslPredicateExecutor`."
#2343 is a good opportunity to add this as well.

[2021-08-26 10:03] kritsel030 opened #2362 "custom query not populating relationship attribute of Node entity (spring-data-neo4j 6)"
### Issue description

**Situation**
I have a kotlin data class named Application annotated with `@Node`. This class has a [@Relationship](url) property (direction not specified, so OUTGOING as a default). And there is a `@Repository` interface with a custom query method which returns a list of Application nodes.

**Issue**
When executing the custom query method, none of the returned Application n

[2021-08-26 10:55] kritsel030 opened #2363 "relationship not being persisted when saving node with @ID @GeneratedValue (spring-data-neo4j 6)"
### Issue summary

**Situation**
I have a kotlin data class
* annotated with `@Node`
* an `id `attribute defined as follows: `@ID @GeneratedValue val id: Long? = null`
* a `@Relationship` attribute

Plus a kotlin interface annotated with `@Repository`

**Issue**
When saving a node via `repository.save(myNode)`, the node itself is saved, but the relationship is not saved, and there are no errors wh

[2021-08-26 12:44] kritsel030 opened #2364 "migrating from SDN 5 to SDN 6: some documentation suggestions"
We recently migrated a kotlin application from SDN 5 (with spring-boot 2.3) to SDN 6 (with spring-boot 2.4). There are a couple of topics which would have saved us valuable time, had they been clearly mentioned in the migration documentation on https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#migrating.migrating

Not really sure if this is the right place to post these, but do

[2021-08-26 18:11] #2362 closed, assigned to meistermeier

[2021-08-27 15:00] LGDOI opened #2365 "Custom converters (such as `DateLongConverter` via `@DateLong`) don't work with projections."
SDN v6.1.4 via Spring Data v2.5.4

We are migrating from OGM to SDN. In OGM `@DateLong` works well with `COALESCE`.  However, in SDN the same causes an error.

Give following artifacts.

### DashboardLite.java
[code]
### DashboardRepository.java
Note that entity mapping type is `Dashboard` and return type is `DashboardLite` POJO
[code]
### Test

[code]

### Error

[code]

### Workaround
The same t

[2021-08-28 09:11] michael-simons commented on #2365
It does, but there are a couple of oddities here:

- The coalesed column wont be used for the attribute (entity mapper wont recognize it as part of the object)
- Some domain object seems to have `java.util.Date` attribute without `@DateLong`, otherwise the code branch would not reach the above point.

Please share the whole setup.

[2021-08-30 09:25] michael-simons commented on #2365
It is always great to have colleagues helping out to see what has been missed.

So what you are trying to do is to apply `@DateLong` (or in general, converters), to DTO based projections. This is currently not supported, that's the reason for the failure you seeing. I am gonna fix that.

Also, properties in the projection (your `DashboardLite`) that already exist in the domain and are annotated th

[2021-08-30 10:53] #2365 closed

[2021-08-30 10:54] michael-simons commented on #2017
Not doing until someone explicitly asks for it.

[2021-08-30 10:54] #2017 closed

[2021-08-30 12:25] michael-simons opened #2367 "Remove `AutoCloseableQueryRunner` proxy."
No longer needed for the 4.3.x driver.

[2021-08-30 12:32] LGDOI commented on #2365
Thank you Michael for suggesting not needing `@DateLong` on the properties that are defined in the entity class (Dashboard.java).

[2021-08-30 12:46] michael-simons opened #2368 "Upgrade to Neo4j-Java-Driver 4.3.4."

[2021-08-30 13:27] #2368 closed

[2021-08-30 13:27] #2367 closed

[2021-08-30 13:33] meistermeier commented on #2363
With the code above, the following works fine for me:
[code]
did I understand something wrong?

[2021-08-30 13:42] michael-simons opened #2369 "Default database name not propagated when using `delegateTo`."

[2021-08-30 15:23] #2369 closed

[2021-08-30 16:24] michael-simons opened #2370 "`ReactiveNeo4jClient` does not use auto commit transactions outside Spring managed transactions."
It must use auto-commit transaction the same way `Neo4jClient` does.

[2021-08-30 20:28] #2370 closed

[2021-08-30 20:38] #2238 closed

[2021-08-31 08:09] meistermeier opened #2371 "Renamed properties are not included during writes and not projected during reads."
Inspired by https://stackoverflow.com/questions/68938823/sdn6-projection-interfaces-with-property-mapping
we should at least check if it is possible to create a connection between the defined method in a projection to the field in the domain object.

Reproducer / play along project: https://github.com/meistermeier/neo4j-issues-examples/tree/master/so-68938823

[2021-08-31 08:34] marichka-spin opened #2372 "Multiple interface implementation"
Hello team,
I'm trying to migrate our system from OGM to new spring data neo4j. We are using both custom queries to increase performance and spring crud repos for simple queries. I have a question regarding Multiple interface implementation and and mappings. Please consider the scenario:

[code]

In Neo4j DB those enties are represented as:

[code]

Searching node by UUID may return any of these n

[2021-08-31 08:46] meistermeier commented on #2364
Thanks for your helpful input on the migration documentation.
Let's discuss #2363 first and see if this needs to get added.

[2021-08-31 09:37] #2345 closed

[2021-09-01 09:01] mp911de commented on #2372
Please refrain from using "guys". While it may seem a small thing, some people feel excluded by "guys" and we don't want them to. I updated the ticket description accordingly.

[2021-09-01 09:03] marichka-spin commented on #2372
Sorry and thank you!

[2021-09-02 10:33] meistermeier commented on #2371
First analysis (unfortunately no solution yet):
The problem roots in the current situation that we provide a list of parameters to the modifying query that is based on the metadata of the domain. At this moment there are only graph property names left. Filtering them with the java properties list does not work.

1. We could add the graph property names to the property filter constructs when starti

[2021-09-02 11:04] meistermeier commented on #2372
I cannot read a question out of this but only guess:
You don't get the `OrdinaryCar`(?)
your initial data `(oc:Car:Vehicle {uuid: <some_uuid>, name: 'My ordinary car'})` does not represent any known entity. It should also have the `OrdinaryCar` label to get read. And you would need to add the `@Node` to the `OrdinaryCar` class.

You are not doing anything wrong by using the `Neo4jTemplate` but you

[2021-09-02 16:52] meistermeier commented on #2371
It seems that option 2 is a valid one and does not too much influence the existing code base or make it unnecessary complex.

[2021-09-02 16:53] meistermeier commented on #2372
Good to hear. I will change to label again to `waiting-for-feedback` because this is what I basically do from now one :D

[2021-09-03 05:02] marichka-spin commented on #2372
Ok, I made some experiments and what actually I have in my DB now looks like that:
[code]

What I tried to do after your example:
[code]

When I try to retrieve car nodes I'm building requests this way:
[code]
I get "Don't know how to translate exception of type class org.springframework.data.mapping.MappingException"
And the question is how should I improve organization of the classes or how shou

[2021-09-03 10:33] meistermeier commented on #2372
The returned pattern does not match what SDN is expecting to really identify the correct node -> java type.
Also the part in the documentation (https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#query-creation.load) is more for transparency than manual how to _fake_ SDN's requested structure.
But what you want to get back should also work with an `optional match` and a `return c

[2021-09-03 12:03] marichka-spin commented on #2372
Actually we avoid using OPTIONAL as it is very decreasing performance. We have a lot of optional relations in our entities, so with ogm we used pattern comprehension in RETURN clause.
Example:
[code]
With spring-data-neo4j v 6.x I discovered that map projection is used. So how correctly build the map projection scheme in order to make subclasses  map correctly?

[2021-09-03 12:09] meistermeier commented on #2372
This is the output of the generated repository method query:
[code]
important are the "hints" like `___internalNeo4jId___` and `___nodeLabels___`

But if this is enough for you, you could use the query method instead of maintaining your own Cypher query.

[2021-09-03 12:23] marichka-spin commented on #2372
Finally, thank you a lot for the help!!! I really appreciate

[2021-09-03 12:23] #2372 closed

[2021-09-06 08:15] Andy2003 opened #2373 "Query loads entities in excessive depth, which are not accessible by the projection."
To prevent loading the whole database in memory, I tried to use projection interfaces. But this is not preventing spring-data-neo4j to load all the relations behind the scenes.

Given:

Data:

[code]

Entities:

[code]

[code]

[code]

Projection interfaces:

[code]

[code]

Repository:

[code]

Invocation

[code]

Results in the following db queries:

[code]

As you can see the library traverses

[2021-09-06 13:33] spring-projects-issues commented on #2363
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-09-08 08:07] shayantabrizi opened #2374 "Optimistic locking in the documentation"
I did not find a section for optimistic locking in the documentation for the new version. There was one for the previous version [here](https://docs.spring.io/spring-data/neo4j/docs/5.3.8.RELEASE/reference/html/#reference:annotating-entities:version). It may be good to explain it in more detail in the latest documentation.

[2021-09-08 14:47] meistermeier commented on #2373
The issue is related to #2320 .
In general this should not create a query cascade at all but only fetch the root `NodeWithChild` node. The `NodeWithoutChild` relationship already refers to the same (entity) class and should tell SDN not to reach any further. I think due to the inheritance in the projection, you managed to
a) form the cycle and the limitation for cycles kicks in on projection class

[2021-09-08 15:45] ajanoni opened #2375 "`LiteralReplacement`-Cache is not threadsafe."
It is a random error that occurs in different queries in our application:

Here is the stack trace:
2021-09-08 08:53:41 | at org.springframework.data.neo4j.repository.query.Neo4jSpelSupport.orderBy(Neo4jSpelSupport.java:71)
-- | --
  |   | 2021-09-08 08:53:41 | at org.springframework.data.neo4j.repository.query.Neo4jSpelSupport$StringBasedLiteralReplacement.withTargetAndValue(Neo4jSpelSupport.java

[2021-09-08 16:17] meistermeier commented on #2375
Could you please provide any further information?
- Query you used. I assume that this is a `@Query` annotated repository method.
- Spring Data Neo4j version
- If applicable custom versions of the Java driver and similar.

The best would be to get a small reproducer for the problem you are facing.

[2021-09-08 16:17] meistermeier commented on #2374
You are right, this is truly missing.

[2021-09-08 17:50] ajanoni commented on #2375
The error does occur in other queries that have the orderBy clause, but you can check one example bellow:

Query:

`import org.springframework.data.domain.Pageable
import org.springframework.data.domain.Slice
import org.springframework.data.neo4j.repository.Neo4jRepository
import org.springframework.data.neo4j.repository.query.Query

interface AcmeGroupsRepository : Neo4jRepository<AcmeGroupEntity

[2021-09-09 08:24] meistermeier commented on #2374
Update documentation in 6.0 (7cb4da92d), 6.1 (1d23bebec) and main (50e3d6694).

[2021-09-09 08:24] #2374 closed

[2021-09-09 10:23] #2375 closed

[2021-09-09 10:24] michael-simons commented on #2375
Thanks for reporting this @ajanoni  The fix will appear in all branches. Snapshots will be ready soon. If you have the chance to try them, I would appreciate feedback on the fix. Thank you.

[2021-09-09 14:46] michael-simons opened #2376 "Add `readOnly` to `org.springframework.data.neo4j.core.schema.Property`."
While working on https://github.com/neo4j/neo4j-ogm/issues/786 this seems to be a general useful addition. Also, the logic for handling this has already been introduced with #2294, so that would be a nice convenient feature, keeping basic OGM and SDN6 on par.

[2021-09-09 16:11] #2376 closed

[2021-09-10 13:37] mp911de opened #2377 "Upgrade to Maven Wrapper 3.8.2"

[2021-09-10 13:38] #2377 closed

[2021-09-10 13:39] mp911de opened #2378 "Upgrade to Maven Wrapper 3.8.2"

[2021-09-10 13:39] #2378 closed

[2021-09-14 20:25] travishamilton1992 commented on #2359
Hi Michael, sorry for the delay. After further investigation I found that it was a bug in my own code and not with SDN. Thanks for your help!

[2021-09-14 20:25] #2359 closed

[2021-09-16 17:44] #2320 closed

[2021-09-16 19:45] meistermeier commented on #2373
I merged now the feature for cyclic projection mapping.
This would mean that this issue would not be valid anymore in the sense that it creates a too broad query.
We can keep this open until you can report back on a released version if this fixes the "too many requested data" problem for you.

[2021-09-17 07:11] #2352 closed

[2021-09-17 07:12] mp911de opened #2379 "Release 6.0.14 (2020.0.14)"

[2021-09-17 07:38] #2353 closed

[2021-09-17 07:40] mp911de opened #2380 "Release 6.1.6 (2021.0.6)"

[2021-09-17 07:58] #2354 closed

[2021-09-17 07:59] mp911de opened #2381 "Release 6.2 RC1 (2021.1.0)"

[2021-09-17 11:51] meistermeier opened #2382 "Maven"

[2021-09-17 11:51] #2382 closed

[2021-09-20 08:27] meistermeier opened #2383 "Clean up cyclic projection support."
This is a follow-up of #2320 .
There were some left-over code that could get deleted.

[2021-09-20 08:30] #2383 closed

[2021-09-21 19:32] michael-simons opened #2384 "URL comparison fails occasionally during test."

[2021-09-21 19:48] #2384 closed

[2021-09-22 14:19] robin850 commented on #2190
Hello there !

I'm really sorry for not giving an answer sooner, I actually stopped working on the concerned project during a few months.

I couldn't manage to produce a failing test case and can't understand why. Actually, what I didn't mention originally is that right after calling the `update` method as described in the original post, there are some changes on the `target` variable that happen

[2021-09-23 11:01] mrksph opened #2385 "Neo4jClient throws No Converter Found"
·SDN v6.0.3

I'm trying to query my database through the Neo4jClient.query() method but I'm getting ConverterNotFoundException because apparently some nodes don't have every property I declared in my NodeEntity class.

Is there any way I can avoid getting this exception without having to implement a custom mapper function?

The query:

[code]

The exception:

`org.springframework.core.convert.Conv

[2021-09-23 11:31] michael-simons commented on #2385
Hi. Can you share how you call the client?

[2021-09-23 11:51] mrksph commented on #2385
Hi Michael,

I'm calling the client this way:

client.query(query).fetchAs(CurrencyNode.class).all();

[2021-09-23 11:56] michael-simons commented on #2385
Thanks.

Please have a look at: https://docs.spring.io/spring-data/neo4j/docs/6.1.5/reference/html/#building-blocks, 3.1:

This means if that using the client like this you _must_ provide a custom mapping function like we do for example here:

https://github.com/spring-projects/spring-data-neo4j/blob/2b784bd2b917362e2d98bb2dee7bc2ec14a09eb0/src/test/java/org/springframework/data/neo4j/core/Neo4jCl

[2021-09-23 11:56] #2385 closed

[2021-09-24 08:40] #2150 closed

[2021-09-24 12:41] venkat125 opened #2386 "Upgrade CypherDSL to 2021.2.4 to fix query generation."
Similar to the following test model:
[similar model from Integration Test](https://github.com/spring-projects/spring-data-neo4j/blob/3bbff33353b4e79a709bb8ff08bf96f3d5900a18/src/test/java/org/springframework/data/neo4j/integration/issues/gh2323/GH2323IT.java)

Apart from the `knows` relationship to have another relationship for different label, added
[code]
[code]

for `(p:PERSON)-[:MOTHER_TONGUE_

[2021-09-27 10:11] meistermeier commented on #2190
The underlying problem is that you are loading three different object trees. (Reduced for readability)
[code]

With the trees:
[code]
The business logic sets the ports in `toUpdate` (tree 1) to point towards `target` (tree 3).
But in tree 3 you have already loaded another `toUpdate` that still has the old ports definition.
After everything is persisted as wanted you call `save(target)` on tree 3 w

[2021-09-27 13:07] robin850 commented on #2190
Oh gotcha, that's much clearer now, thanks for investigating and for the explanations ! Sorry I didn't understand it sooner.

Thank you very much for your time ! ❤️

[2021-09-27 13:20] meistermeier commented on #2190
Thank you for keep asking the question because it will help others.
Also it might be not intuitive on the first view but in the end it makes sense in the broader concept of Spring Data Neo4j, at least this is what we think.

[2021-09-27 13:46] AlexiosP opened #2387 "Auto-generated query for findAllById is unoptimized and can lead to memory issues & long execution times"
When calling the `findAllById` method of a repository, the last cypher query which retrieves all the nodes and their related entities is the below
[code]
This obviously can use a lot extra memory and results to a long execution time due to the fact that it first matches the root nodes, afterwards for **each of related nodes** it matches relationships, etc.

![image](https://user-images.githubuserc

[2021-09-27 15:26] michael-simons commented on #2387
Thanks a ton for the input, we are gonna discuss this in the upcoming week. 👍

[2021-09-27 15:26] michael-simons opened #2388 "Upgrade to Neo4j-OGM 3.2.26."

[2021-09-27 15:27] #2388 closed

[2021-09-28 08:55] asevich commented on #2387
@michael-simons is there some quick and dirty solution we can apply now? We invested a lot of time to update to SDN 6.x and this problem really degrades our production performance. We can of course try to revert update, but we would like to avoid it.
I would appreciate any hints

[2021-09-28 08:57] michael-simons commented on #2387
You can always run it as custom query via `@Query`.

[2021-09-28 11:37] michael-simons opened #2389 "Some constructs don't work with Neo4j 4.x."
- `ContainsComparisonBuilder` generates `IN` query for single values which won't be upcasted to a `List` in Neo4j 4+ anymore
- Tests using old parameter syntax
- Tests using internal Neo4j transactions wrong

[2021-09-28 14:04] #2389 closed

[2021-09-30 09:48] gonzalad opened #2390 "Using projections for persisting data"
This issue is related to a the following comment where we mention using projections for persisting data.

Is this feature already planned ? And if yes, in what milestone ?

https://github.com/spring-projects/spring-data-neo4j/issues/2305#issuecomment-866855163

[code]

I have this question because I'm migrating an application from SDN5 to SDN6.

The application has a deeply nested structure (tree-

[2021-09-30 14:29] #2387 closed

[2021-09-30 15:07] meistermeier commented on #2390
Yes, this is already available since 6.1.3 (https://github.com/spring-projects/spring-data-neo4j/releases/tag/6.1.3)
Some documentation on the topic:
https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#projections.sdn.multi-level
https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#projections.sdn.persistence

If this solves your issue, please close it. If you ha

[2021-10-01 11:31] venkat125 commented on #2386
sorry for late reply.
I've checked and seems now its taking both the relationship labels correctly in debug query with desired result using the SNAPSHOT version.

Thanks @meistermeier and Team
If u don't mind, could u comment the PR of `CypherDSL to 2021.2.4` for this fix please?

[2021-10-01 11:35] meistermeier commented on #2386
Thanks for the positive response.
It would be this commit https://github.com/neo4j-contrib/cypher-dsl/commit/cc8f018a675c9818504feeb8156ff977ba649e13 that ports a change from the 2021.3.x line back to 2021.2.x (released as 2021.2.4).
You could also enforce the usage of 2021.2.4 if you define the dependency to the CypherDSL and set the version in maven or gradle explicitly.
[code]
[code]

[2021-10-01 13:13] meistermeier commented on #2386
Fixed with 8aaee8063c7b0c6b06443b372114ceef0d0f0679 (for 6.1.x)
Main branch is already fixed because it uses CypherDSL 2021.3.x that has the fix already applied.

[2021-10-01 13:13] #2386 closed

[2021-10-01 14:55] meistermeier opened #2391 "Improve mapping performance for custom queries and paths."
Driver by the discussion here: https://community.neo4j.com/t/disappointing-performance-after-migration-from-sdn5-to-sdn6/43388  the mapping part of the data loading could be improved.
For this we already changed the mapping preparation work to have less performance impact.

[2021-10-04 09:31] michael-simons opened #2392 "Fix overly sensitive startup logger test."
It breaks on too many occasions.

[2021-10-04 09:59] #2392 closed

[2021-10-04 10:20] michael-simons opened #2393 "Remove leftovers from SDN-RX pom."
It seems we included a couple of artifacts that have been left overs from CI friendly SDN-RX version numbers.

[2021-10-04 11:34] #2393 closed

[2021-10-05 09:42] meistermeier commented on #2391
Closed with faf849d78 (6.1.x) and 49b757817 (main)

[2021-10-05 09:42] #2391 closed

[2021-10-05 09:57] mp911de opened #2394 "Prepare 7.0 branch"

[2021-10-05 10:05] meistermeier opened #2395 "Handle `null` DTO projection conversion for primitive types"
As raised here https://community.neo4j.com/t/sdn6-using-projection-persistence-with-primitive-fields/45177 SDN will fail with a NPE if the target field would be defined as a primitive.

[2021-10-05 14:12] alxxyz opened #2396 "Run query in transaction using Neo4jClient"
Currently we a using `Neo4jClient` class and `query` method to prepare the query and execute `fetch` after preparation
[code]
How we can execute this code in a neo4j transaction?

[2021-10-05 16:26] #2395 closed

[2021-10-05 16:31] meistermeier commented on #2396
Those operations already run within a Neo4j driver connection. Could you me more precise?

[2021-10-06 07:10] michael-simons commented on #2396
If this runs in a Spring transaction (Either with `@Transactional` annotated or explicit inside a call to `TransactionTemplate` or `TransactionalOperator` (in the case of reactive)), it will participate in Spring transactions, otherwise it will open up a native Neo4j transaction and close it afterwards, see:

![sdn-buildingblocks](https://user-images.githubusercontent.com/526383/136156331-bbdf9e57

[2021-10-06 07:10] #2396 closed

[2021-10-06 07:23] aleksanderlech opened #2397 "Extract API classes to a separate artifact"
Hello again,

In the previous version of spring-data-neo4j we had a possibility to add the ogm-annotations jar as a dependency and therefore create a shared Neo4j entities artifact.

In our scenario we have a service that writes to Neo4j and another one that only reads the modes. In such situation it makes sense to have a shared jar with neo4j model entities.

Since the 6.x changes the mapping ann

[2021-10-08 11:49] meistermeier opened #2398 "Fix flaky RelationshipProperties parsing in cyclic scenarios."
If used in a cyclic mapping like `Person -[RelationshipPropertiesClass]-> Person`, the `RelationshipPropertiesClass` could still be in construction when the meta model parsing logic wants to get all fields of it.
This is due to the fact that we traverse from `RPC` to `Person` and then again to `RPC`.

[2021-10-08 12:05] #2361 closed, assigned to michael-simons

[2021-10-11 07:51] #2373 closed

[2021-10-11 12:30] mp911de opened #2400 "Upgrade to Maven Wrapper 3.8.3"

[2021-10-11 12:30] #2400 closed, assigned to mp911de

[2021-10-11 14:42] LogicGateDan opened #2401 "Instantiation issue for abstract type when query contains descendent types"
[This simple example](https://github.com/LogicGateDan/sdn-repository-bug) demonstrates what appears to be unexpected behavior in SDN when attempting to use a repository
based on an abstract super-class domain entity to query results that should return objects of descendent domain class
types.

The project has three domain classes; one abstract super-class, `Person`, and two descendent classes, `Ev

[2021-10-11 19:51] meistermeier commented on #2401
The problem with your configuration in combination with the repository definition for the abstract entity is, that you do not provide an initial set of entities for SDN to work with.
You could fix this by adding:
[code]
to your `Neo4jConfig` (yes, this could be a little bit more elegant but you hopefully get the idea).
With this, SDN will pre-populate the mapping context with not only `Person`, th

[2021-10-12 11:46] #2398 closed, assigned to meistermeier

[2021-10-18 08:15] michael-simons opened #2403 "Upgrade CypherDSL to 2021.3.2."

[2021-10-18 08:45] #2403 closed, assigned to michael-simons

[2021-10-18 09:09] mp911de opened #2404 "Release 6.0.15 (2020.0.15)"

[2021-10-18 09:25] #2380 closed

[2021-10-18 09:26] mp911de opened #2405 "Release 6.1.7 (2021.0.7)"

[2021-10-18 12:02] #2381 closed

[2021-10-18 12:03] mp911de opened #2406 "Release 6.2 GA (2021.1.0)"

[2021-10-18 15:22] jposthauer opened #2407 "Discrepency between Neo4jTemplate saveAs and saveAllAs"
It appears that saveAllAs saves all properties regardless of whether those properties are in the projection passed as the `Class<R> resultType` parameter, while saveAs only saves the properties that are in the projection.

On the other hand, relationships seem to behave the same for both, if the relationship isn't included in the projection then it is not saved.

The expected behavior is that prop

[2021-10-18 19:53] spring-projects-issues commented on #2401
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-10-20 11:51] michael-simons opened #2408 "Custom converters cannot be applied to collections."
SDN 6 applies custom converters to individual elements of collections only. There are however usecases in which a converter needs to be applied to a complete collection. This is an urgent, missing feature.

[2021-10-20 12:26] #2408 closed

[2021-10-20 17:00] jposthauer commented on #2407
I was able to replicate the issue with a simple app: https://github.com/jposthauer/SimpleApp/blob/master/src/test/java/com/example/ApplicationTests.java

The first test passes but the second does not.

[2021-10-21 06:53] michael-simons commented on #2407
Thank you, I can reproduce this now. Expect a fix soon.

[2021-10-21 13:51] aleksanderlech commented on #2397
You were right, that was the ogm-core but still at least not the whole spring module and its dependencies.
There it could be even better if to create a small module containing only the annotation classes.

[2021-10-21 13:53] michael-simons commented on #2397
I wouldn't mind extracting a separate module in _this_ project too much. What stands against it is the fact our `@Node`, `@Id` and some other annotations are meta-annotated with Spring Data commons one, so it wouldn't gain too much.

[2021-10-24 21:56] xenoterracide opened #2410 "Geo / Spatial"
Does Spring Data Neo4j support Data Commons Geo/Neo4j Spatial? if so, could some reference documentation, and maybe a guide for working with map data be added? if not are patches welcome?

I can't give any time frame to when I might be able to work on it, and could probably use some mentorship if that's necessary.

P.S. I kind of hate the mass import of the Spring Data Commons Reference Documentat

[2021-10-25 19:53] #2401 closed, assigned to nobody

[2021-10-27 07:48] #2363 closed, assigned to meistermeier

[2021-10-27 10:25] michael-simons opened #2411 "Upgrade CypherDSL to 2021.3.3."

[2021-10-27 10:26] michael-simons opened #2412 "Upgrade CypherDSL to 2021.4.0."
Will be on par with the dependency on QueryDSL (5.0).

[2021-10-27 11:37] shayantabrizi opened #2413 "Raising error on no tranaction"
If I'm not mistaken, ogm used to throw an error if we were not in a method with @Transactional (or a similar construct), but it seems that the new SDN does not throw an error. Is it possible to reenable the error throwing?

[2021-10-27 13:28] Andy2003 opened #2414 "[6.2-RC1] regression: error querying cyclic entities"
**This error popped up after updating from 6.2-M3 to 6.2-RC1 (also on master)**

Given:

[code]

[code]

[code]

[code]

The following test will fail:

[code]

with the following error:

[code]

[2021-10-27 13:59] Andy2003 opened #2415 "Saving an object with inheritance with projection will clear not projected relations"
Given

[code]

[code]

[code]

[code]

[code]

[code]

The following test will fail:

[code]

When enabling logs, I can see the following query:

[code]

This error only occurs if `NodeEntity` inherits `BaseNodeEntiy`. When I remove the inheritance, the test works as expected.

[2021-10-27 18:22] #2412 closed, assigned to meistermeier

[2021-10-28 06:49] #2411 closed, assigned to meistermeier

[2021-10-28 10:08] #2415 closed, assigned to michael-simons

[2021-10-28 10:53] #2414 closed, assigned to meistermeier

[2021-10-29 06:51] #2413 closed, assigned to meistermeier

[2021-10-30 18:52] Sm0keySa1m0n opened #2416 "Relationship not persisting when relationship property present in both nodes"
I have two nodes:

[code]
[code]
If you add a `User` to a `Group` and save the `Group`, the relationship **IS NOT** persisted.
If you set the `Group` from the `User`, the relationship **IS** persisted.
It doesn't matter which way round the relationship direction is.

I'm using the latest snapshot (6.2.0).

[code]

[2021-10-30 20:12] Sm0keySa1m0n commented on #2416
Update: I have done some further testing and have found that the problem only occurs if a version property is present on the `User` node.

[2021-11-01 08:51] meistermeier commented on #2416
You have to define the relationship on both sides. Otherwise you would put your model into an inconsistent state.
Either the relationship is set (`Group` to `User`) or not existent (`User` to `Group`).
What happens here is that SDN finds the defined relationship first, creates it but than parses the `User` without any relationship definition and issues a delete.

[2021-11-01 08:51] #2416 closed

[2021-11-01 10:51] Sm0keySa1m0n commented on #2416
Wouldn't it be better if there was some sort of attribute on the `@Relationship` annotation which defined if it was responsible for "setting" the relationship? That way you wouldn't need unnecessary duplicate relationships.

[2021-11-01 10:54] Sm0keySa1m0n commented on #2416
Unless when you said define the relationship on both sides you mean set the value on both nodes?

[2021-11-01 11:45] #2410 closed

[2021-11-01 12:49] Andy2003 opened #2417 "SimpleNeo4jRepository::existsById loads all relations of the node"
Given

[code]

[code]

[code]

The following test will load all NodeEntities in memory:

[code]

Log:

[code]

[2021-11-01 13:38] meistermeier commented on #2394
@mp911de is this done? I assume it is but maybe there is something hiding ;)

[2021-11-01 17:52] cberes opened #2418 "Relationships not populated by findById"
I've encountered a couple scenarios where relationships are not populated by a repository's findById method. The effect seems to be random--sometimes one relationship is not populated, sometimes another, or sometimes all relationships. Here is an example project: https://github.com/cberes/neo4j-relationship-bug

Say I have a super class with 2 relationships, one of which is generic:

[code]

And t

[2021-11-01 19:03] surjitbhachu opened #2419 "findById and existsById throwing exception"
I am trying to upgrade Spring Neo4j 6.1.5 to 6.1.6.

Here is my entity class:

[code]

When I try to run the method `findById` or `existsById`, I get the following exception:

[code]
If I revert back to 6.1.5, I don't get the exception.

[2021-11-02 07:59] meistermeier commented on #2419
Thanks for reporting this.
We had to improve the statements for handling cyclic domains.
What you are seeing is a bug in the product (Cypher planner) itself and is solved in 4.3.3 / 4.2.10 (or higher).
Our advice is to upgrade to the newest patch versions.

Duplicate of https://github.com/spring-projects/spring-data-neo4j/issues/2414

[2021-11-02 07:59] #2419 closed

[2021-11-02 08:22] meistermeier commented on #2416
No, because if you define both sides in your domain model, why shouldn't both be of the same priority? Otherwise you could also just not define the relationship at all on the other side.

[2021-11-02 09:01] meistermeier commented on #2418
Thank you for reporting this. For the non-alternative version, the solution is to add `@Node` to the `BaseEntity`.
This is needed because given the `AnimalRepository` that refers to an `Animal` wants to find a
[code]
where `T` is another `BaseEntity`. So there is a part in the query (simplified) `...-[:PLAYS_WITH]->(toy:BaseEntity)...`
But without the `@Node` on the `BaseEntity`, the `toy` was nev

[2021-11-02 10:55] Andy2003 opened #2420 "Allow dynamic projection for Neo4jTemplate::save"
There are situations when you want to dynamically determine which fields of a domain object should actually be saved.

To achieve this it would be good to have a method similar to `Neo4jTemplate::saveImpl` available as a public API

https://github.com/spring-projects/spring-data-neo4j/blob/ea7bfb71b1669ca6e88fc9a06f48fb90f0c21739/src/main/java/org/springframework/data/neo4j/core/Neo4jTemplate.java

[2021-11-02 14:21] Sm0keySa1m0n commented on #2416
I have fixed the issue by using `@ReadOnlyProperty` on the user relationship property.

[2021-11-02 14:42] Andy2003 opened #2421 "Projections: Too much data is loaded"
Given:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

the following test will fail:

[code]

The generated cypher is:

[code]

This is a condensed example, in my real world example I have much more relations and so plenty of unprojected data is loaded into memory

[2021-11-02 14:45] Andy2003 commented on #2421
Test case provided: https://github.com/Andy2003/spring-data-neo4j/tree/test-case/gh2421

[2021-11-02 15:12] cberes commented on #2418
Thank you for looking into it.

Your comment got me thinking. I tried removing `getToy()` from AnimalAlt (and removing the generics from its definition so it looked like this: `public abstract class AnimalAlt extends BaseEntity<AnimalAlt>`) and still the relationships are not populated.

[2021-11-02 15:19] meistermeier commented on #2418
The "Alt-Version" is a different story that I am currently working on. The root problem is that SDN creates a query like `AnimalAlt_CARED_FOR_BY_Person` but the mapping part knows that this is e.g. a `CatAlt` and is looking for `CatAlt_CARED_FOR...`. I tried to generalize this also but this is not stable yet.
The non "Alt-Version" should work with the `@Node` annotation.

[2021-11-02 18:24] cberes commented on #2418
Ah I see, that makes sense. Thank you for the insight into this. Unfortunately I'm not sure that adding @Node to BaseEntity is an option for us, as it would add a new label to every node.

[2021-11-03 12:09] michael-simons opened #2423 "Support Neo4j 4.4 user impersonation."
This requires both the upcoming Neo4j 4.4 server product and corresponding driver.

[2021-11-03 12:23] Andy2003 commented on #2421
It's getting even worse if you query with a projection, which is implemented by the domain class (what I would prefer in terms of refactoring):

[code]

Logs

[code]

As you can see all relations are queried, even if they are not projected at all.

[2021-11-03 12:53] #2423 closed

[2021-11-03 12:56] michael-simons opened #2424 "Upgrade to Neo4j-Java-Driver 4.3.5."

[2021-11-03 13:06] michael-simons opened #2425 "Upgrade to Neo4j 4.3.6."

[2021-11-03 13:18] #2424 closed

[2021-11-03 13:18] #2425 closed

[2021-11-04 14:05] michael-simons opened #2426 "Allow specifying the impersonated database user via the clients."
Will be a breaking API change in case a user used the builder interfaces directly, otherwise we cannot not provide a "circle" free builder API.

Related requirement #2422

[2021-11-04 16:13] michael-simons opened #2428 "Mapping functions is cached in some situations causing objects not being refreshed."
When the mapping function is not refreshed, the cache of known objects is not reset. In a reactive retry scenario, queries will then be executed, but the result will not be read.

[2021-11-04 18:21] #2428 closed

[2021-11-05 08:41] michael-simons opened #2430 "Allow beans being used in `@ConvertWith`."
This would allow for example access to ObjectMapper and friends.

[2021-11-05 09:06] #2426 closed

[2021-11-05 14:59] michael-simons opened #2431 "Improve documentation around custom converters."

[2021-11-05 15:04] meistermeier commented on #2421
It took some time to track this down, sorry.
But in the end it is correct behavior. SDN does exactly load what is defined.

Explanation for the initial example:
As you have correctly noticed, the generated query contains:
[code]
The reason is that `ApiBaseNodeProjection` from `ApiMeasurementMetaProjection extends ApiBaseNodeProjection` defines:
- `NodeType getNodeType()` via `BaseNodeWithNodeType`

[2021-11-05 15:23] Andy2003 commented on #2421
@meistermeier The Query for test 1 looks like

[code]

There is no projection defined to query for `measurementMeta` -> `MeasurementMeta_CHILD_OF_NodeEntity` -> `NodeEntity_HAS_TYPE_NodeType`.

If you go the path from the interfaces:

1. `BaseNodeWithParent::getParent()` via `ApiMeasurementMetaProjection`  maps to `measurementMeta.MeasurementMeta_CHILD_OF_NodeEntity`
2. `BaseNodeWithParent::getPar

[2021-11-05 15:27] Andy2003 commented on #2421
Background: I'm trying to get only the nodeId of the parent via projection, without resolving any other relations.

[2021-11-05 15:35] Andy2003 commented on #2421
Regarding the 2nd test:

So is this a spring data issue?
I passed only an interface, which should be used to project the fields. Why is the library (or spring data) using fields from the domain class? The instructions given says: "use only the paths from the interface".

[2021-11-05 15:36] meistermeier commented on #2421
I think respecting my second comment will solve this. The problem is that `BaseNodeFieldsProjection getParent()` in `BaseNodeWithParent` will get interpreted as a `NodeEntity` because the `MeasurementMeta_CHILD_OF_NodeEntity` points towards a `BaseNodeEntity` (you can see this as part of the query).

[2021-11-05 15:38] meistermeier commented on #2421
No it isn't. Spring Data does not even support this kind of multi-level projection that you want to define.
It is just not supported and won't ever work because it is an ambiguous constellation of information:
`BaseNodeFieldsProjection` _could_ be a projection by itself but it can also be a generalization of the entity `BaseNodeEntity`.

[2021-11-05 15:42] Andy2003 commented on #2421
Is that really the way it's supposed to be? I have explicitly projected everything via interfaces. It is not exactly what I would expect, that the library, on the 2nd level, suddenly no longer respects the interfaces.

`BaseNodeFieldsProjection` could be a projection by itself but it can also be a generalization of the entity `BaseNodeEntity`.

Would a `@Projection` annotation solve this ambiguity

[2021-11-05 15:46] Andy2003 commented on #2421
I am a big fan of compile-time checks. Therefore I would like to have my projections being implemented by the domain classes. So  we need a way to mark these projections in a way so the library knows what to do.

[2021-11-05 15:49] michael-simons commented on #2421
Because someone might have slapped more annotations at those fields, for example gave them different names than the derived ones.

[2021-11-05 15:51] Andy2003 commented on #2421
This is perfectly fine, you need to match the projection with the domain model, but you should not load more than requested.

[2021-11-05 15:54] Andy2003 commented on #2421
I can confirm that the generated cypher query meets my expectations if I do not let the domain classes implement the projection interfaces. But as said... compile time checks

[2021-11-05 15:55] meistermeier commented on #2421
This is something we cannot solve for you. This is not how projection in Spring Data in general work. They are loosely coupled and I am not keen to change this because this will lead render it ambiguous.

[2021-11-05 15:57] #2431 closed

[2021-11-05 15:59] Andy2003 commented on #2421
OK, I can understand that. However, some refactorability is lost due to the loose coupling. Is this a topic that should be discussed at Spring data, so that such use-cases are also covered in the future.

[2021-11-05 16:03] meistermeier commented on #2421
No. As I have explained above, this is something orthogonal to the original projection concept.

[2021-11-08 07:18] mp911de commented on #2394
I think we can close this one.

[2021-11-08 07:18] #2394 closed

[2021-11-08 09:34] #2430 closed

[2021-11-09 10:21] meistermeier commented on #2417
Thanks for reporting this. This is indeed something we can improve.
We took the simplest approach first and just checked if the whole result (incl. relationships) returns at least one entity.

[2021-11-09 11:22] #2417 closed

[2021-11-09 14:37] meistermeier opened #2436 "Introduce RelationshipId as shortcut for relationship properties ids."
Instead of having to define `@Id` and `@GeneratedValue` of which both are not configurable for `@RelationshipProperties`, users should have the option to have only one annotation to add to the identifier field: `@RelationshipId`.

[2021-11-09 14:37] #2436 closed

[2021-11-09 17:27] Andy2003 opened #2437 "Multiple request for projection"
Given

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

The following invocation:

[code]

Will run multiple queries against the db:

[code]

In my opinion it is not necessary to query all relations separately for the given projection. One query should be sufficient here.

[2021-11-09 17:35] Andy2003 commented on #2437
As soon as I remove `ApiMeasurementMetaProjection::getBaseMeasurement()` from the projection, the data is queried by a single call:

[code]

[2021-11-09 17:53] Andy2003 commented on #2421
@meistermeier Can you please reopen this ticket?

After playing around a bit with the projections, I'm sorry to say that my statement above is not valid. Even if the domain classes do not implement the projections, too much data is queried:

This statement above (https://github.com/spring-projects/spring-data-neo4j/issues/2421#issuecomment-961987532) is also valid if the domain classes do not impl

[2021-11-09 17:56] Andy2003 commented on #2421
I adjusted the test case to reflect the behavior I mentioned above.

[2021-11-10 08:35] meistermeier commented on #2421
Thanks for checking this again. I can see that there is something unexpected happening in the property/relationship filter with the updated test.

[2021-11-10 13:45] meistermeier commented on #2421
Spotted the problem. At least your test should runs green now.
There will be a `6.2.0-GH-2421-SNAPSHOT` available within the next hour. Would be good to get your feedback.

[2021-11-10 14:34] Andy2003 commented on #2421
@meistermeier

Unfortunately, I can't yet make a final judgement on whether the problem is solved for more complex projections. I cannot currently run the application as I am migrating it from OGM. I am only picking out isolated issues that I am discovering during the migration.

BTW: https://github.com/spring-projects/spring-data-neo4j/commit/03aa5f63eb5fe8bc1b5e0c8099301101e0a8517e#r59936013

[2021-11-10 14:58] #2421 closed

[2021-11-10 16:20] meistermeier commented on #2437
I leave the card as a long-term enhancement open. At the moment it is not possible to determine at the moment of the circle detection if we are inspecting a projection or entity.
In the entity-world SDN only sees this:
[code]
and interprets it as a same-type relationship -what it is- and falls back to the broader data-driver discovery with cascading queries.

[2021-11-11 10:39] michael-simons opened #2438 "Upgrade to Neo4j-Java-Driver 4.4.1."

[2021-11-11 10:40] michael-simons opened #2439 "Upgrade CypherDSL to 2021.4.1."

[2021-11-11 11:19] #2439 closed

[2021-11-11 11:27] #2438 closed

[2021-11-11 16:07] #2418 closed

[2021-11-12 09:05] #2404 closed

[2021-11-12 09:07] schauder opened #2440 "Release 6.0.16 (2020.0.16)"

[2021-11-12 10:08] #2406 closed

[2021-11-12 10:08] schauder opened #2441 "Release 6.2.1 (2021.1.1)"

[2021-11-12 10:09] #2405 closed

[2021-11-12 10:10] schauder opened #2442 "Release 6.1.8 (2021.0.8)"

[2021-11-16 09:51] mp911de opened #2443 "Release 6.3 M1 (2022.0.0)"

[2021-11-18 10:29] rlippolis opened #2444 "Repository query method with 'contains' on list property generates incorrect cypher query"
Given a graph with the following node:

[code]

If I want to write a repository query method to find the nodes which contain a given item in their `items` list property, I expect the following to work:

[code]

However, executing this method yields no results, because it generates the following cypher query:
[code]

So it uses the `CONTAINS` keyword, which in cypher is used for partial String matc

[2021-11-18 10:51] michael-simons commented on #2444
Hey. This is an interesting one, takes for taking the time to create it, much appreciated

 In Spring Data commons `CONTAINS` is usually defined as the String Op you described and how we implemented it.
Can you share the domain class(es), please?
It might be worth considering that if we find a list on the entity to generate an actual `IN` condition.

Things that interest me:
- Are you using a cust

[2021-11-18 11:01] rlippolis commented on #2444
Hey Michael, thanks for your quick response.

See the domain class in my sample project: https://github.com/rlippolis/spring-data-neo4j-listcontains-test/blob/main/src/main/kotlin/com/example/neo4jlistcontainstest/TestNode.kt

I'm not using any custom converters. The property currently is a `List<String>`. I've tested it with a `Set` as well as with an `Array`, same result.

[2021-11-18 11:12] bekirtaskin opened #2445 "BlockHound finds blocking call on projection"
BlockHound finds projection is "blocking call";

![image](https://user-images.githubusercontent.com/21952165/142404100-a02957cf-b59d-4ab3-bb76-bc7ab315f689.png)

I am using ReactiveNeo4jRepository with cypher query;

![image](https://user-images.githubusercontent.com/21952165/142404214-877c3912-7497-4d01-a9fe-b4964b2512cf.png)

Spring data tries to read return class and gets blocking call exceptio

[2021-11-18 12:05] meistermeier opened #2447 "Fix test for Windows builds"

[2021-11-18 12:27] #2447 closed

[2021-11-18 16:20] #2444 closed

[2021-11-18 16:21] michael-simons commented on #2444
Thank you, @rlippolis Thanks to the Cypher-DSL based builder, this was an easy fix / improvement. Thanks again for reporting it and providing the reproducer.

[2021-11-18 16:27] rlippolis commented on #2444
Awesome, thanks for the quick response and fix, @michael-simons! 👍

[2021-11-19 10:08] mp911de commented on #2445
Thanks for the report. Spring Data's projection infrastructure indeed parses ASM metadata by reading class files to analyze the projection. Projections can be declared as concrete projection return types but also be dynamic (`<T> T findBy(…, Class<T>`) and that is why we analyze the return type during query creation/result processing.

While we could move the parsing of static projections to an ea

[2021-11-22 12:28] meistermeier opened #2448 "Investigate support for complex key types"
Given our `PersonWithCustomId` from the test suite:

When altering the `PersonId` to something like:

[code]

it is not possible to simple query/delete.. _byId_
This is due to the fact that the converter needs to be not only a `GenericConverter` but also a `Neo4jPersistentPropertyToMapConverter` to reflect the composite nature of the property.

The question originally appeared over at https://stac

[2021-11-22 16:49] gonzalad opened #2449 "Composite property issue: removing entry doesn't work"
Hello,

I'm using SDN 6.2.0.

When I remove an entry from a composite property.
Then I expect the entry to be  removed from the database node.
But the entry is not removed.

I think the issue originates from the Neo4j query generated by SDN in CypherGenerator#prepareSaveOf (I assume the += in the second match):

[code]

Thanks !

**Sample**

[code]

Test case:

[code]

**Reproducing the issue**

T

[2021-11-22 16:53] gonzalad opened #2450 "Composite property: reading neo4j wrapper objects instead of java primitives"
Hello,

I'm not sure this is an issue or not (it could be an enhancement), anyway, here it is:
When I store a string in a composite property, I'd expect to retrieve a string when reading the database.
But instead i get a wrapper object (StringValue).

I could implement my own compositeProperty converter, but should this use case (simple type management) be handled by default ?

This issue can be r

[2021-11-23 08:48] michael-simons commented on #2449
Hi @gonzalad thanks for taking the time to fill an issue.

This one is a duplicate of https://github.com/spring-projects/spring-data-neo4j/issues/2280.

Elements in a composite property must be set explicitly to literal `null` or to `Values.NULL` to be removed.
This can be done either in a custom converter if you run such a thing for your entity or in client code such as in your case.

Why is that

[2021-11-23 08:48] #2449 closed

[2021-11-23 09:21] michael-simons commented on #2450
Hi @gonzalad

This is a behavior intentionally by design. As you defined your composite property in the most generic way like this:

[code]

we can determine what kind the value is during _writing_ but we can only *guess* what you want when _reading_. Do you want a `String` or a `Long` with a value such as `42`?

You might argue that you wrote `(Long) 42` initially and that there's an integer prop

[2021-11-23 09:21] #2450 closed

[2021-11-23 13:35] gonzalad commented on #2449
Thanks @michael-simons, sorry I missed the initial issue !

[2021-11-23 14:34] michael-simons commented on #2449
My pleasure, and no problem.

[2021-11-24 17:36] gonzalad opened #2451 "Persistence of projections with composite properties"
Hello,

I'm trying to use persistence of projections on an entity defining a composite property, but the property is not saved.

I'm using SDN 6.2.0.

Here is my testcase:

[code]

[code]

Unit test:

[code]

The code is available in this repository: https://github.com/gonzalad/sdn6-tests/blob/projection-persist-composite-properties/src/test/java/com/example/sdn6/Sdn6Test.java (it relies on testco

[2021-11-25 07:12] meistermeier commented on #2451
Thanks for reporting this.
I would link this to #2371 because as far as I understood what is happening, both issues are very close.

[2021-11-25 15:02] meistermeier opened #2452 "Relationships are not mappend if defined in abstract class constructor."
This is related to the already solved #2418

A relationship in will not get mapped if it is defined in an abstract class and queried through a repository defined for the abstract class.

Example:
[code]
and
[code]
with a repository
[code]

Will create a query containing `AbstractClass_SOMETHING_something` for the relationship.
On the mapping side, the code already figured out that the class to cre

[2021-11-27 14:58] Sm0keySa1m0n opened #2453 "Retrieving Relationship Properties"
What is the intended way of retrieving a relationship's properties? For instance, lets say I have a `User` node who is related to a `Group` node and I store properties such as their permissions, nickname etc. in a `@RelationshipProperties` class. However, I have no way of retrieving or modifying these properties for a specific `User` without (as far as I know) retrieving the entire `Group` node an

[2021-11-30 13:26] meistermeier commented on #2452
Additional information: This bit is only missing when using relationships in the constructor. #2418 already solved the property (Setter/Wither) problem.

[2021-12-02 10:05] #2452 closed

[2021-12-02 13:50] mdelmoral opened #2455 "@DynamicLabels doesn't specify the node's label"
Hi,
In a new phase of our project, we started to use `@DynamicLabels` annotation in the most numerous type of node we have in our database.

[code]

In the DEV environment (~60k nodes), it worked great and we didn't have any problem but we deployed to PRO, the problems arose (~6.5M nodes). The performance of our DB has collapsed, even it is oversized and has plenty of hardware resources.

We start

[2021-12-02 14:14] michael-simons commented on #2455
Thanks @mdelmoral excellent catch, will fix ASAP.

[2021-12-02 14:45] #2455 closed

[2021-12-03 21:10] surjitbhachu commented on #2451
I've hit this problem as well, composite properties are not saving when using `saveAs`. Are there any workarounds to save these properties to the database?

[2021-12-06 10:15] meistermeier commented on #2453
This were only particular possible in SDN 5 with the `@RelationshipEntity`.
What you want to achieve could be solved
a) with a custom query, as you already said.

b) modelling the relationship (properties) from the `User` to the `Group`, if this is possible at all, and than using projections.
So you would create:
[code]
than you could do, for example, a `UserRepository#findByRelationshipNickname(S

[2021-12-06 10:27] #2339 closed

[2021-12-06 14:38] Sm0keySa1m0n commented on #2453
I ended up putting the relationship properties on the user instead of group (not sure why I didn't do that in the first place).

Though may I ask why it was decided to not make relationships root entities in SDN 6? It still seems like quite a useful feature, I acknowledge you can use a custom query but you can't take advantage of the mapping framework when you do that.

[2021-12-06 15:57] meistermeier commented on #2453
We brought a stricter domain driven context into Spring Data Neo4j. This is more in line with the general Spring Data concept. This means that relationships are no entities because they cannot exist without connected entities. If you remember SDN 5 / Neo4j-OGM there was always the need to also load the from- and to-node.
Also we interpret them compared to SQL stores like the equivalent to m:n mapp

[2021-12-06 15:57] #2453 closed

[2021-12-09 15:36] fabienOuedraogo opened #2456 "Node(ID) already exists with label `X` and properties `y` = 'z', `a` = 'b' on repository save with unicity"
Hi the Team,

I got the error `Node(ID) already exists with label Entity and properties prop1 = v1, prop2 = v2` when try trying to save an entity defined as:

[code]

I created an unicity constraint for LinkedEntity where prop1 and prop2 must be unique (`ASSERT (n.prop1, n.prop2)`)

Now when a LinkedEntity already exists I get a Constraint violation exception when I try to create a new Entity link

[2021-12-10 14:00] meistermeier commented on #2456
Spring Data Neo4j won't create entities already existing in the database.
All save operation are using some kind of "MATCH first (on id), if nothing was found, CREATE"-logic.
I am wondering why the message mentions the `Entity` class and not the `LinkedEntity` class in `... with label Entity ..`.
Is it possible that you do have a saved node of the type `Entity` with the properties and now persist

[2021-12-10 14:47] fabienOuedraogo commented on #2456
@meistermeier thank you for your response.

Here is what I did:
[code]

When a want to create a new Entity linked to an existing LinkedEntity, I set the tenant property and add an additionalLabel which is "BU" concatenated to the tenant. The objectif is to get a new relation as :
[code]
Please note that I have an unicity constraint on LinkedEntity code and tenant as we can get another LinkedEntity

[2021-12-10 19:51] marichka-spin opened #2457 "Inheritance support in relations mapping"
Hello, team!
I have a question regarding relation mapping. I'm trying to migrate from OGM version 5.3 to Spring Data version 6.1.7 I'm aware that relation mapping is done by the following pattern:
NodeLabel1_RelationName_NodeLabel2. Where 'NodeLabel1' and 'NodeLabel2' is the most precise labels of the entity.
But lets consider the case with inheritance:

[code]

So custom generated query with some

[2021-12-13 08:03] meistermeier commented on #2457
It depends on the hierarchy level your repository is defined on:
If it is an `AnimalRepository`, SDN will create `Animal_livesIn_House` otherwise `Cat_livesIn_House` (`CatRepository`) / `Dog_livesIn_House` (`DogRepository`).
There were some enhancement in this area lately #2418 and #2452, that I think should fix your problem. Both are targeted for 6.2.1 and are not yet planned for a 6.1.x release.

[2021-12-13 08:12] marichka-spin commented on #2457
Before I'll give a try I'd like make some clarification: I'm using a lot of dynamically generated cypher queries and try adopt those queries to the new Spring Data version 6.x (to execute the queries I use either 'Neo4jTemplate' or 'Neo4jClient') -  will those enhancements in 6.2.1 work for me in these cases?

[2021-12-13 10:39] meistermeier commented on #2457
Could you please explain, what you mean with:

and

?
Where did those Cypher queries get generated?

[2021-12-13 10:52] marichka-spin commented on #2457
In order to improve performance, our team implemented custom query generators.  Queries generation is based on the filter and search params that are received from the API. For example
[code]

These queries may include a lot of additional filterings (it depends on Entity complexity) and calls to the custom Neo4j function. But our implementation uses spring data mappings very actively.

[2021-12-13 13:05] meistermeier commented on #2457
Ok, I see.
If your generator follows the principles https://github.com/spring-projects/spring-data-neo4j/blob/6da75fefbda01e52d34263abebc9206f7d0a4cc7/src/main/java/org/springframework/data/neo4j/core/mapping/RelationshipDescription.java#L116 this should work with the given (snapshot) versions above. But please keep in mind that this method could change over time. This is a naming contract method

[2021-12-13 15:56] meistermeier commented on #2456
We remove and set the labels because we need to be sure that after the persist operation you are left only with the labels defined on you entity at the moment of calling save.
I am currently testing if there is any possible constellation that would somehow trigger the creation.

[2021-12-13 16:07] fabienOuedraogo commented on #2456
@meistermeier Thank for your response and your investigation.
I'm currently trying to setup a compound key (code, tenant) for my nodes to check if I can avoid constraint violation. I assume it is possible to have compound key like `@Id MyCompoundKey id; `

[2021-12-13 19:59] marichka-spin commented on #2457
Cool! I've tried version 6.2.1-SNAPSHOT. Works for me!

[2021-12-14 07:37] meistermeier commented on #2456
FYI: A composite key won't work, yet.
There is already an open issue for this enhancement #2448

[2021-12-14 08:49] meistermeier commented on #2456
I am currently wondering what version of Spring Data Neo4j 6 you are using.
The generated query for the related node:
`MATCH (n) WHERE n.code....`
should be
`MATCH (linkedEntity:LinkedEntity) WHERE linkedEntity.code = $__id__ `
in the more current versions.
Also the `REMOVE` part for the labels is not explicit anymore in the queries.
A more current version could help (6.1.latest / 6.2.latest)

[2021-12-14 14:06] fabienOuedraogo commented on #2456
@meistermeier I used version 6.0.6 and then migrated to 6.1.1. The log I posted was for both versions, I think. Do you mean an higher version than 6.1.1 could help?

[2021-12-14 16:16] myfrontpocket opened #2458 "Order of Non-Root Nodes Not Being Respected"
SDN 6.2

For the following simplified example data model:

[code]

If I had Group with id "12345", that has two operations--Operation A with priority 2 and Operation B with priority 1--and two conditions--Condition A with priority 2 and Condition B with priority 1, then I would expect this statement:

[code]

To map to a `Group` object that would pass this test:

[code]

The assertions here, `cont

[2021-12-15 18:20] marichka-spin opened #2459 "Relation mapping using the most abstract label"
Hello again team :)
I continue working over migrating our code to the new Spring Data. And currently I'm testing version 6.2.1-SNAPSHOT. Lets consider the case:

[code]

So lets consider that Neo4j DB has Node(Boy) that has 1 relation to 1 Cat and 1 relation to 1 Dog, I assumed that projection view that looks like below should work and should result List<Animal> pets with size 2 but results with N

[2021-12-16 15:07] marichka-spin commented on #2459
I've created test project to reproduce the issue https://github.com/idun-corp/neo4j-test
Everything works using only embedded Neo4jDB

[2021-12-22 08:03] aleksanderlech commented on #2199
Hello @michael-simons , I was little away from the upgrade process so I had no really chance to test it by today.
I see that the current implementation still requires my nodes to have all of the Labels throughout the model - I don't really understand why it has to be like that and can't work as it did before.

I fully agree that in case of inheritance, where some other labels are defined with @Nod

[2021-12-22 09:07] ImCa0 opened #2460 "Cannot resolve sort properties correctly in @Query()"
This is my code:
[code]

This is my repository:
[code]

The CQL generated is:
[code]

And throw an error:
[code]

The correct CQL should be:
[code]

I can fix it by:
[code]

But it seem not appropriate using `n.` out of CQL

[2021-12-22 11:52] meistermeier commented on #2460
As you can also see here in the test case https://github.com/spring-projects/spring-data-neo4j/blob/5e59865cfb305aa6f42777164ab89215efdb8010/src/test/java/org/springframework/data/neo4j/integration/imperative/RepositoryIT.java#L516 the `n.name` needs to get defined.
There is no (meta-)information to derive the name of the variable from.

[2021-12-22 11:52] #2460 closed

[2021-12-22 12:07] ImCa0 commented on #2460
I see. Thanks.

[2021-12-22 13:15] meistermeier commented on #2459
Thanks for spotting this. I thought that I did something to avoid the override. Must have been wrong ;)

[2021-12-22 13:21] marichka-spin commented on #2459
No problem! Looking forward to the fix! Wish you Merry Christmas and happy holidays

[2021-12-22 14:20] meistermeier commented on #2459
There will be a little early Christmas present available for you with version `6.2.1-GH-2459-SNAPSHOT`. :gift:
But Santa's elves are still working on this, it should arrive in ~30 minutes and Santa would be thankful for feedback :santa:
Thanks :wink:

[2021-12-23 08:47] marichka-spin commented on #2459
@meistermeier thank you for the fix. I'm still testing. Are you interested in other issues I may notice during my work? Anyway I'm using neo4j and Neo4j Spring Data actively.

[2021-12-23 09:00] meistermeier commented on #2459
Great, thanks for the feedback.
Of course we are interested in the issues, you have to report.

[2021-12-23 10:17] #2459 closed

[2021-12-23 11:12] marichka-spin commented on #2459
@meistermeier Thank you! Finally I've finished testing the new fix! Looks good! Looking forward for release!

[2021-12-23 15:23] meistermeier commented on #2458
What you are ordering and returning is not an ordered list
You are ordering not the lists, you would return -TBH I do not how to do this- but you are just ordering the `group` by those properties.
Simpler example:
Given `(a:Person)-[:LIKES]->(:Food{name:'Seitan"})` and `(b:Person)-[:LIKES]->(:Food{name:'Noodles"})`
and you would do something like `ORDER BY food.name ASC`, you would always end with

[2021-12-23 15:56] myfrontpocket commented on #2458
Ordering a set of nodes in a WITH clause and then returning that data set is not an uncommon thing, and is provided by example in the documentation: https://neo4j.com/docs/cypher-manual/current/clauses/order-by/#order-with

The data, presented, in a tabular form, should be and would be ordered as I've written it.  So, it's not a fluke of randomness that it works in the browser; it works that way b

[2021-12-23 16:07] meistermeier commented on #2458
The first example also refers to the node named `n` respectively `group` in your example. Of course you can order this one but you cannot simply order the attached arrays with Cypher on-board syntax.
I will have a look at the example with the strictly (apoc) ordered list you gave.

[2021-12-23 16:16] myfrontpocket commented on #2458
"but you cannot simply order the attached arrays with Cypher on-board syntax."

I'm not sure what you mean by this. This is clearly what I've done with the use of the order by here:

[code]

This works. If you changed anyone of those ASC to DESC and reran it in the browser, and looked at the data in table format, it would be ordered as specified.

[2021-12-23 16:39] meistermeier commented on #2456
Yes definitely, we did some enhancement in this area. If possible use 6.1.7 (latest 6.1 as of this writing) or 6.2.0.

[2021-12-27 13:11] meistermeier commented on #2458
Sorry that I did not catch the (unwritten) detail in the documentation:
[code]
becomes
[code]
and with the `collect` of p
[code]
So it should preserve the ordering even without the use of APOC.
Also there is now a `6.3.0-GH-2458-SNAPSHOT` that should solve the problem. If a 6.3.x does not work for you, I could also bring it to a 6.1 or 6.2 snapshot for feedback.

[2021-12-28 16:39] fabienOuedraogo commented on #2456
Ok thank you @meistermeier

[2022-01-03 07:24] meistermeier commented on #2456
Closing this for now. If the problem persists, feel free to open this issue again.

[2022-01-03 07:24] #2456 closed

[2022-01-03 12:28] #2420 closed

[2022-01-04 09:57] spring-projects-issues commented on #2458
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-01-07 19:06] myfrontpocket commented on #2458
Sorry for the delayed response.  I can confirm that the change in your snapshot works.  Thanks so much!

[2022-01-10 07:36] meistermeier commented on #2458
Thanks a lot for your feedback. :bow:

[2022-01-10 07:51] #2458 closed

[2022-01-10 08:05] mp911de opened #2461 "Release 7.0 M1 (2022.0.0)"

[2022-01-10 08:36] michael-simons commented on #2461
Let me just rebase the 7.x branch again.

[2022-01-12 15:42] marichka-spin opened #2462 "Mapping of nested classes collected under common label"
Hello, team!

I have a question regarding inheritance again. For Example there is the following architecture:

[code]

I have a use case when I need to get the collection of all entities that are subclassed from BaseClass. With OGM I was able to execute the following query and have everything mapped correctly.
[code]
But now the cypher response has increased significantly and not totally correct.

[2022-01-12 16:07] michael-simons opened #2463 "Default transaction timeout is not used as a fallback."
In case the transaction definition has only the default tx timeout, we don't check the default tx timeout of the platform transaction manager itself, so that a Spring Boot property such as `spring.transaction.default-timeout` is not propagated as it should be.

via @dam-mond

[2022-01-12 17:16] #2463 closed

[2022-01-12 17:18] michael-simons commented on #2461
@meistermeier Rebasing fails for me right now. Would you please be so kind? Seems to be in parts you touched.

[2022-01-13 07:49] meistermeier commented on #2461
done

[2022-01-13 10:50] meistermeier commented on #2462
This is not as _simple_ as you might think in the first place :wink:  but challenge accepted.
Some background information on this:
The query generator uses the `BaseClass` because of the `BaseClassRepository` as the main type. It has 0 relationship definitions. Only the `PetOwner` as an abstract, inheriting class has. But in the mapping code, SDN finds the implementation of those abstract hierarch

[2022-01-13 10:59] marichka-spin commented on #2462
Yeah, I didn't have even the smallest thought that it is simple. I've debugged some classes of SDN that are responsible for mappings and I totally understand why it works this way.  And it is just a suggestion for you broad the vision on the possible use cases. I have already spent a lot of hours  trying to migrate our code from OGM (that is not supported anymore) to SDN. I think I'll be able to c

[2022-01-14 07:57] mp911de opened #2464 "Release 6.3 M1 (2021.2.0)"

[2022-01-14 09:15] christophstrobl opened #2465 "Release 6.1.9 (2021.0.9)"

[2022-01-14 09:55] christophstrobl opened #2466 "Release 6.2.2 (2021.1.2)"

[2022-01-14 10:19] #2464 closed

[2022-01-14 10:20] christophstrobl opened #2467 "Release 6.3 M2 (2021.2.0)"

[2022-01-14 13:49] #2461 closed

[2022-01-14 13:50] mp911de opened #2468 "Release 7.0 M2 (2022.0.0)"

[2022-01-14 13:58] meistermeier commented on #2462
Could you give `6.3.0-GH-2462-SNAPSHOT` a try?
It's not a sophisticated solution yet but it technical works.

[2022-01-14 15:13] marichka-spin commented on #2462
Brilliant!!! Its working!!! Many thanks!!!!

[2022-01-17 15:32] #2462 closed

[2022-01-17 15:43] meistermeier commented on #2462
Thanks for your feedback.

[2022-01-18 08:32] #2467 closed

[2022-01-18 08:33] christophstrobl opened #2469 "Release 6.3 M3 (2021.2.0)"

[2022-01-18 12:28] paulux84 opened #2470 "Path resolution in Repository"
Repository does not map to object result with only one node when cypher return path.

In the following example ServiceEntity (Service) contains a list (ServiceOption) that is correctly hydrated. In the meantime, all Service without relationships (the first match) are not returned as ServiceEntity from Repository while neo4j correctly returns it as result of a direct query to DB.
[code]
Thanks for

[2022-01-20 16:16] meistermeier commented on #2470
Thanks for reporting this.
It seems that an empty path returned by the single node was not correctly respected in SDN.
There will be a `6.2.2-GH-2470-SNAPSHOT` available in ~30 minutes containing the fix. Would be great to get your feedback on this.

[2022-01-22 18:07] paulux84 commented on #2470
Great, I'll try the fix as soon as possible and reply to you with the results.
Thanks again

[2022-01-28 09:19] meistermeier commented on #2470
Could you provide some data and/or reproducer?
For the pattern above I created two `Services` of which one is connected to a `ServiceOption`.
You can see the example here https://github.com/meistermeier/neo4j-issues-examples/tree/master/gh-2470
If you would comment the `6.2.2-GH-2470-SNAPSHOT` dependency, the app will fail.

[2022-01-28 11:12] paulux84 commented on #2470
Your code example is correct and the fix here seems to work. I'll searching for some dependency error in my project.

[2022-01-28 12:10] paulux84 commented on #2470
Solved, thanks...the problem is related to old dependency cache.

[2022-01-28 16:18] cberes commented on #2451
Just encountered this problem. We use CompositeProperty with and without a converter, and both scenarios are affected.

[2022-01-31 11:00] paulux84 commented on #2470
when will this fix be merged in a release branch?

[2022-01-31 11:02] michael-simons commented on #2470
https://calendar.spring.io

VMWare plans the releases.

cc @mp911de

[2022-01-31 11:02] #2470 closed

[2022-01-31 18:10] #2451 closed

[2022-01-31 18:20] michael-simons commented on #2451
Thanks everyone for reporting this. It will be fixed from 6.1 onwards.

[2022-01-31 21:49] gregturn opened #2471 "Externalize build properties."

[2022-01-31 22:46] #2471 closed

[2022-02-01 16:47] michael-simons commented on #2371
I agree with option 1+2: Throwing in the renamed attributes at the moment when the dotPaths are created in 2 when we the entity is still available works. But it needed to be done in both reads and writes. I wanted to avoid another concept like the alternative naming function. We have too many call sites that are affect (6, actually, 3 for imperative and 3 for reactive).

Also I took care of keepin

[2022-02-01 16:48] #2371 closed

[2022-02-03 21:34] adetrie commented on #1745
@meistermeier may you explain how to achieve it ? (I work with ReactiveNeo4jRepository and spring-webflux)
Thx

[2022-02-04 07:55] meistermeier commented on #1745
@adetrie It's in the docs https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#projections
But please do not hesitate to reach out if there are still questions.

[2022-02-04 13:04] meistermeier opened #2472 "Refine documentation regarding projections"

[2022-02-04 13:05] #2472 closed

[2022-02-04 17:05] paulux84 opened #2473 "Hydratation of object relationships using path"
Hi,
I've created a query inside the repository to return a node with its nearest nodes, but only one of the relationships was marshalled inside returning object.
The query is the following:

[code]

spring-data-neo4j version 6.2.2-GH-2470-SNAPSHOT
Thanks

[2022-02-05 15:44] scj7t4 opened #2474 "Cannot sort on properties with periods (.) in custom queries."
Hello-

I am using:

SDN 6.2.1
Java 11.0.14

Reproduction:

Reproduction can be found here: [in this repository](https://github.com/scj7t4/sdn6-projection-and-exotic-property-bugs), specifically [this test](https://github.com/scj7t4/sdn6-projection-and-exotic-property-bugs/blob/main/src/test/java/com/example/neo4jsortanddotpropertiesprojectionsaving/TestExoticProperties.java#L52)

I have created a

[2022-02-05 15:58] scj7t4 opened #2475 "Relationships are not persisted when saving DTO objects as domain objects."
Hello-

I am not sure this is a bug or if I'm not understanding/using projections correctly, so I do apologize if this is the expected behavior, but the docs are not clear if it is or not.

I am using:

SDN 6.2.1
Java 11.0.14

Reproduction:

Reproduction can be found here: [in this repository](https://github.com/scj7t4/sdn6-projection-and-exotic-property-bugs), specifically [this test](https://git

[2022-02-07 07:36] michael-simons commented on #2475
Could you please give the latest snapshot builds a try? This should be fixed https://github.com/spring-projects/spring-data-neo4j/issues/2371
however it might not work with dots in the (graph) properties.

[2022-02-07 10:40] aleksanderlech commented on #2199
Hello @michael-simons , any opinion on this? It still block us from upgrading the Spring Boot version...

[2022-02-07 13:42] #2474 closed

[2022-02-07 18:15] michael-simons commented on #2475
Hi, same here: Thanks for the excellent report, a fix is on its way from 6.1 on upwards.

[2022-02-07 18:30] #2475 closed

[2022-02-08 07:44] meistermeier commented on #2473
Short version: I think what you are looking for is [Path return patterns](https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#custom-query.paths).
So your return pattern should be something like: `RETURN n, collect(nodes(p)), collect(relationships(p))`.

Longer version:
Spring Data Neo4j works completely record/row oriented. There are some exceptions to the rule when we detect an

[2022-02-08 09:31] meistermeier commented on #2199
Do you refer to generated queries? So unrelated to this issue?
Yes, unfortunately this is needed at the moment because we need to hold information e.g. identifier etc. defined in an abstract class in a valid "Spring Data" entity definition to make use of the common functionality.
I can see a certain point in having abstract classes available as technical layers only but this would mean, beside oth

[2022-02-09 08:47] aleksanderlech commented on #2199
Hello, I don't refer to queries, I refer to the method how the neo4j records are mapped into Java objects.

However now I am a little confused as I look at your code in tests and according to that it should work exactly as I expect.

The method annotated with `@Query` looks as follows:

`Set<AbstractNodeEntity> findRelatedNodes(String number, int limit);`

Abstract node looks like that:

[code]

A

[2022-02-09 11:25] meistermeier commented on #2199
But this could not work if your repository is a `AbstractNodeEntity` repository. Because _officially_ this is not a mapped node type/label (as you want it) but on the other hand you cannot expect SDN to treat it like a valid node entity by using it as the repository's type.
A separated issue report would be good to have. Even if it is clarification and maybe more tests for SDN.
Thanks.

[2022-02-11 04:27] aleksanderlech commented on #2199
Hey,

But whats the difference between my case and the one you have in your tests?

[code]

[code]

[code]

[2022-02-11 09:22] meistermeier commented on #2199
Could you please tell me which version of SDN you are currently trying to upgrade to?
I assume that you no longer do the 6.0.x migration but more something like 6.1.x or even better 6.2.x, right? There were a lot of improvements.
I am happy to create a reproducer based on your version and we can work out the differences between your application and mine then.
Also please be aware that you would ne

[2022-02-15 07:46] spring-projects-issues commented on #2473
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-02-15 20:01] meistermeier opened #2476 "Adapt repository changes for 7.0"
There were some changes to the repository hierarchy in https://github.com/spring-projects/spring-data-commons/issues/2537
We need to adapt to those.

[2022-02-15 20:02] meistermeier opened #2477 "Upgrade driver version for 4.x drivers"

[2022-02-16 08:44] mp911de commented on #2477
Please update the Boot tickets once the driver updates are done:

* https://github.com/spring-projects/spring-boot/issues/29711
* https://github.com/spring-projects/spring-boot/issues/29721
* https://github.com/spring-projects/spring-boot/issues/29765

[2022-02-16 11:23] #2476 closed

[2022-02-16 12:57] #2477 closed

[2022-02-16 15:25] paulux84 commented on #2473
Thanks for reply...now is clear

[2022-02-16 15:25] #2473 closed

[2022-02-16 16:01] meistermeier commented on #2473
Thanks for the feedback. Good to hear that it worked out in the end.

[2022-02-18 09:38] #2465 closed

[2022-02-18 09:39] mp911de opened #2478 "Release 6.1.10 (2021.0.10)"

[2022-02-18 10:01] mp911de opened #2479 "Release 6.2.3 (2021.1.3)"

[2022-02-18 10:22] #2469 closed

[2022-02-18 10:26] mp911de opened #2480 "Release 6.3 M4 (2021.2.0)"

[2022-02-21 10:58] florian-morvai-lsyh opened #2481 "SDN 6.1.5 not mapping related nodes from custom query result record"
Hi!

I do not know, whether this is a bug or just a misunderstanding on my side, but I am facing the following problem:

I have a custom query with pattern comprehensions for loading the data needed in a specific projection:
[code]
, but it seems that Spring Data Neo4j fails to map the related entities from the result record:
![image](https://user-images.githubusercontent.com/100119830/154938569-e

[2022-02-21 13:10] mp911de opened #2482 "Use Java 17 to build snapshots for Artifactory"

[2022-02-22 09:12] #2482 closed

[2022-02-22 12:55] mp911de opened #2483 "Upgrade to Maven Wrapper 3.8.4"

[2022-02-22 12:55] #2483 closed

[2022-02-22 12:56] mp911de opened #2484 "Upgrade to Maven Wrapper 3.8.4"

[2022-02-22 12:56] #2484 closed

[2022-02-22 12:59] mp911de opened #2485 "Upgrade to Maven Wrapper 3.8.4"

[2022-02-22 12:59] #2485 closed

[2022-02-23 13:17] mrksph opened #2486 "SDN 6.2.1 - Can't use template.saveAs(entity, ClassBasedProjectionDTO.class)"
Hi

I'm using Spring Boot 2.6.3 with SDN 6.2.1

In the following link:
https://community.neo4j.com/t/saving-node-without-updating-node-in-relationship/4201/4

@meistermeier Gerrit says that from 6.1 onwards, we can use Projection-based persistence. This was really good news for me because it solves a problem we've been facing for a long time: **Updating properties on nodes with many (500+) relatio

[2022-02-23 13:30] mrksph commented on #2486
Closing this issue.

ModelMapper allows interface when using .map(source, destinationTypeClass)

[2022-02-23 13:30] #2486 closed

[2022-02-23 16:10] meistermeier commented on #2481
In the cypher query you are using you are returning nodes and relationships in a nested list (let's call it Neo4j-OGM-style).
Now you would either need to return nodes and relationships separately like described: https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#custom-queries
If you want to mimic SDN's behaviour of query creation, we covered the basics here: https://docs.sprin

[2022-02-23 19:23] meistermeier opened #2487 "Inheritance determination performance improvements"
(better title required)

[2022-02-24 06:28] florian-morvai-lsyh commented on #2481
Thanks for your response! I will go through the linked documentation chapters again and hopefully see what I missed, then I'll get back to you. (Probably sometime next week)

[2022-02-24 08:00] nikobonomi commented on #2487
Hello there,

First of all, thanks you for accepting this challenge :smile: your work is very much appreciated

Just for keeping track I link the neo4j community issue: https://community.neo4j.com/t/spring-data-neo4j-performance-issues/51984

Right now I cant see any 6.2.3-GH-2487-SNAPSHOT available in the two repositories you have linked.
I looked up here: https://repo.spring.io/ui/native/snapsho

[2022-02-24 10:10] meistermeier commented on #2487
Thanks :heart: There seems something wrong with the build and release process of artifacts right now. Investigating.

[2022-02-24 10:58] meistermeier commented on #2487
It should be available now. :tada:

[2022-02-24 11:03] nikobonomi commented on #2487
Well, first try and it seems freaking faster ⚡!

Later today I will make some more tests, but I'm pretty sure that the issue is fixed, thanks man!

[2022-02-24 16:02] mrksph opened #2488 "Reactive client is initialised with an invalid (`null`) database selection."
Hi,

I'm experiencing issues when upgrading SDN from 6.0.3 (included with spring-data-starter-neo4j 2.4.2) to 6.2.1 (either via dependencyManagement or direct dependency)

When I run the app I get the following error message:

The provided database selection provider differs from the Neo4jClient's one.

If I try to upgrade to 6.1.x instead I get

The provided database selection provider differs fr

[2022-02-24 16:47] mrksph commented on #2488
I think it might be related with the fact that SDN 6.2.x requires Spring 5.3.16

[2022-02-28 08:22] nikobonomi commented on #2487
Hello there,

This weekend I have done some queries to test a bit the improvements.
I can say that the issue is fixed, the response is quite fast (event for the luke case in which there is a lot to parse).

So, a huge thanks for your work, you saved my project 🍾

[2022-02-28 08:26] meistermeier commented on #2487
Thanks for your feedback. Glad that it is working for you.
And of course thanks for reporting this in the forums. Everyone using inheritance will profit from the improvements.

[2022-03-01 08:44] #2487 closed

[2022-03-01 09:50] mrksph commented on #2488
After trying to update Spring Boot 2.4.2 to 2.5.x and 2.6.x finally I made it work upgrading to Spring Boot 2.4.13 which brings Spring's spring-core 5.3.13 which seems enough to make SDN work.

Another issue I'm still experiencing is that my @DataNeo4jTest won't run because of the same error

[code]

[2022-03-01 14:04] meistermeier commented on #2488
Starting with 6.1.x we pushed the ability to use the database selection down to the `Neo4jClient`. It was only available in the `Neo4jTemplate` before and for the `Neo4jClient` you had to define the database in its fluent API.

I assume that you are defining them in several places. Most likely: You are defining the `Neo4jTemplate` yourself and providing the _databaseSelection_.

A reproducer with

[2022-03-01 15:28] mrksph commented on #2488
Thanks for the reply, @meistermeier .

Yes, I'm autowiring the Neo4jTemplate in several places in our application. The thing is I only get that error when running our tests. When starting the application we don't get any errors.

Ok, I'll try to make a reproducer for you guys. I'll be updating this comment as soon as I have it ready.

Thank you.

[2022-03-02 05:01] marichka-spin opened #2490 "Mapping and thanx"
Thank you, team and @meistermeier for fixing all my issues. I've finally finished with my upgrade. For now using version 6.3.0-M2

[2022-03-02 06:32] meistermeier commented on #2490
Hi Maria,

thanks for the kind words. I am more than surprised to hear from you, if your location is still current. And even more: work related.
If there is anything we can do to support you and your family, please reach out to us (e.g. answering to this issue via mail).

[2022-03-02 07:39] michael-simons commented on #2490
A big +1 to @meistermeier from my side as well, thank you @marichka-spin.

[2022-03-02 07:43] michael-simons opened #2491 "`PersistenceConstructor` has been deprecated."

[2022-03-02 07:45] #2491 closed

[2022-03-02 07:51] marichka-spin commented on #2490
Hello, Gerrit

I’m still in Ukraine, but I’m in Lviv one of the most western cities of Ukraine. I’m trying to combine working and providing any small help to my country that is up to me.
Thank you for kind words and support!

Best regards,
Maria

[2022-03-03 07:04] leiyan commented on #2385
Great answer for me, thanks.

[2022-03-03 08:44] michael-simons commented on #2385
You're very welcome, @leiyan

[2022-03-03 11:05] spring-projects-issues commented on #2481
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-03 13:09] Hardu2203 opened #2492 "Generate UUID key using CypherdslStatementExecutor"
I am using neo4j-cypher-dsl-codegen-sdn6 to generate a static model to use in Cypher-DSL.

This is my source @Node

[code]

Generated static model
[code]

Repository

[code]
Failing test

[code]

I would have expected that the UUID gets generated.

Please can someone try to replicate this error, or advise if there is another way to generate the UUID.

[2022-03-03 13:22] michael-simons commented on #2492
Hi. You are right in your expectation.

However, this is only done when you first persist your person with the repository.
Here, you're combining a finder method with a query build with Cypher-DSL.

What would work is

[code]

(Not checked my Kotlin here ;) )

As the Cypher DSL does not do any additional generation here, you need to help it a bit:

[code]

if you want to follow your pattern.

I ha

[2022-03-03 15:56] michael-simons commented on #2492
Instead of the `Cypher.call("…")`, you could also use `.set(person.NAME.to(FunctionInvocation.create(() -> "randomUUID")))` until it's in Cypher-DSL…

[2022-03-03 16:04] Hardu2203 commented on #2492
Hi Michael, thanks for the quick response.

I followed the logic inside the SimpleNeo4jRepository's save method and tried to mimic what it does.  And I was busy replicating that logic, but then the Cypher-DSL would need n reference to the SDN @Node instance which is not great...

[code]

I think the best/easiest would be to follow your suggestions until it is added to the Cypher-DSL.

Thank you!

[2022-03-03 17:28] jposthauer opened #2493 "Neo4jRepository.SaveAll() Does not work for entities with @CompositeProperty"
When I try to use saveAll() to save a list of entities where the entity class has a `@CompositeProperty` it is throwing the following error:
[code]
The error happens in the `org.neo4j.driver.Values` class in the `Value value( Object value )` method.

This error occurred when we went from 6.2.1 -> 6.2.2.
Neo4j java driver: 4.4.3

Replicate using the following:

[code]

[code]

[code]

[code]
Error

[2022-03-07 03:35] zhageLiu opened #2494 "relationship loop"
i have two nodes, they have the same relationship and type
like this:
(node1:Node) - [out:OUT] -> (node2:Node)
(node2:Node) - [out:OUT] -> (node1:Node)

domain like this:
@Node
[code]

relationship like this:
[code]

when i use this query:
[code]

java will throw StackOverflowError, because nodes have loop relationship

please tell me how to slove this error

pom like this:
<dependency>
    <group

[2022-03-07 07:20] meistermeier commented on #2494
I tried to reproduce the problem in a separate branch: https://github.com/spring-projects/spring-data-neo4j/blob/4f16bdc279f29d9d2cb3d259f1593ab724842986/src/test/java/org/springframework/data/neo4j/integration/imperative/RepositoryIT.java#L1270
But it just comes back.
Do you really refer to the loading of data, or is it the output from your application (e.g. jackson/JSON) that produces the error?

[2022-03-07 08:23] zhageLiu commented on #2494
i try to run your code
java throw error :
`2022-03-07 16:19:34.802 ERROR 14564 --- [nio-8086-exec-2] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is org.springframework.http.converter.HttpMessageNotWritableException: Could not write JSON: Infinite recursion (StackOve

[2022-03-07 08:27] zhageLiu commented on #2494
this error look like this node a have ship to b, and b have ship to a, a have ship to b......so, program is loop all the time, then the stack is overflow

[2022-03-07 08:35] zhageLiu commented on #2494
when i submit this issue, error is hashCode Infinite recursion, but they are of the same type

[2022-03-07 11:31] meistermeier commented on #2494
Although the documentation is from Neo4j-OGM and you can find references regarding JSON serialization and infinite loops with Jackson in different places, it should explain, how to break the infinite recursion: https://neo4j.com/docs/ogm-manual/current/reference/#_a_note_on_json_serialization
It is not SDN that is responsible for this loop.

[2022-03-07 20:36] #2492 closed

[2022-03-08 02:04] zhageLiu commented on #2494
thank you for your help, i think i know how to solve this error, i override the method for hashCode, i will close this issue. thanks again

[2022-03-08 02:04] #2494 closed

[2022-03-09 11:02] florian-morvai-lsyh commented on #2481
After reviewing the documentation again, I did not take away that "Neo4j-OGM-style" records are not supported anymore, just that SDN cannot process paths returned in the result.

Nevertheless, I had partial success with the suggested approaches.

Mimicking the SDN query creation did work fine (and fast) as long as the result does not contain circular references - this is sad, but to be expected, I

[2022-03-11 09:56] michael-simons opened #2495 "Upgrade to Neo4j-Java-Driver 4.4.4."
Spring Boot Ticket

https://github.com/spring-projects/spring-boot/issues/30185

[2022-03-11 10:06] #2495 closed

[2022-03-11 10:10] michael-simons opened #2496 "`RecordMapAccessor` became superfluous with 4.4.4 driver."

[2022-03-11 10:17] #2496 closed

[2022-03-14 08:08] nioertel opened #2497 "Custom generated ID for relationships not supported?"
We're currently upgrading our application from Spring Boot 2.3.9 to 2.6.4 which means upgrade from SDN 5.3.7 + OGM 3.2.20 to SDN 6.2.2.

In our graph model relationships are a first class citizen with rich relationship entities throughout the graph. Some relationships also need to be uniquely identified outside of our system so we give them a custom generated UUID on creation and basically treat t

[2022-03-14 09:03] michael-simons commented on #2497
Hi Niels.
 Yes this restriction is done on purpose to track the state of relationships. No plans to change it as of now.
if you don't want to migrate, SDN 5.3 Neumann-SR9 still works (tested) with Spring Boot 2.6.4:

https://github.com/michael-simons/neo4j-from-the-jvm-ecosystem/tree/master/spring-boot26-with-sdn-ogm

We still maintain Neo4j-OGM, which is the driving force behind SDN 5.3 anyway, l

[2022-03-14 09:32] nioertel commented on #2497
Hi Michael,

that actually sounds great and relaxes our Spring Boot upgrade a bit.
So the setup would then be:
- spring-data 2021.1.2
- spring-data-neo4j 5.3.9.RELEASE
- neo4j-ogm 3.2.31

Or do we have to completely stick to spring-data Neumann then?

Thanks,
Niels

[2022-03-14 09:35] michael-simons commented on #2497
5.3.9 is Neumann-SR2.

I always use the release train https://github.com/michael-simons/neo4j-from-the-jvm-ecosystem/blob/41e0fded281a71758263d1924a85eede72e00f70/spring-boot26-with-sdn-ogm/pom.xml#L21 so that I don't have to manage the Spring Data Commons manually.

Here are the other important bits:

https://github.com/michael-simons/neo4j-from-the-jvm-ecosystem/blob/41e0fded281a71758263d1924a85

[2022-03-14 10:04] nioertel commented on #2497
Thanks for the details.

According to the [spring-data-releasetrain Neumann-SR9](https://search.maven.org/artifact/org.springframework.data/spring-data-releasetrain/Neumann-SR9/pom) pom, this is SDN 5.3.9.RELEASE.
So if I understand your example setup correctly, this means we are bound to `spring-data-commons 2.3.9.RELEASE` as long as we don't want to upgrade to SDN 6.

I will try this setup out.

[2022-03-14 10:09] michael-simons commented on #2497
1. and 2: No changes planed here.
3. I'm happy to reintroduce this as a feature
4. We suggest having a look at projections. They make depth explicit both on load and save. No plans on depth.

[2022-03-14 11:03] zhageLiu opened #2498 "Expected parameter(s)"
this is my code:
[code]
i try to run these, then throw the ClientException:Expected parameter(s)

and i debug these
[code]

[code]

[code]

[code]
when i run to code ①, the method of bindAll have params with name "usedParameters", and my cql is true ,the field with name  "runnableStatement" , have field "parameters" ,and this filde value is my cql Should have parameters, is true.

but when i run t

[2022-03-14 12:27] michael-simons commented on #2498
Hi @zhageLiu your english is great, all good, I can make sense of it.

Here's what I think is happening: Judging from `Collection<Node> all = nodeRepository.findAll(in);` your repository seems to be of the following type:

[code]

This is *wrong* and does not work!

The type `org.neo4j.cypherdsl.core.Node` is from https://github.com/neo4j-contrib/cypher-dsl and an entrypoint to the Cypher-DSL. Rep

[2022-03-14 17:02] nioertel commented on #2497
Thanks.
I had a look at projections and they can be used to solve the issue but it means major refactoring effort for us.
Anyway for now we will stick to SDN Neumann. I will get back to you when we approach the upgrade to SDN 6.

We can close the issue. Thanks again for your quick support :)

[2022-03-14 17:02] #2497 closed

[2022-03-14 18:36] michael-simons opened #2499 "Add a "After convert" callback."
A feature analog to Neo4j-OGMs `@PostLoad`.

Edit: Title changed so that we stay in Spring Data ductus.

[2022-03-15 02:39] zhageLiu commented on #2498
Thanks for your reply.
I apologize for not uploading the code completely, but i think my error is not this.
I re-use the same code test as I did with the error logic, they still throw the same error:Expected parameter(s)

Here is my new test code

domain:
[code]
relationship:
[code]
repository:
[code]

testcode:
[code]

they still throw the same error: Expected parameter(s): pcdsl01, i guess the e

[2022-03-15 03:26] zhageLiu commented on #2498
and my pom is
<dependency>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-data-neo4j</artifactId>
    <version>2.6.4</version>
</dependency>

[2022-03-16 03:19] zhageLiu commented on #2498
I tested other methods of findAll, like eq, gt, lt... They all throw the same exception.
code:
[code]
[code]
[code]
What they all have in common is this:
1. Node have relations
2. run to method named "bindAll", The generated CQL have a placeholder named "$pcdsl01", This placeholder will be taken value as a key from the parameter named "parameters" and param's class is Map. But this param is empty,

[2022-03-16 10:33] zhageLiu commented on #2498
hello @michael-simons, did you see my reply? this error confused me, please read and help me

[2022-03-16 16:10] paolodedo commented on #2282
Hello,

Wanted to tell you that, unfortunately, due to this mechanism, Spring Data Rest automatically generated ReST services (HATEOAS) have the relationship creation feature broken:

in fact, if you pass this kind of body:

[code]

that won't be treated as a relationship for SDN as you'd have to tell your body that even the Group entity is linking to this very Tag object.

Do you have a solution

[2022-03-16 16:16] paolodedo opened #2500 "Relationship statemachine uses internal ids all the time, not being able to keep track of processed values."
Regarding issue

#2282

that was about the need of adding relationship-objects to both the Sets of objects in order to save a relationship,

🔵with the dependencies:
spring-boot-starter-data-neo4j:2.6.4
spring-data-neo4j:6.2.2

🔵with the models:

[code]

🔵with the controller for Group (empty because rest services are auto-generated):

[code]

**the following POST request on the GroupController ReST

[2022-03-17 08:08] michael-simons commented on #2500
Sorry, but I can't investigate this issue with just a snippet of JSON code. The other issue had been solved.
So if you want us to work on it, please provide a *full* minimal reproducer.

[2022-03-17 08:43] michael-simons commented on #2498
Hi @zhageLiu I can reproduce this with your domain and we are investigating.

[2022-03-17 08:54] zhageLiu commented on #2498
hi @michael-simons thanks for your reply, i hope my analysis can be of some help to your team

[2022-03-17 08:57] michael-simons commented on #2498
That was faster than expected now to debunk.

First of all, big thank you to you for being persistent on this issue, much appreciated.

This will be fixed in the next patches, but here's already an explanation: The `CypherdslConditionExecutor` is a mixin to the repository, as you have seen in your debugging, it contributes parameters to queries.

Now, with your domain model, we do issue several qu

[2022-03-17 09:20] zhageLiu commented on #2498
thank you and your team, and can you tell me this message when the patches release? thanks again

[2022-03-17 09:21] michael-simons commented on #2498
Please check https://calendar.spring.io for the planned dates. This is out of our hands, the Spring Data Team at VMWare lead by @mp911de decides and runs the release. I'm backporting this back to 6.1.x.

[2022-03-17 09:23] #2498 closed

[2022-03-17 09:40] meistermeier opened #2501 "Performance increase for huge single node results."
There is a bottleneck when it comes to mapping large, "flat" results.

[2022-03-17 10:11] paolodedo commented on #2500
Ok I edited the initial post.

[2022-03-17 10:13] michael-simons commented on #2500
Can you possibly try out the latest snapshot?

Actually, there has been work in this area and I'm pretty sure this will affect your usecase:

https://github.com/spring-projects/spring-data-neo4j/commit/ff206fc595b6de673418cacc8abfbd91f71177a1

[2022-03-17 11:07] paolodedo commented on #2500
I've tried compiling _main_ branch and referencing it from my project.

The error is 400 Bad request if I try to add the relationship objects, with the following log:
2022-03-17 12:05:16.570  WARN 24428 --- [nio-8082-exec-5] .n.c.Neo4jPersistenceExceptionTranslator : Don't know how to translate exception of type class java.lang.ClassCastException

[2022-03-17 11:08] michael-simons commented on #2500
Please create a reproducer and share it.

[2022-03-17 13:54] #2501 closed

[2022-03-17 13:55] meistermeier commented on #2501
Solved with 337ad0da0199734507bd63435e3b572e1928d8cb

[2022-03-17 16:22] meistermeier opened #2502 "Improve memory consumption during mapping"

[2022-03-17 18:59] #2499 closed

[2022-03-18 03:53] aleksanderlech commented on #2199
Hello, it was Spring Boot 2.6.3 so it's spring-data-neo4j:6.2.1.

[2022-03-18 08:27] meistermeier opened #2503 "Upgrade to Java Driver 4.4.5"

[2022-03-18 08:40] #2503 closed

[2022-03-18 08:58] michael-simons commented on #2500
Hey. So the class cast issue is due to a dependency problem with Spring Boot. They didn't upgrade the Neo4j Java driver. Sorry for that issue.

If you set

[code]

with the snapshots, it works.

Your original problem still persist respectively I am investigating.

[2022-03-18 11:43] meistermeier commented on #2502
Closed by bd6d8c232cca8f4c3eff351a776fa5138679c99a

[2022-03-18 11:43] #2502 closed

[2022-03-18 12:24] paolodedo commented on #2500
Ok, thank you very much.
I think this is fundamental using spring data rest, or we'll have to rewrite all the rest endpoints.

Thank and see you soon.

[2022-03-18 13:06] #2500 closed

[2022-03-18 13:56] meistermeier opened #2504 "Upgrade Cypher-DSL to 2022.2.0"

[2022-03-18 16:13] paolodedo commented on #2500
Thank you very much for your time and effort :)

Your PR is fixing POST and PATCH scenarios: relationship are created without the need of setting them bidirectionally.
For PATCH requests, as expected, if I do not pass my relationship IDs array then the relationships are left as they were; if I pass my array they are overridden.

But, for PUT requests scenario, relationships are not changed.
Every

[2022-03-18 18:34] michael-simons commented on #2500
No, I don't know…
the `PUT` in Spring Data Rest ignores the associations. Why it does it that why is behind my knowledge. Our persister only sees the old object without data, so it deletes the existing ones. Feel free to raise it as an issue with Spring Data Rest.

For reference, here the `PATCH`

![image](https://user-images.githubusercontent.com/526383/159062980-aa278451-ffdb-4f41-9739-53cec4cb8

[2022-03-18 18:36] michael-simons commented on #2500
A put on the sub resource does work as expected

[code]

don't know much more about Spring Data Rest… Maybe @odrotbohm knows more what's going on.

[2022-03-19 19:49] seabamirum commented on #2395
This issue still occurs in 6.2.2. The NPE is now on line 77:

PreferredConstructor<?, ? extends PersistentProperty<?>> constructor = targetEntity
				.getPersistenceConstructor();

[2022-03-20 06:45] meistermeier commented on #2395
This might be something different. But I wonder how the `targetEntity` should become _null_ if you are requesting a known type. Can you provide a reproducer?

[2022-03-20 06:46] meistermeier opened #2505 "Cannot resolve targetEntity in EntityFromDtoInstantiatingConverter."
This issue still occurs in 6.2.2. The NPE is now on line 77:

PreferredConstructor<?, ? extends PersistentProperty<?>> constructor = targetEntity
				.getPersistenceConstructor();

_Originally posted by @seabamirum in https://github.com/spring-projects/spring-data-neo4j/issues/2395#issuecomment-1073071505_

[2022-03-20 06:47] meistermeier commented on #2505
This might be something different. But I wonder how the targetEntity should become null if you are requesting a known type. Can you provide a reproducer?

[2022-03-20 14:40] seabamirum commented on #2505
Hello! My class extends org.springframework.security.core.userdetails.User, but the error occurs even with this simple User class below, with a single Boolean (error occurs with either primitive or wrapper type) constructor argument. I stepped it pretty deep into the debugger and found that AbstractMappingContext getPersistentEntity(TypeInformation<?> type) was returning NULL for boolean types.

[

[2022-03-21 09:29] meistermeier commented on #2505
I created an example based on your given explanation about the problem (https://github.com/meistermeier/neo4j-issues-examples/tree/master/gh-2505).
This works out of the box with SDN 6.2.2. I even tried various mutations but could not get the exception.
Also I think that requesting `getPersistenceEntity(Boolean.class)` would already be the problem because this should only happen for _real_ entitie

[2022-03-21 12:42] seabamirum commented on #2505
I think you're right that the problem is the call itself. My property value is a wrapped Boolean (false) but the target property type is a primitive Class<T> (boolean), so it is entering this code block on line 133 when it shouldn't be.

` if (propertyValue != null && !targetPropertyType.isInstance(propertyValue)) { `

Unfortunately I can't reproduce this anymore with my simple User example :( wil

[2022-03-21 13:40] #2478 closed, assigned to mp911de

[2022-03-21 13:41] mp911de opened #2506 "Release 6.1.11 (2021.0.11)"

[2022-03-21 13:58] paolodedo commented on #2500
Thanks for being so accurate. For the moment, I'll use PATCH, and try to indagate the Spring Data Rest PUT issue.

[2022-03-21 14:13] #2479 closed

[2022-03-21 14:14] mp911de opened #2507 "Release 6.2.4 (2021.1.4)"

[2022-03-21 15:30] #2480 closed

[2022-03-21 15:31] gregturn opened #2508 "Release 6.3 RC1 (2021.2.0)"

[2022-03-21 15:56] #2468 closed

[2022-03-21 15:57] mp911de opened #2509 "Release 7.0 M3 (2022.0.0)"

[2022-03-21 17:57] seabamirum commented on #2505
Ah, I don't encounter the error unless I actually return the Mono in the repo method

[code]

[2022-03-21 18:01] seabamirum commented on #2505
I also see these warnings in the logs

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.springframework.util.ReflectionUtils (file:/home/seab/.m2/repository/org/springframework/spring-core/5.3.16/spring-core-5.3.16.jar) to field java.lang.Boolean.value
WARNING: Please consider reporting this to the maintainers of org.springframework.util.Reflec

[2022-03-21 18:08] seabamirum commented on #2505
Okay, I'm running the same test now that you created in https://github.com/meistermeier/neo4j-issues-examples and it fails :(

[2022-03-21 18:12] seabamirum commented on #2505
if I change the enabled field and constructor argument from boolean to Boolean then the test passes.

[2022-03-21 18:16] seabamirum commented on #2505
In your User class (and also the original one I provided, oops) the type is Boolean, so that is why the test passed in that case. I think this should be enough now to track down the issue.

https://github.com/meistermeier/neo4j-issues-examples/blob/88629c9660009073a2d937d162a5639533d10307/gh-2505/src/main/java/com/example/gh2505/User.java#L8

[2022-03-21 20:23] meistermeier commented on #2505
Thanks for the investigation. And you are 100% right. The `EntityFromDtoInstantiatingConverter` assumes every property type to be an entity. Which does not make any real problems if a matching constructor exists. When it come to primitive types this gets problematic ;)

[2022-03-22 08:42] michael-simons commented on #2102
We will follow Neo4j/GraphQL here

https://github.com/neo4j/graphql/pull/1143/files

[2022-03-22 08:44] michael-simons commented on #2102
Also https://neo4j.com/docs/operations-manual/current/monitoring/logging/#attach-metadata-tx

[2022-03-22 10:41] #2102 closed

[2022-03-22 12:52] mp911de opened #2510 "Build fails during release"
Dependency convergence fails during release build with:

[code]

[2022-03-22 13:12] #2509 closed

[2022-03-22 13:16] #2510 closed

[2022-03-22 13:16] mp911de opened #2511 "Release 7.0 M4 (2022.0.0)"

[2022-03-22 21:02] seabamirum opened #2512 "X and Y coordinates reversed when persisting org.springframework.data.geo.Point"
In org.springframework.data.neo4j.core.convert.SpatialTypes, line 105:

`return Values.point(4326, point.getY(), point.getX());`

the X and Y values should be switched in order to match the constructor in org.neo4j.driver.Values class, where x comes before y

`public static Value point( int srid, double x, double y )`

This reversal leads to errors while trying to save lat/lngs in the database.

[

[2022-03-22 21:08] seabamirum commented on #2512
Nevermind, I see there is some strange reason for this reversal in the class comments. I'll try using the driver type directly in my class.

[2022-03-22 21:08] #2512 closed

[2022-03-23 12:57] meistermeier commented on #2505
You could check out the `6.2.4-GH-2505-SNAPSHOT` (available in ~30 minutes)
Side note: Using the fluent API is meant for projections, we do not mention this explicitly enough in the API and I will add this as part of this bug fix. If you just want to store a domain object, you should use `template.save(object)` and not `template.save(Object's class).one(object)`.

[2022-03-25 15:41] #2505 closed

[2022-03-25 21:55] sbsatter opened #2513 "Neo4J database connectivity is lost after idle timeout"
Hi, thank you for this amazing project.

I am working with @Query annotation to pass custom queries, make APOC calls to Neo4J (using bolt based neo4j java driver).
After some idle timeout, I am seeing that connection is lost to Neo4J, and API calls to Spring Boot results into a long time loading (which finally resolves to status 500).

On multiple cases, I have found that after running my SB appli

[2022-03-28 09:39] meistermeier commented on #2513
Can you reproduce the issue with the Neo4j Java driver alone? It looks to me that SDN is not the responsible layer for this problem. If you can, it would be helpful to raise the issue there https://github.com/neo4j/neo4j-java-driver/issues
Unfortunately I cannot transfer the issue because the repositories belong to different orgs.
I close the issue now because I cannot see any point where we can h

[2022-03-28 09:39] #2513 closed

[2022-03-29 13:59] michael-simons commented on #2493
Thanks for the ping. No wonder that it still persists, it is still open… Sorry for the oversight here.

[2022-03-29 15:21] meistermeier commented on #2488
Is there any progress on a reproducer or did you find the problem in your test code?

[2022-03-29 15:28] mrksph commented on #2488
Hi @meistermeier, thanks for reaching out.
We've been busy these days so we couldnt put much time into this issue.
We did try to reproduce the error making a project from scratch but unsurprisingly, it worked so we have to check which configuration might be messing things up.

[2022-03-29 19:00] meistermeier commented on #2488
I assume this really could have been just a configuration problem. If it's ok for you, I will close this issue for now. If you are facing it again _and_ :) can give us something to reproduce it, feel free to re-open it.

[2022-03-30 10:43] gonzalad opened #2514 "StackOverflowException with custom query and result contains circular references"
Hello,

I'm getting a StackOverflowException when executing a custom query and whent the result contains circular references.
I'm having this issue with SDN 6.2.3 (and 6.1.10).
I didn't have this issue in 6.1.5.

Since SDN works record-oriented I would expected to have some lines with duplicated entity instances (different instances, but same data), but I wouldn't have expected the stackOverflowEx

[2022-03-31 06:43] meistermeier commented on #2514
Thanks for reporting this. Interesting bit on this issue is that it depends on the order of entities coming from the database. If you are interested, you can try it out yourself and change the order of the list-to-save that `groupement` is the first entity. My version of Neo4j will return them ordered by id (no guarantee, but it works reproducible).
I can reproduce it also in the current developme

[2022-03-31 08:20] michael-simons commented on #2493
Caused by the fix for #2451

[2022-03-31 08:36] #2514 closed

[2022-03-31 09:17] michael-simons commented on #2493
Excellent reproducer, @jposthauer A fix is on the way.

[2022-03-31 09:23] michael-simons opened #2515 "Add a Noop bookmark manager."
Via @BennuFire

[2022-03-31 09:39] #2493 closed

[2022-03-31 10:12] meistermeier commented on #2514
There are now snapshot versions available.
`6.1.11-SNAPSHOT` and `6.2.4-SNAPSHOT` for the released versions.
`6.3.0-SNAPSHOT` and `7.0.0-SNAPSHOT` pre-release.
I have tested your reproducer with `6.2.4-SNAPSHOT` and it passed. Would be good to get your input also on this.

[2022-03-31 11:56] michael-simons commented on #2514
Thank you for providing us with great reproducers and feedback! This is contribution to OSS, too.

[2022-03-31 12:07] #2515 closed

[2022-03-31 12:24] rullyalves opened #2516 "Receive null relations in class that inherit abstract base class"
I have code similar to this:

[code]
when i try to retrieve all transactions, balance and walletTransactionStatus fields are always null, I would like to know if I'm making a mistake or if this is a possible bug.

[2022-04-01 07:26] meistermeier commented on #2516
Could you please bring this into a reproducible example or at least add the missing bit of information?
What is missing here for me: An implementation of `WalletTransaction` and the code that loads the `DepositTransaction`.

[2022-04-01 07:30] meistermeier commented on #2481
Do you have the chance to test the _6.2.3_? We brought in some improvements regarding memory consumption and as a consequence could bring down the mapping time for a lot of duplicated data (the nature of paths with repeating nodes for each permutation of the path) in the result.

[2022-04-01 07:49] florian-morvai-lsyh commented on #2481
Hi Gerrit!

We actually moved to _6.2.1_ which already performs somewhat better. Also tried _6.2.3-GH-2487-SNAPSHOT_ which performed even better - I assumed the work related to #2487 brought the performance boost and was waiting for it to find its way into a release - although our model does not rely on inheritance. Will check _6.2.3_ out 👍

I think this ticket can be closed now. Sorry for failing

[2022-04-01 07:49] #2481 closed

[2022-04-01 08:18] meistermeier commented on #2481
No need to excuse, we all have this times where we cannot handle everything.
Thanks for coming back and providing feedback, much appreciated.

[2022-04-01 10:14] mrksph commented on #2488
Hi @meistermeier,

Yesterday we made it work. We had to explicitly exclude ReactiveNeo4jDataAutoconfiguration when running our Integration Tests using

`@EnableAutoConfiguration(exclude= Neo4jReactiveDataAutoConfiguration.class)`

I still don't know why the annotations we are using forces Spring to load Reactive Neo4j Autoconfiguration, guess we'll have to take a deeper look but I think it's mainl

[2022-04-01 12:31] meistermeier commented on #2488
I cannot provide you any guidelines. Not that we don't have any projects or examples in various repositories but it seems specific for you project.
The only thing, I can think of is that you are somehow creating a configuration bean or similar that uses parts of SDN's reactive API
_OR_
you have reactor on your classpath. The configuration gets triggered by our very own classes (incl. `Driver`) and

[2022-04-02 19:59] rullyalves commented on #2516
Currently what happens is:
if I create an instance of DepositTransaction and save the fields that are relations, ex:
balance /
walletTransactionStatus

when retrieving via polymorphic query, ex:

// Neo4jRepository
walletTransactionRepository.findAll();

all transactions are loaded, but abstract class relations are not

is similar to this: https://github.com/spring-projects/spring-data-neo4j/issue

[2022-04-04 12:36] mrksph commented on #2488
Hi,

Nope, we don't have any of those as dependencies.

I just asked a question in StackOverflow in the hope that someone can enlighten us as to why those beans get instantiated.
(https://stackoverflow.com/questions/71736083/springboottest-loads-unrequired-bean-when-making-it)

I've seen some of Michael Simons' and others' posts using only @SpringBootTest annotation but when I try to reproduce it,

[2022-04-04 13:21] mrksph commented on #2488
Ok, we got it working.

Apparently, neo4j-harness brings io.projectreactor as an indirect dependency through neo4j-fabric which is the root of our problems.

To fix it, we just had to exclude it from our pom just like this:

[code]

[2022-04-04 14:24] mrksph commented on #2488
@michael-simons I'm following your blogpost https://medium.com/neo4j/testing-your-neo4j-based-java-application-34bef487cc3c where you suggest use neo4j-harness

The thing is, neo4j-harness depends on neo4j and neo4j depends on neo4j-fabric, which is bringing reactor (Flux.class)
If SDN's Reactive AutoConfiguration always instantiates reactive beans if Flux is on the classpath, how can I avoid this

[2022-04-04 14:28] michael-simons commented on #2488
Puh. You best bet is not using Harness, tbh.

Testcontainers is the better choice.
I can see if I can come up with something, but that's what happens when you pull in a whole DBMS into a test (not your fault, of course, the amount of dependencies in such a DBMS).

[2022-04-04 14:38] michael-simons commented on #2488
Yeah, I hear you. That is sometimes an issue.

I see the point to use an embedded instance… But I know the dependencies Neo4j (the database) comes with, and those are a lot.

Could you try if setting this property helps in your case?

[code]

haven't gone through this whole issue here from top to bottom…

[2022-04-04 14:41] mrksph commented on #2488
Let me give it a quick try but I remember trying this before to no success. Anyway, be right back at you.

[2022-04-04 14:42] mrksph commented on #2488
Nope, it just fails while trying to instantiate ReactiveNeo4jTemplate :(

[2022-04-04 14:45] michael-simons commented on #2488
Can you please share your setup? Config classes, and pom… Domain irrelevant.
In such a form that I can debug the failure. I'm happy to look at it, but I'm not gonna recreate a project myself.

[2022-04-04 14:45] mrksph commented on #2488
Yeah give me a sec

[2022-04-04 14:52] mrksph commented on #2488
I've created a Gist containing our pom.xml, a Base class for our IT tests which instantiates the embedded db and the concrete IT class that has a simple test that fails before being executed

https://gist.github.com/mrksph/84d095dc39628a59faab2e3d9eb0c68f

[2022-04-04 16:16] michael-simons commented on #2488
So, indeed, Spring Boot does not let you disable the reactive clients config if Project reactor is on the classpath. This is their decision, but a decision I agree with.

2nd: It is indeed a bug on our side, but not a compatibility issue.
The bug has been introduced with the changes mentioned by @meistermeier https://github.com/spring-projects/spring-data-neo4j/issues/2488#issuecomment-1055475832-

[2022-04-04 18:30] michael-simons commented on #2488
This will btw only happen on the combination of SDN 6.1+ with Spring Boot 2.4.

We fix this as a courtesy.

[2022-04-04 18:48] mrksph commented on #2488
Was just thinking about that, thank you guys. Appreciate your work.

[2022-04-04 18:49] #2488 closed

[2022-04-04 18:59] michael-simons commented on #2488
You are welcome.

Btw, as I can't find a release date for 6.1.x, 6.2.3 will also work with Boot 2.4 with a superficial check (your reproducer) and the workaround applied to imperative, too:

[code]

at least in 6.2x we broke it consistently.

Sorry about that, the area was in too much flux (no pun intended) since we developed that part.

[2022-04-04 19:02] mrksph commented on #2488
Awesome, thanks Michael!
Yeah sometimes too much flux isn't good either I suppose :)

[2022-04-06 14:37] Pandalei97 opened #2517 "Spring data neo4j doesn't handle correctly List in Map<String, Object>"
Hi,

Given the following domain class

[code]

If we have a property `someProperty = ["test1", "test2"]` and we put it in both `otherProperties` and `otherListProperties`,
when we save the entity, we have only the first element of `someProperty` in `otherProperties`. Is it a bug ?

![image](https://user-images.githubusercontent.com/35604558/161998132-ca4ad3b7-2816-4d35-ad33-52e65a04cf43.png)

Than

[2022-04-07 12:11] tlazarski opened #2518 "Inefficient query for entities with possible cycles"
Hi,

I noticed that the way how SDN handles `findAll()` for entities with possible cycles is highly inefficient. I am not sure, if it is known issue, which is caused by technical limitations. I did not find any warning about it in documentation, so I am reporting this.

The root problem is this query, which is executed as the last query of few queries executed by SDN when finding all entities with

[2022-04-07 12:21] tlazarski commented on #2518
I am wondering if following query will not do the same job, but without duplicating data:
[code]

[2022-04-07 14:15] michael-simons commented on #2518
The reason why we are not matching on relationship patterns is not because we don't know Cypher, but we need all of them… So it is not only one hope, like in your idea, it may be multiple. Therefore, your suggestion is not suitable.

The thing is, with the improvements made here https://github.com/spring-projects/spring-data-neo4j/issues/2387 we just shifted the work from Neo4j to the client appli

[2022-04-07 14:18] michael-simons commented on #2518
Ok, this will die a slow death already on our integration tests… (on the database side of things…)

I need to discuss this topic with @meistermeier, I leave my generator here for the time being

[code]

[2022-04-08 09:32] michael-simons opened #2519 "Use `:param k => v` format for tracing named parameters."
People use the trace log to paste the parameters into Neo4j Browser.

The `:params` command with a map of parameters is deprecated in Browser for good reasons, it produces invalid values for integers. The recommended format is `:param key => value`.

[2022-04-08 10:05] michael-simons commented on #2518
Further update: Investigating the older version it turns out it suffers from the same issue, too.

[2022-04-08 16:34] #2519 closed

[2022-04-09 12:03] hadiyarajesh opened #2520 "Paging query not working correctly"
Spring Boot version: 2.6.6
SDN version: 6.2.3

I've following Nodes

[code]

[code]

[code]

I'm using below query to fetch pageable product list from store

[code]

Its fetch `Product` (count of nodes) correctly, but it only fetch 1 `Post` per `Product`, while same query is giving corrrect result in neo4j browser.

[2022-04-11 06:30] michael-simons commented on #2520
Please follow the manual how to structure the return types of custom queries so that SDN can make sense of it.

https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#faq.path-mapping

Listing below the yellow note.

Thank you.

[2022-04-11 06:30] #2520 closed

[2022-04-11 07:33] hadiyarajesh commented on #2520
Thank you. That did help.

[2022-04-11 09:55] michael-simons commented on #2520
Thanks, @hadiyarajesh for your kind feedback! Have a good week.

[2022-04-12 11:45] alxxyz commented on #2520
@hadiyarajesh can you please post here the solution? Thanks.

[2022-04-12 11:59] alxxyz opened #2521 "Wrong total calculation on pagination"
Version: org.springframework.boot:spring-boot-starter-data-neo4j:2.6.6

Nodes
[code]
[code]
and we try to find all favorites posts
[code]
it works if we are trying to retrieve favorites posts for page=0

But if we try to retrieve for page=1, size=2, and we have in 3 favorites posts for the user in the database, than the response is total=5 and all 3 records are present in the response.

[2022-04-12 17:51] hadiyarajesh commented on #2520
[code]

[2022-04-13 11:33] alxxyz commented on #2521
As I understand if we use `@Query` annotation we should also specify `skip` and `limit`
[code]

[2022-04-19 09:29] #2508 closed, assigned to christophstrobl

[2022-04-19 09:30] christophstrobl opened #2522 "Release 6.3 GA (2021.2.0)"

[2022-04-19 10:20] #2507 closed

[2022-04-19 10:21] christophstrobl opened #2523 "Release 6.2.5 (2021.1.5)"

[2022-04-19 12:06] #2506 closed

[2022-04-19 12:09] christophstrobl opened #2524 "Release 6.1.12 (2021.0.12)"

[2022-04-20 14:44] meistermeier commented on #2517
Thanks for reporting this. It is not a bug but not yet requested functionality.
The Java `List`'s target type is defined as an `Object` (resp. Neo4j Java Driver's `Value`), so there is no existing built-in converter yet that sees itself responsible for doing this. It cascades down to a generic Spring converter that takes "the first" element from a collection and stores it.

[2022-04-21 08:51] meistermeier commented on #2517
Alright after some more investigation, I have to say that this is nothing we can change immediately in SDN.
The problem is another `Map` struct based functionality: Dynamic relationships.
With a general `List` converter, SDN assumes that also those `Map<String, List<RelatedEntity>>` scenarios getting handled by the `List` converter, instead of creating related node.
What you could do for this case

[2022-04-21 08:51] #2517 closed

[2022-04-21 10:14] meistermeier commented on #2516
I created https://github.com/meistermeier/neo4j-issues-examples/tree/master/gh-2516 from the input you gave me. This is working. Maybe you can add your thoughts and differences, I might have overseen.

[2022-04-21 12:43] meistermeier commented on #2521
Could you create a reproducer for your problem. I tried to setup a testcase:
[code]

Using your custom query, the output was:
[code]
This looks reasonable to me.

[2022-04-22 06:04] meistermeier commented on #2516
There is now a https://github.com/meistermeier/neo4j-issues-examples/tree/master/gh-2516-kt and it shows the same behaviour as the Java version.

[2022-04-27 07:33] Andy2003 opened #2525 "Misleading warning message for unversioned Entities with external managed ID"
Given the following node:

[code]

and Repository:

[code]

and the invocation:

[code]

will print out:

[code]

The behavior of the library is as expected that a `merge` takes place for the entities. However, the warning message is very misleading as it suggests that either a version property is needed or duplicates of the same entity are created.

I would not expect any error message at all for

[2022-04-27 11:58] Andy2003 opened #2526 "Projecting rich relation for inherited nodes fails"
Given:

[code]

[code]

[code]

[code]

[code]

[code]

And the following data:

[code]

the following test will fail:

[code]

with this exception:

[code]

In case the `DataPoint` would not be a rich relation (by removing the `manual` field) the test will succeed.

Test-Case: https://github.com/Andy2003/spring-data-neo4j/tree/issue/gh-2526

Background:

I need to query `BaseNodeEntity` by not kn

[2022-04-27 12:47] Andy2003 commented on #2526
neo4j is trying to map:

[code]

It expects the property `AccountingMeasurementMeta__relationship__Measurand` instead of `MeasurementMeta__relationship__Measurand`.

The first part of the results property `AccountingMeasurementMeta__relationship__Measurand` is provided by the `RelationshipDescription` which states that the source of the relation is the `AccountingMeasurementMeta` instead of the `M

[2022-04-27 14:39] alxxyz commented on #2521
Can you please share what is the result of
[code]
It shows
[code]
for me

[2022-04-27 15:25] meistermeier commented on #2521
I get
[code]
as expected.
You can check this out in the issue/gh-2521 branch.
https://github.com/spring-projects/spring-data-neo4j/commit/68a53fc395e3951b384909c338992374ba16e70f#diff-870bdc2d6110e1d562badf679618d645bcdd33d31c21bf16cc505f528f99b3c6R1360

[2022-04-27 15:44] meistermeier commented on #2525
The message itself is still needed even if it does not apply to your use-case.
It warns user why their auditing might not work as expected. Also there are some optimizations in the code if the entity is assumed as new.
For the id bit (combined with the `merge`): The merge is, strictly speaking, just used because we do not make any check if the entity is not before issuing this call. So new and exi

[2022-04-27 15:44] #2525 closed

[2022-04-27 16:00] meistermeier commented on #2525
Not really. Also it is applicable for the given use case: SDN treats it as new. As I said, the merge is -like the statements for generated ids- "create or update" statements.

[2022-04-28 13:25] CarbonHeartDev opened #2528 "Better management of uncompatible types"
Neo4j is pretty restrictive on the types of data which it allows, or example it's impossible to nest lists or objects inside another list. The issue comes from the fact which when the developer tries to use these types on its entities it gets misleading runtime errors which can be hard to fix for teams which aren't very experienced in Neo4J.

In my opinion implementing a boot time check of the per

[2022-04-28 21:09] cberes opened #2529 "BeanInstantiationException with @DynamicLabels and multiple levels of inheritance"
SDN 6.2.4 is unable to instantiate nodes with multiple levels of inheritance and a non-empty `@DynamicLabels` field.

I have an [example repo](https://github.com/cberes/sdn-dynamic-labels-bug) but here is a summary of the problem.

For example, say you have a super class

    @Getter
    @Node
    public abstract class Animal {
      @DynamicLabels
      private Set<String> labels = new TreeSet<>(

[2022-04-29 05:00] cberes opened #2530 "Wrong type of node instantiated causing ClassCastException"
SDN 6.2.4 may instantiate the wrong type of node under certain circumstances.

I have an [example repo](https://github.com/cberes/sdn-interface-node-bug) but here is a summary of the problem.

For example, say you have this weird type hierarchy

    @Node
    public abstract class Animal {
    }

    @Node
    public interface Cat {
    }

    // No Node annotation!
    public class DomesticCat ex

[2022-04-29 06:05] spring-projects-issues commented on #2516
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-05-01 12:27] meistermeier commented on #2529
Thanks for reporting this and providing the nice to follow reproducer. Already the first run seems to uncover that there might be an error in the processing of the labels from the database if a dynamic label is involved.

[2022-05-02 12:54] meistermeier opened #2531 "Replace generated deprecated Cypher statements"
Upgrade to latest CypherDSL version that brings Cypher dialects.
It should also provide the option to define a CypherDSL `Configuration` bean instead of just the dialect that is part of the configuration.

[2022-05-02 13:59] meistermeier commented on #2531
Closed with 0e055f96d (6.3) and f63af3876 (main/7.0)

[2022-05-02 13:59] #2531 closed

[2022-05-03 10:28] #2529 closed

[2022-05-03 11:27] meistermeier commented on #2529
It will be fixed in the upcoming versions. You could give the `6.2.5-SNAPSHOT` a try.

[2022-05-03 11:43] meistermeier commented on #2530
Good observation and thanks for pointing this out.
I won't consider this as a bug because you have hit a scenario that is the result of Spring Boot auto-configuration and SDN's lazy registration of eligible entities.
If you start your application with no manual bean configuration, Spring Boot will configure the initial entities based on the explicitly `@Node` annotated classes. Those will be colle

[2022-05-03 14:39] frederic-kneier opened #2532 "Kotlin polymorphism with data classes seems impossible"
I'm currently unable to query for nodes using a base class or interface. If using an interface I get an error telling me the entity is unknown.

Using a abstract class neo4j does not recognize the id field of the base class unless it is not abstract. Having a non abstract id field makes using this abstract class as a base for a derived kotlin data class.

The mapping annotations should be targeted

[2022-05-03 15:45] cberes commented on #2530
thanks for looking into this. If I understand correctly, my organization is already using manual bean configuration but we are seeing this bug. I wonder if there is a bug in Neo4jEntityScanner. It doesn't seem to find all available entities. For example I added this configuration to my example project

	@Configuration
	public class Neo4jConfig extends AbstractNeo4jConfig {

	  @Override
	  protect

[2022-05-04 06:35] meistermeier commented on #2530
The `Neo4jEntityScanner` does exactly what I have explained in my previous comment. For a bunch of classes it looks for the `@Node` annotated ones. Otherwise automatic scans, like the one that got triggered by Spring Boot, would discover _all_ classes as -at least- candidates for entity registration.
If you are sure that all classes that you pass over should get scanned as entities, you could over

[2022-05-04 06:51] meistermeier commented on #2532
Thanks for reporting this. We are happy to investigate on this, if you could provide a small reproducer for your problem. For now it's too much guessing e.g. on which level the (abstract) classes are annotated with `@Node` etc.
I would guess that the problem is somewhere to find in the second paragraph (either on our or your side), but I am not sure.

[2022-05-04 15:30] spring-projects-issues commented on #2521
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-05-05 11:20] meistermeier opened #2533 "Projection support for dynamic relationships"
When using a dynamic relationship, the property filter does not get asked if it contains the property.
It does instantaneously continue to update all relationships.
This brings problems if an incomplete entity gets loaded and should get persisted with a projection "blueprint" via `Neo4jTemplate#saveAs`.

Conversation: https://community.neo4j.com/t/how-to-correctly-update-a-relationship/55682

[2022-05-06 02:05] 410656275 opened #2534 "@Depth in sdk 6.X"
sdn 5.X have the annotation org.springframework.data.neo4j.annotation.Depth，but in the 6.X I can not find this。
I would like to ask if there is an alternative to this annotation

[2022-05-06 06:05] spring-projects-issues commented on #2516
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-05-06 06:05] #2516 closed

[2022-05-06 06:10] lukaszmaternia opened #2535 "Generic type as relationship endNode bug"
Hi, I have found some problems after migrating from older version of spring data neo4j to current sdn6.

Test code: https://github.com/lukaszmaternia/sdn6-example
Look at classes PeopleRepositoryIntegrationTest and Relationship

Occurs when using dto projection and relationship has endNode with generic type - but only in half of test runs (new spring context required between runs) and for other ha

[2022-05-06 09:04] meistermeier commented on #2534
You would use projections ( https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#projections.sdn.multi-level ) for this. This is an even more detailed way to define a blueprint / slice for the data to load.

[2022-05-06 09:04] #2534 closed

[2022-05-06 20:23] cberes commented on #2530
Thanks! I was able to test this version, it does appear to pass intermittently now, around half of the time. Though it does seem to have some kind of race condition happening since it will still sporadically fail.

[2022-05-09 08:48] meistermeier commented on #2530
That's odd. Did you change something other than the dependencies? I tried to make it fail but it kept passing for 1000 runs.

[2022-05-09 16:52] cberes commented on #2530
Sounds good. If I'm able to reproduce the intermittent failures in an example project I'll open a follow up. Thanks for looking into this.

[2022-05-09 19:11] Andy2003 commented on #2526
You branch does not work for my use-case. It is not determining the right base class. I need to dig deeper to find the cause. I'll keep you updated.

[2022-05-09 19:29] Andy2003 commented on #2526
@meistermeier please take a look at the extended test I've added via https://github.com/Andy2003/spring-data-neo4j/commit/6ada466a166d1fbc3a1ff009738448530a73edbe this will work with my solution but not with your branch.

[2022-05-10 05:55] meistermeier commented on #2526
Added the extended test and things are still working.

[2022-05-10 06:35] michalgunia commented on #2535
I have the same issue, it is blocking our migration to new sdn6 version

[2022-05-10 07:37] Andy2003 commented on #2526
You missed to setup the extended data:

[code]

with this data the test will fail

[2022-05-10 08:16] meistermeier commented on #2526
Thanks, I have missed this one. It is now fixed in the branch.

[2022-05-10 08:54] Andy2003 commented on #2526
Perfect, all my tests are green with this solution!

[2022-05-10 08:58] Andy2003 commented on #2420
Is there a possibility of downporting this to 6.2 so we don't have to wait for the next spring boot release?

[2022-05-10 09:25] meistermeier commented on #2526
Thanks for your feedback.

[2022-05-10 09:42] #2526 closed

[2022-05-10 11:58] #2530 closed

[2022-05-10 15:12] #2533 closed

[2022-05-11 06:53] meistermeier commented on #2535
The underlying problem seems to be that your property `parents` in the projection does not match the property of the entity `Person` `parentRels`.
Also you have to take care to return the right type. SDN will put `ParentToChild` instances into the `Parent`-typed variable.

This makes the test happy:
[code]

[2022-05-11 06:55] spring-projects-issues commented on #2532
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-05-11 08:07] meistermeier opened #2536 "Backport - Dynamic projection for Neo4jTemplate#save"
Is there a possibility of downporting this to 6.2 so we don't have to wait for the next spring boot release?

_Originally posted by @Andy2003 in https://github.com/spring-projects/spring-data-neo4j/issues/2420#issuecomment-1122119828_

[2022-05-11 08:09] meistermeier commented on #2536
Done by 23e6f188e945e654fa48b1b2888264da8e8cd86a

[2022-05-11 08:09] #2536 closed

[2022-05-11 08:13] meistermeier commented on #2518
Just an update on this issue: We changed the query creation to a form similar to the provided one above. Unfortunately other types of data constellation are far more impact now by a performance degradation.
I will keep this issue open to see if we could find some kind of "best average".

[2022-05-11 08:37] lukaszmaternia commented on #2535
It not helps as sdn6 doesn't provide start node in relationships and we need access to that parents.

My main point is that framework works well in 50% of times so it seems that it is possible to fix something inside to be more stable

Its the full exception we get:
`org.springframework.dao.TypeMismatchDataAccessException: Could not convert node<2> into org.neo4j.tips.sdn.sdn6.movies.Person; neste

[2022-05-11 08:44] meistermeier commented on #2535
Yes, I have seen this very error message. Correcting it to the right property does make it not fail.
With the model and projection with the `parent` field, you have given in the reproducer, SDN assumes that the `PersonWrapper` is something completely different than a projection of the entity `Person`.
This is something that does only gets delegated to us by the spring-data-commons infrastructure.

[2022-05-11 09:39] venkat125 opened #2537 "Target of relationship property entities is serialised into properties and not as a separate property."
Please take a look on [test case](https://github.com/spring-projects/spring-data-neo4j/blob/f63af38769f41e6373edd1144923d5de6a24ca6f/src/test/java/org/springframework/data/neo4j/integration/issues/gh2323/GH2323IT.java). Below is the follow up of the reference test case.

### case 1 :
It updates `department` and `age` property in `Person` Entity, but not updating relationships between person and la

[2022-05-11 15:30] spring-projects-issues commented on #2521
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-05-12 06:19] meistermeier opened #2538 "Upgrade CypherDSL to 2022.4.0"

[2022-05-12 06:23] #2538 closed

[2022-05-12 09:30] michael-simons commented on #2537
Thanks for the feedback @venkat125

They are actually serialized but not into the correct bucket. Will be fixed, and you'll find an example in the linked test class

[2022-05-12 09:41] michael-simons commented on #2537
I also changed the title: The target entity is in fact not correctly serialised, the properties are. I didn't run you code because APOC and also I don't have time to debug the query, but things on the properties side are working correctly.

[2022-05-12 10:27] #2537 closed

[2022-05-13 08:22] #2522 closed

[2022-05-13 09:00] #2511 closed

[2022-05-16 12:54] mp911de opened #2539 "Release 6.3.1 (2021.2.1)"

[2022-05-16 12:55] mp911de opened #2540 "Release 7.0 M5 (2022.0.0)"

[2022-05-18 06:55] spring-projects-issues commented on #2532
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-05-18 06:55] #2532 closed

[2022-05-18 08:45] spring-projects-issues commented on #2535
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-05-21 10:16] sunny-chung opened #2541 "Cannot query fields defined as types of base classes"
------------ Basic Info ------------

Spring Data Neo4j Version: 6.3.0
Neo4j Database Version: 4.4.5
JVM Version: 11.0.12

Sample Project: https://github.com/sunny-chung/movies-java-spring-data-neo4j-6-bug-demo

------------ Description ------------

After migrating to SDN 6, entity classes defined as fields with type of base classes cannot be queried.

For example, in the sample project, part of

[2022-05-23 05:57] GrahamLea opened #2542 "Regression: Constraint Validations are no longer translated into DataIntegrityViolationException with neo4j-java-driver >= 4.3.2"
# Scenario
Execute a modifying Neo4j transaction that results in a constraint violation.

# Expected behaviour
The repository throws a `org.springframework.dao.DataIntegrityViolationException`.
(This is what it does with `neo4j-java-driver` versions < 4.3.2)

# Actual Behaviour
The repository throws a `org.neo4j.driver.exceptions.ClientException`.

# Reproduction
1. Clone `https://github.com/Graha

[2022-05-23 07:19] michael-simons commented on #2542
Puh, this is on a very old SDN version that we actually don't support anymore. There's actually little I can do, VMWare most likely won't do any release of the old 5.x branches anymore.

However, I think this can be fixed in the underlying OGM.

OGM 3.2.34 will go out this morning, please try it out and close the issue if this fixes things for you.

[2022-05-24 07:18] michael-simons commented on #2542
That's kinda odd, because our CI says the job has finished correctly and normally, central isn't that slow.
In short: Yes, it should have been on central.

[2022-05-24 07:52] michael-simons commented on #2542
Ok, it was a problem of the operator (me, in this case) which is solved now.

https://repo1.maven.org/maven2/org/neo4j/neo4j-ogm-core/3.2.34/

Thanks for your ping, @GrahamLea

[2022-05-24 11:51] GrahamLea commented on #2542
Yep, 3.2.34 has fixed it. Thanks. Amazing service! 😉👏

[2022-05-24 11:51] #2542 closed

[2022-05-24 11:59] michael-simons commented on #2542
Thanks a lot for your feedback <3

[2022-05-24 12:06] meistermeier opened #2543 "Fix Neo4j 5.0 Cypher incompatibility in tests"

[2022-05-24 15:52] #2543 closed

[2022-05-25 08:45] spring-projects-issues commented on #2535
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-05-25 08:45] #2535 closed

[2022-05-27 15:12] cberes opened #2544 "Neo4jTemplate.saveAllAs throws NullPointerException when given empty list"
`Neo4jTemplate.saveAllAs(Iterable<T>, Class<R>)` throws NullPointerException when given an empty list, for example

    neo4jTemplate.saveAllAs(emptyList(), Projection.class);

throws the following Exception

    java.lang.NullPointerException
	 at java.base/java.lang.Class.isAssignableFrom(Native Method)
	 at org.springframework.data.neo4j.core.Neo4jTemplate.saveAllAs(Neo4jTemplate.java:525)
	 at

[2022-05-28 10:24] venkat125 opened #2546 "Projection seems not working from spring-data-neo4j:6.2.2"
Spring projection is throwing error while getting RootNode by customId (not internal id)
eg: `repository.findBynid(id, MinDataProjection.class);` as node custom primary id is `nid`
Spring version `'org.springframework.boot:2.6.7` having Spring data version `spring-data-neo4j:6.2.4`
But when overridden by `spring-data-neo4j:6.2.1` its working fine.
Projection:
[code]
Is that something changed recen

[2022-05-30 08:06] #2544 closed, assigned to nobody

[2022-06-03 07:32] mp911de opened #2547 "Upgrade to Maven Wrapper 3.8.5"

[2022-06-03 07:39] mp911de opened #2548 "Upgrade to Maven Wrapper 3.8.5"

[2022-06-03 07:39] #2548 closed

[2022-06-03 07:42] mp911de opened #2549 "Upgrade to Maven Wrapper 3.8.5"

[2022-06-03 07:42] #2549 closed

[2022-06-07 17:13] venkat125 opened #2550 "Returning null on other relationships only when MERGE relationship inside UNWIND"
I'm using `@Query` on Repository for updating `motherTongue` and `known languages` [similar model in IT](https://github.com/spring-projects/spring-data-neo4j/blob/3bbff33353b4e79a709bb8ff08bf96f3d5900a18/src/test/java/org/springframework/data/neo4j/integration/issues/gh2323/GH2323IT.java) + [motherTongue in model](https://github.com/spring-projects/spring-data-neo4j/issues/2386#issue-1006424692)

[2022-06-09 13:36] dilipdhankecha2530 opened #2551 "Add New Relation, Remove Existing Relation"
While adding new relationship, the old relation is removed.

Expected behaviour,
Not remove the relationship and add new one.

[2022-06-10 19:01] meistermeier commented on #2551
This is expected behaviour to happen if you do not load the entity completely.
Expected usage: Load either the reachable graph for this object (https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#query-creation.save) or use a projection for loading and/or persisting your data: https://docs.spring.io/spring-data/neo4j/docs/current/reference/html/#projections.sdn.multi-level

[2022-06-10 19:54] meistermeier commented on #2541
Thanks for reporting this.
At the moment there is no concept in SDN to support non-entity parent classes in the mapping declaration.
There are basically two solutions to this:
1. You have to add the `@Node` to the base class and to as a label to the node in the database.
2. You stick with the concrete definition of a `Person` in the `Movie` entity that is still a child of the `Base` class. In this

[2022-06-13 12:55] michael-simons opened #2552 "Align punctuation in Exception messages with Spring Data Commons"
Following the adaption to https://github.com/spring-projects/spring-data-commons/issues/2603 we will align our exception messages in SDN 7 with the Spring Data Commons and the framework. cc @jxblum

[2022-06-14 07:35] meistermeier commented on #2546
Thanks for reporting this. I tried to reproduce the issue but are struggling with the `The attribute 'knows' is not mapped to a Graph property!` problem.
Where did you define it? In the projection there is no mention of this and just putting it into the domain entity (and/or the projection) does not create any problem.

[2022-06-14 10:02] venkat125 commented on #2546
Its similar to model in [IT case](https://github.com/spring-projects/spring-data-neo4j/blob/3bbff33353b4e79a709bb8ff08bf96f3d5900a18/src/test/java/org/springframework/data/neo4j/integration/issues/gh2323/GH2323IT.java)
sorry for missing the reference of entity.

[2022-06-14 10:08] meistermeier commented on #2546
I have tried to understand how to you were referring to the `Person` in this test with your projection. Also substituted `knows` with the `knownLanguages` but yet no luck in reproducing the issue.
Is it possible for you to create a simple Spring Boot project with a reproducer? Also tried this to break out of pure Spring Data integration tests and switching between released 6.2 versions easily, but

[2022-06-14 14:49] michael-simons opened #2553 "Consolidate issue related integration tests."
Instead of spinning up a container per ticket, we should consolidate the tests into imperative and reactive tests, spinning up only one container per and make sure the data / tests are independent (as they are now anyway). This will lead to less build time and also to less infrastructure code.

[2022-06-14 14:57] #2553 closed

[2022-06-14 16:39] meistermeier commented on #2550
TBH It took me some time to understand the query.

This means that at least the `fmtl` was null when the query was issued, right?
I am wondering if also the `mt`_ = English_ was not existing at this moment. This would be the only explanation I can think of right now.
The result

looks like there was only one language in the `relations` field (German), right?
As a consequence, the `UNWIND` does jus

[2022-06-15 13:48] jmbarroso commented on #2551
@meistermeier we are experiencing something similar. Is there any example we can check how to model nodes and relationships? ; what you are sharing as expected behavior seems confusing and I'm not sure what is the right pattern to model and save data.

[2022-06-15 17:59] venkat125 commented on #2550
Sorry if the query is not clear for reading. Let me try to explain a bit.
JFYI, Assume Person's mother tongue is `English` and that person knows `German` as below graph depicts
![issue 2550](https://user-images.githubusercontent.com/13637722/173880349-0613edbd-08ad-49c3-a0dc-8969ea432aff.png)

Being said that, the query in the OP is update query where it would return input itself, if the input and

[2022-06-15 18:19] #2546 closed

[2022-06-15 18:21] venkat125 commented on #2546
Had many changes after that. Tried reproducing but couldn't. Sorry for wasting your time. Hence, closing. Will reopen if i came across again. Thanks.

[2022-06-17 07:36] meistermeier commented on #2550
The problem is rooted in the combination of returned lists and plain node and relationship.
[code]
SDN checks for `list(relationship)` and/or `list(node)` first to pick them out of the result. If such entries exists, it skips the part of single node/relationship due to performance reasons.

The quick fix for your problem would be to change the last return statement to:
[code]

I am currently inves

[2022-06-17 10:54] #2550 closed

[2022-06-17 10:55] meistermeier commented on #2550
Thanks again for reporting this. I removed the exclusive adding (either plain or list) of result entities in the mapping preparation part. Should work with the initial query out-of-the-box with the next (6.3.1) release.

[2022-06-19 10:45] venkat125 commented on #2537
Thanks that worked @michael-simons.
Just having another related doubt on accessing 1-1 target value using person object.
![GH2537-question](https://user-images.githubusercontent.com/13637722/174476467-62ccde79-db06-48f4-883b-adf83606ff56.png)

so in addition to existing model added `MotherTongue` relationship which is 1-1 as depicted in above diagram
added:
[code]
Relationship Entity
[code]
in thi

[2022-06-20 08:35] meistermeier opened #2554 "Upgrade Java driver to 4.4.6"

[2022-06-20 08:37] #2554 closed, assigned to nobody

[2022-06-20 09:20] #2523 closed

[2022-06-20 09:21] mp911de opened #2555 "Release 6.2.6 (2021.1.6)"

[2022-06-20 09:47] mp911de opened #2556 "Release 6.3.2 (2021.2.2)"

[2022-06-20 10:58] michael-simons commented on #2537
Hi. Thanks for your feedback (again) @venkat125 .
I looked into this and while it seems like some "driver /. client" error, it's actual a Cypher error, which made this kinda hard to debug (it led me to the wrong conclusions).

The error your observing results from the fact that we serialize 1:1 relationships like 1:many (as a list of things). This is not intuitive, but it is the way it is right no

[2022-06-22 09:41] michael-simons opened #2557 "Documentation about `@Transactional(readOnly=true)` is unclear."

[2022-06-22 13:05] michael-simons opened #2558 "Make derived finder methods using read-only queries."

[2022-06-22 13:31] #2557 closed

[2022-06-24 17:17] touseef306 opened #2559 "Relationships of a Node were not saved completely"
I have a node with 4 relationships but while saving only 1, 2, or 3 (different behavior on every API call) relationships get saved to the database but it should not be the case. All the relationships should be persisted.

[2022-06-27 06:29] #2539 closed

[2022-06-27 13:05] meistermeier commented on #2559
Do you have any reproducer that we can use for this?
Also seeing data construction and persistence call might already help.

[2022-06-27 16:17] touseef306 commented on #2559
Yes let me share the code link
https://drive.google.com/drive/folders/15bswbzFvVeBgAsQ8dofjJaQNe6XJI4FD?usp=sharing

this link contains the code. You can easily reproduce it by just running the project and calling the API localhost:8080/api/v1/insert_data

[2022-06-27 16:19] touseef306 commented on #2559
What about the data persistence and construction call, can u please elaborate a bit.

[2022-06-28 05:07] dilipdhankecha2530 commented on #2551
@meistermeier

Do you have an example or anything from where we can get the idea about the projection concept.

[2022-06-28 11:31] meistermeier commented on #2551
I think this is a good integration test to get the idea:
https://github.com/spring-projects/spring-data-neo4j/blob/10e0f8610a87d07868cd6c4b960409ddf9bacbc9/src/test/java/org/springframework/data/neo4j/integration/movies/imperative/AdvancedMappingIT.java

[2022-06-28 12:41] touseef306 commented on #2559
Instead of test case u can simply remove extra lines from files which resides under resources/csv_files. You will be left with your desired data set.

[2022-06-28 13:04] meistermeier commented on #2559
Please provide at least a xls that matches this. I have no idea where to trim it neither what are the right entries to look for the problem.

[2022-06-28 14:43] meistermeier commented on #2559
Maybe I am blind but can you tell me where to spot the problem?
I can see InComing and Outgoing relationships with the correct number in the `counter` field. Also the SMS relationship numbers seem fine.

[2022-06-28 14:50] touseef306 commented on #2559
Can u pls share any desk to reproduce the issue

[2022-06-28 14:52] touseef306 commented on #2559
You can put breakpoint on repository save method, which is calling after setting the 4 lists into msisdn.
You will see after invoking the save method that some out of 4 lists didn't persist in the database and contain null ids

[2022-06-29 07:35] michael-simons opened #2560 "Kotlin test classes warn about non-matching overrides."

[2022-06-29 07:44] #2560 closed

[2022-06-29 08:42] meistermeier commented on #2559
This is what I see
![image](https://user-images.githubusercontent.com/435872/176392789-8bd004ae-96b9-4b60-a70e-071d4fea53ab.png)

Everything has an identifier set _after_ the save operation has passed.

[2022-06-29 10:34] shehbazganja commented on #2559
Did u change anything in the code?

[2022-06-29 10:42] meistermeier commented on #2559
Nope. Everything as loaded from the g drive two days ago.

[2022-06-29 10:47] shehbazganja commented on #2559
I have checked it once again and this time it saved one list and return null for the ids of three other lists. pls have snap
![inc call](https://user-images.githubusercontent.com/108401728/176418801-1d26ace2-02d5-46db-bb41-7178da69a23b.PNG)
![incsms](https://user-images.githubusercontent.com/108401728/176418808-12f232e0-a85a-4580-997f-a482cd44a1e7.PNG)
![out call](https://user-images.githubusercon

[2022-06-29 11:32] ChrisHilborne opened #2561 "save() method on Neo4JRepository does not update @RelationshipEntity object"
Updating any data, including nodes, is not propagated to the DB when using the default save() method.

When I check the object that is returned from the save() method - it has the expected, and updated, properties. However, querying the Neo4J instance shows that the update has not been propagated to the DB itself.

The method works perfectly when creating a new Relationship. So my work around at t

[2022-06-29 12:20] meistermeier commented on #2559
Then I would need the full file again (maybe in parallel to the existing short one). I forgot that it was not a git repository and could not reset to the old state.

[2022-06-29 13:08] touseef306 commented on #2559
required files placed in the drive check now

[2022-06-30 14:24] touseef306 commented on #2559
You are using the same excel files, right? Because I just notice in the recording that there are still limited number of relationships. I am referring to the recording of api call you shared earlier.

[2022-06-30 14:27] touseef306 commented on #2559
To be more pricise there are 3 excel files. Two of them have limited number of records. Those two files will persist correctly. Issue will appear in the file which has comparatively larger number of records. Hope you got my point.

[2022-06-30 14:42] touseef306 commented on #2559
Pls use the same file without deleting entries to reproduce the error. Just call the api, set the breakpoint and have a cup of coffee.

[2022-06-30 17:16] meistermeier commented on #2559
Nothing deleted ✅
Called the API ✅
Made myself a coffee ✅
Was seeing the result above ✅
Made another cup of coffee ✅
Again the same result and recorded the clip ✅

(I answered this previously via mail, so please ignore it if it comes in as a duplicate later :) )

[2022-06-30 18:25] meistermeier commented on #2559
The following result is the same (regarding nulls) for run1, run2 and run3.

<details>
  <summary>JSON response</summary>

[code]

</details>

[2022-06-30 19:11] touseef306 commented on #2559
outgoing calls didn't persisted this time else is fine

[2022-07-01 11:27] michael-simons opened #2562 "The difference between older versions of SDN and SDN6 are not made clear enough in the documentation"

[2022-07-01 13:52] touseef306 commented on #2559
How can I help to reproduce this? My project is on halt just because of
this issue. I have gone through tons of resources but didn't find a
solution. Please let me know how to proceed to reproduce the issue and get
a solution.

On Thu, Jun 30, 2022 at 10:16 PM Gerrit Meier ***@***.***>
wrote:

[2022-07-01 14:47] #2562 closed

[2022-07-05 11:35] spring-projects-issues commented on #2551
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-07-06 13:05] spring-projects-issues commented on #2561
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-07-07 09:29] shehbazganja commented on #2559
bro any update about the issue?

[2022-07-09 11:37] ChrisHilborne commented on #2561
Hello again!

After doing some further testing I realized that the problem is at my end. I was creating a new @RelationshipEntity with the updated data - changing it's id to that of the one I wanted to update - and calling save() expecting it to update...

Apologies for the trouble.

[2022-07-09 11:37] #2561 closed

[2022-07-11 06:16] michael-simons commented on #2561
Thanks @ChrisHilborne for your kind feedback!

[2022-07-12 09:10] michael-simons opened #2564 "There is no example how to combine custom callbacks with auditing callbacks."

[2022-07-12 09:30] #2564 closed, assigned to michael-simons

[2022-07-12 11:35] spring-projects-issues commented on #2551
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-07-12 11:35] #2551 closed

[2022-07-12 17:12] cberes opened #2565 "Default values in entities are not used, potentially causes NullPointerExceptions"
SDN does not respect default values set in entities. This differs from OGM's behavior.

For example, say you have an entity like this

    @Getter
    @Setter
    @Node
    public abstract class MyNode {
      @Property("name")
      private String name;

      @Property("active")
      private boolean active = true;

      @Property("age")
      private Integer age = 25;
    }

And you create a n

[2022-07-13 07:08] michael-simons commented on #2565
I tend to agree this is a bug.